[2019-03-05 17:21] NejcZdovc commented on #1235
@srirambv did maybe contribution happened between step 2 and 3?

[2019-03-05 17:46] anthonypkeane commented on #850
We are still seeing  chrome://rewards not brave://rewards @SergeyZhukovsky

[2019-03-05 17:48] lhorace commented on #850
Hello there,

Seems to me that PR hasn't been merged?

[2019-03-05 18:00] srirambv commented on #1235
No there was no contribution in progress or completed. This was well within the contribution time frame

[2019-03-05 18:26] bbondy commented on #850
@anthonypkeane we'll get brave:// scheme for free in the urlbar once we move to Brave Core.

[2019-03-05 18:37] SergeyZhukovsky commented on #1230
@jamesmudgett @anthonypkeane we had it Rewards Settings but in the design it shows Settings. I think we even discussed how it should be and decided to change to Settings at the end.
<img width="302" alt="screen shot 2019-03-05 at 1 34 31 pm" src="https://user-images.githubusercontent.com/12011303/53828468-c7481d80-3f4b-11e9-9355-c52fe893ade8.png">
Should we go ahead and change it to Rewards Settin

[2019-03-05 19:02] SergeyZhukovsky commented on #1132
@ryanml should the commit above ^ fix the issue? I still don't see any option to restore a website.

[2019-03-05 19:11] Navds commented on #81
It reminds me of Microsoft's obsession with useless Skype updates, ignoring users call for  nothing but a simple yet working app. Sorry, this is all but usable. These people don't look for aesthetic, they want a browser for intense use.

[2019-03-05 19:12] AlexeyBarabash commented on #850
This PR hasn't been merged.
In fact this PR is taken from two brave-core PRs plus some Android related minor changes.

[2019-03-05 19:21] anthonypkeane opened #1247 "Internal Security Ticket"
Pls see: https://github.com/brave/internal/issues/529

[2019-03-05 19:38] lhorace commented on #81
So the developers should drop this and focus on `Night Mode`? Watch https://youtu.be/dckiJ-vycpY?t=40 to see why sometimes Dark Mode in browsers could be useless. Alternatively, if Brave support Theme extensioins, e.g Firefox which has a Dark Mode theme, be a better idea?

I want aesthetic but wouldn't `Theme extensions` be a better avenue, if you agree with, than commit developer resources on thi

[2019-03-05 19:39] SergeyZhukovsky commented on #1226
I don't see an issue with the latest brave-core. In any case I don't it's P1, P2 as the website doesn't disappear really it just disappears on tab switches, some draw effect, but doesn't break a functionality at all

[2019-03-05 19:41] SergeyZhukovsky commented on #1247
I don't think we can do something here, cc @evq

[2019-03-05 19:44] ryanml commented on #1246
Fixed via: https://github.com/brave/browser-android-tabs/commit/4a92abc932e2935a1a05e37834dfb0ee68b50a3e

[2019-03-05 19:44] #1246 closed

[2019-03-05 21:39] samartnik commented on #1210
This is done in this branch https://github.com/brave/browser-android-tabs/tree/default_browser_selection

[2019-03-05 21:39] #1210 closed

[2019-03-05 21:39] #1208 closed

[2019-03-05 23:50] fmarier commented on #454
Yan pointed out to me that the option for it was removed in #507 since it didn't work at the time (#475),

[2019-03-05 23:58] ryanml commented on #1156
Fixed via: https://github.com/brave/browser-android-tabs/commit/0d7fc66260f4baedae30e0882c36485d3a3ef16d

[2019-03-05 23:58] #1156 closed

[2019-03-06 00:31] ryanml commented on #1132
@SergeyZhukovsky this is fully fixed as of: https://github.com/brave/browser-android-tabs/commit/2e2e351cfda11d62ada9a89cd5d43aa903b4124c

![screenshot_20190305-172140_brave - debug](https://user-images.githubusercontent.com/8732757/53847044-1d28bf80-3f64-11e9-8f40-613e65062589.jpg)

Note that retesting should be done with a clean start

[2019-03-06 00:31] #1132 closed

[2019-03-06 01:10] ryanml commented on #987
@SergeyZhukovsky JS logic was missing, fixed here: https://github.com/brave/browser-android-tabs/commit/a8e172cb03d8226d515110a6e524b04b57c4e6a4

[2019-03-06 01:10] #987 closed

[2019-03-06 01:11] ryanml commented on #987
Just like desktop, error will show if bad file is uploaded, and rewards will proceed to recover if a good file is provided.

![screenshot_20190305-181048_brave - debug](https://user-images.githubusercontent.com/8732757/53848565-aee6fb80-3f69-11e9-9232-e07a89f3f448.jpg)

[2019-03-06 01:13] ryanml commented on #1184
Closing this issue in favor of: https://github.com/brave/browser-android-tabs/issues/1183 as it describes the networking issue at hand.

[2019-03-06 01:13] #1184 closed

[2019-03-06 03:59] Brave-Matt commented on #1180
@jamesmudgett

[2019-03-06 04:21] SergeyZhukovsky commented on #1232
@ryanml I investigated that I believe you have to call `GetRewardsMainEnabled` on settings page open.

[2019-03-06 04:25] gdregalo commented on #1138
Fixed in:
https://github.com/brave/browser-android-tabs/commit/43852bc48d5d9cdc0f7d5c0ce4751894c2750c6d

[2019-03-06 04:25] #1138 closed

[2019-03-06 04:27] ryanml commented on #1232
@SergeyZhukovsky issue is there is no webui method set up for getting rewards main enabled. (No `brave_rewards.getRewardsEnabled` in core)

How is Rewards being enabled via the panel? What calls does it pass through? It should trigger an observer when Rewards is disabled/enabled (OnRewardsMainEnabled gets called) then the settings page listens for the change and updates appropriately. This flow on

[2019-03-06 06:45] NejcZdovc commented on #1232
in core we don't allow user to enable from the panel, that's why it's not working on android. @mandar-brave @davidtemkin @jenn-rhim do we want to have parity here?

desktop:
![image](https://user-images.githubusercontent.com/9574457/53861122-7c79e480-3fe3-11e9-88fe-c3966265e838.png)

mobile:
![image](https://user-images.githubusercontent.com/9574457/53861199-c236ad00-3fe3-11e9-9968-4e8a82124260.pn

[2019-03-06 07:18] NejcZdovc commented on #1232
ok we want parity, so I created https://github.com/brave/brave-browser/issues/3597 to change it in desktop as well

[2019-03-06 07:46] ryanml commented on #1232
Reopening (got auto-closed by mistake)

This was fixed partially upstream here: https://github.com/brave/brave-core/pull/1864

Once brave-core is updated in Android I can finish the fix cc: @SergeyZhukovsky

[2019-03-06 11:19] fhelwanger commented on #81
Yeah most of time when people complaining say "ignoring users" then really meant "ignoring me" 😆

Although I'd really like dark mode (that's why I'm here), the devs are already aware of it but they're prioritizing other features (as already previously said). They have more data than us to say which feature is more important.

Instead of giving useless complains and comments here, which trigger a l

[2019-03-06 15:35] gdregalo commented on #1129
Fixed in:
https://github.com/brave/browser-android-tabs/commit/3b6dc2f30e2e6ab80ace94ca2c5b3f855dca5d71

[2019-03-06 15:35] #1129 closed

[2019-03-06 16:04] #1239 closed

[2019-03-06 16:26] srirambv opened #1249 "Cleanup SE part 2"
To maintain parity between iOS and Android

Search engines to support:

- Google
- DDG
- DDG Lite
- Qwant
- StartPage
- Yandex

Any pre-set search engines should be retained on upgrade

- Infogalactic will be completely dropped regardless of user's set engine in either mode.

[2019-03-06 18:06] gdregalo commented on #1128
Fixed in:
https://github.com/brave/browser-android-tabs/commit/ca4b2c61062715b6c84ed54262faed0de8c16c13

[2019-03-06 18:06] #1128 closed

[2019-03-06 19:13] LaurenWags opened #1251 "claim banner still displayed even after grant claimed from panel"
## Description
Once the claim banner is displayed on chrome://rewards, if you claim the grant from the panel the claim banner doesn't go away.

## Steps to Reproduce

1. Install 1.0.85 (BR_5)
2. Tap on BAT logo
3. Tap on Join Rewards
4. Before notifications display on panel, tap on Settings to be navigated to chrome://rewards page
5. Once claim banner is displayed on chrome://rewards page, tap on

[2019-03-06 19:13] LaurenWags commented on #1251
cc @anthonypkeane for milestone guidance

[2019-03-06 19:17] Brave-Matt opened #1252 "Feature/Suggestion: Option to move UI/Address bar to bottom of screen"
## Description
This is an updated consolidated issue for the "Bottom address bar" feature commonly requested by mobile users (#54, #620).

**Reasoning**: Users should be offered this option for several reasons - the main one being the high variability of device types and screen sizes that a user may be browsing on. Having the same uniform layout across all devices works, but is not practical from

[2019-03-06 19:18] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907197-86aadb80-4001-11e9-9ac8-a73dedca46c0.png)

[2019-03-06 19:18] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907221-94f8f780-4001-11e9-9442-4339ac8ffb29.png)

[2019-03-06 19:18] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907247-a0e4b980-4001-11e9-942f-b5de026b4f4d.png)

[2019-03-06 19:19] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907269-aa6e2180-4001-11e9-8db1-e82c21bc0121.png)

[2019-03-06 19:19] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907315-c376d280-4001-11e9-9dcc-16a3b49b4b18.png)

[2019-03-06 19:20] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907342-d2f61b80-4001-11e9-9156-cce8ec01bccd.png)

[2019-03-06 19:20] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907363-dd181a00-4001-11e9-9528-eff629e0284c.png)

[2019-03-06 19:20] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907386-e7d2af00-4001-11e9-9ff9-d8faf3feddfe.png)

[2019-03-06 19:21] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907404-f4570780-4001-11e9-9135-db8ba40ec19c.png)

[2019-03-06 19:21] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907416-ff119c80-4001-11e9-9aa3-1bc44713eee0.png)

[2019-03-06 19:21] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907432-0a64c800-4002-11e9-93a9-ada9d2067d65.png)

[2019-03-06 19:23] Brave-Matt commented on #1252
![image](https://user-images.githubusercontent.com/3299098/53907547-45ff9200-4002-11e9-906e-3338723b1bca.png)

[2019-03-06 20:18] #1009 closed

[2019-03-06 20:57] ryanml commented on #1232
Fixed via: https://github.com/brave/browser-android-tabs/commit/4b8f9fafa5910e305f0ee27b00c729b71fd3b6a9

[2019-03-06 20:57] #1232 closed

[2019-03-06 21:00] LaurenWags opened #1254 "monthly payment in ac table and ac settings should match"
## Description
On a clean install, the Monthly Payment values on the Auto-Contribute table (chrome://rewards/contribute) and Auto-Contribute Settings (chrome://rewards/contribute-settings) do not match. On Brave-Core these values are the same on clean install.

## Steps to Reproduce

   1. Clean install 1.0.85 (BR_5)
   2. Enable Rewards (I used panel), tap on Settings
   3. From chrome://rewards

[2019-03-06 21:01] SergeyZhukovsky commented on #1182
Ok looking on the discussion 1,2,3 are good, added a message in the panel as well as #4 https://github.com/brave/browser-android-tabs/commit/5d53eb980d57282a3eb157f87935611d8447da93

[2019-03-06 21:01] #1182 closed

[2019-03-06 21:01] LaurenWags commented on #1254
cc @anthonypkeane for milestone guidance

[2019-03-06 21:14] LaurenWags commented on #1141
Issue reproduces with 1.0.85 also.

[2019-03-06 21:43] anthonypkeane opened #1255 "Grey out Add Funds button"
## Description
We won't offer the ability to add funds initially, therefore the Add Funds button on the Panel and Settings page needs to be greyed out.

[2019-03-06 21:52] anthonypkeane opened #1256 "Hide Backup & Restore Option"
## Description
Please hide the Backup & Restore option on Android

CC @mandar-brave to confirm

[2019-03-06 21:55] ryanml commented on #1256
This is a bit of an unusual request, as I had fixed quite a few bugs for this feature. It is functional at this time, and it seems critical to be able to backup and restore a wallet even for Beta. Thoughts @anthonypkeane?

[2019-03-06 22:01] anthonypkeane opened #1257 "Sync String Error"
## Description
We have an error in a Sync string

"Capture the QR code (above) with your second device, or enter code words if no camera is available."

but the code is below - see image

@jamesmudgett Can you check with Brad on this one and update

![Sync String Error.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/a30db445-66a0-4b5a-8359-54744d387ad4)

[2019-03-06 22:19] LaurenWags opened #1258 "custom tipping banners not displayed"
## Description
When I go to a site that is verified on staging with a custom tip banner, the custom banner is not displayed when I go to tip the site.

## Steps to Reproduce

   1. Navigate to a site like kjozwiakstaging.github.io using 1.0.85.
   2. Open panel, you can see that the site is verified on the panel.
   3. Tap on Send a Tip

## Actual result:
Custom tip banner is not displayed:
![tipb

[2019-03-06 22:20] LaurenWags commented on #1258
cc @anthonypkeane for milestone guidance

[2019-03-06 22:56] SergeyZhukovsky commented on #1255
@ryanml I disabled it on native panel https://github.com/brave/browser-android-tabs/commit/3c6393397aa9a3075bfca767f27e1005fb2a91d2. Could you please disable inside settings page and close the issue when done? Thanks.

[2019-03-06 23:33] srirambv commented on #1252
This is purely personal opinion and feedback
1. Should have a new tab button on the bottom bar. Reasoning for this is in current implementation opening a new tab takes three click/taps. Kabob menu -> New Tab -> Tap on URL bar. It should be just one tap/click on the newtab button which should open a new tab and put focus on the URL bar (similar to iOS behaviour)
2. Search button isn't required on b

[2019-03-07 01:49] ryanml commented on #1256
Removed via: https://github.com/brave/browser-android-tabs/commit/b8bccf4aa5360c48fe90df2585b75f6b5c71dfbf

[2019-03-07 01:49] #1256 closed

[2019-03-07 02:07] ryanml commented on #1255
Removed from settings page here: https://github.com/brave/browser-android-tabs/commit/732fb6e2f82fc93f51ee762abaed0527371065d3

[2019-03-07 02:07] #1255 closed

[2019-03-07 08:32] Brave-Matt opened #1259 "Video content Autoplays even when set to "Blocked""
## Description
Sites with videos - or when present "video-ads" - on them will still autoplay whether or not they are blocked in settings. Gif images will also autoplay while browsing regardless of Autoplay setting (#1073)

## Steps to Reproduce
   1.  `Go to Settings --> Site Settings --> Media --> Autoplay` and ensure that it's set to `Blocked`
   2.  Visit yahoo.com
   3. Scroll down the page an

[2019-03-07 14:53] LaurenWags commented on #1252
I’d like to second some of @srirambv suggestions and feedback above. Based on my personal browsing habits, his suggestions make the most sense to me and allow for satisfying a range of users. I know personally I'd get the most use out of a new tab button while I wouldn’t get much, if any, use from a search button. The long press idea is a good solution to keep both options.

Additionally, in regar

[2019-03-07 15:50] Abacate123 opened #1260 "(Feature Request) Remove the blank space left by blocked ads"
## Description:
The title say it all I guess, in Brave there's an adblock, but this adblock don't remove the spaces left from removed ads.

**Reasoning:**
Aesthetics, maybe? It also looks kinda "ugly", and it's a waste of the page space that could be filled with content if those blank spaces were removed, so less scrolling would be needed. Other browsers like Kiwi (just to mention another chromium

[2019-03-07 19:25] samartnik commented on #996
https://github.com/brave/browser-android-tabs/commit/ba80562aeb65c2e6dd3f63209c4a9f1b240c338a

[2019-03-07 19:25] #996 closed

[2019-03-07 20:33] ryanml commented on #1234
Fixed via: https://github.com/brave/browser-android-tabs/commit/a83d49266efe7d1d10c104943b8017ff13a50c4c

(Note: we are now using the actual <select> element, so we will get the mobile devices native options selector. This is so that it displays well everywhere)

[2019-03-07 20:33] #1234 closed

[2019-03-07 20:34] ryanml commented on #1202
Fixed via: https://github.com/brave/browser-android-tabs/commit/a83d49266efe7d1d10c104943b8017ff13a50c4c

(Note: we are now using the actual <select> element, so we will get the mobile devices native options selector. This is so that it displays well everywhere)

[2019-03-07 20:34] #1202 closed

[2019-03-07 20:34] ryanml commented on #1133
Fixed via: https://github.com/brave/browser-android-tabs/commit/a83d49266efe7d1d10c104943b8017ff13a50c4c

(Note: we are now using the actual <select> element, so we will get the mobile devices native options selector. This is so that it displays well everywhere)

[2019-03-07 20:34] #1133 closed

[2019-03-07 22:19] LaurenWags opened #1262 "add note that wallets are managed by Uphold"
## Description
On bc below the wallet panel on brave://rewards, it is noted that the wallets are managed by Uphold. Android should have similar messaging since currently there's no mention in the UI that the wallets are managed by Uphold.

## Steps to Reproduce

   1. Navigate to chrome://rewards
   2. Enable, if not already enabled.
   3. Look on page, no mention.
   4. Tap on the wallet section

[2019-03-07 22:19] LaurenWags commented on #1262
cc @anthonypkeane for milestone guidance

[2019-03-07 22:20] samartnik opened #1263 "Refactore BraveRewardsSiteBannerActivity code"
`              ".</font>";
            Context appContext = ContextUtils.getApplicationContext();
            Spanned toInsert;
            if (appContext != null && Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) {
`
It appears this code is duplicated several times over this class, and also duplicated in BraveRewardsSiteBannerActivity. It would be good to move it to some helper class as static me

[2019-03-07 22:44] LaurenWags opened #1264 "add copy button for copying wallet addresses in Add Funds"
## Description
On Android it's very likely that you won't have the entire wallet address displayed in Add Funds. Sometimes this is obvious, sometimes (a letter is cut off at the end of the display), sometimes it's not obvious. It would be good to have a copy button so users don't have to worry about whether they got the entire address or not.

## Steps to Reproduce

   1. Enable rewards.
   2. Tap

[2019-03-07 22:44] LaurenWags commented on #1264
cc @anthonypkeane for milestone guidance

[2019-03-07 22:52] Brave-Matt commented on #520
I still see users reports of this, and when testing on my end, results come back showing unique fingerprint, in addition to other detected data:
![image](https://user-images.githubusercontent.com/3299098/53995001-a0731e00-40e8-11e9-82ae-ced4738d4f73.png)
![image](https://user-images.githubusercontent.com/3299098/53995009-a832c280-40e8-11e9-8a95-919bb096e36f.png)

[2019-03-07 22:58] anthonypkeane opened #1265 "Improve onboarding v0.1"
## Description

Right now we drop users into a blank screen, we need to make this better.

![Onboarding.gif](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/b79ef15e-3474-4d0b-ab39-412a652faa79)

@jamesmudgett can we figure out a quick solution for this before implementing a full onboarding

[2019-03-07 23:01] LaurenWags opened #1266 "unable to see full message about how to fill wallet with tokens on small screen"
## Description
On a smallish screen (Nexus 5) I'm unable to see the full message about how to fill my wallet. The most important part (at the moment - about getting grants) is what is hidden.

## Steps to Reproduce

   1. On an Android with a small screen, enable Rewards
   2. Navigate to chrome://rewards page
   3. Tap on Your Wallet section (where balance is displayed)
   4. It looks like additi

[2019-03-07 23:05] LaurenWags commented on #1266
cc @anthonypkeane for milestone guidance

[2019-03-07 23:46] LaurenWags opened #1267 "tip banner does not display site name"
## Description
Tip banner should display site name whether publisher is verified or not (however if a verified publisher has a custom banner, that falls under https://github.com/brave/browser-android-tabs/issues/1258). On b-c the tip banner displays site/publisher name.

## Steps to Reproduce

   1. Enable Rewards.
   2. Visit a site (verified or not)
   3. Tap on BAT logo
   4. Tap on Send a Tip

[2019-03-07 23:46] LaurenWags commented on #1267
cc @anthonypkeane for milestone

[2019-03-08 02:49] jamesmudgett commented on #1265
Could we inject some defaults similar to iOS?

[2019-03-08 03:30] #1127 closed

[2019-03-08 06:44] Brave-Matt commented on #1252
@sriramv I had suggested the same thing to james when we were discussing it. Long press was my first choice this was an alternative - what do you think @jamesmudgett?

[2019-03-08 10:40] Javi commented on #1252
Just wanted to chime in as I'd love to use Brave but this feature is a must have for me.
The current mobile browser UX leader for Android at the moment seems to be Opera, and their bottom bar is a large part of it (the other being text reflow to prevent sideways scrolling). Their button layout may be a good reference as a starting point as it is at least good enough for most cases. They have a bac

[2019-03-08 11:42] hazre commented on #134
+1 I miss this from chrome

[2019-03-08 14:04] srirambv commented on #1252
Yes this is a missing feature on Brave IMO. We should think of having back and forward buttons on the bottom bar. That gets a huge +1 from my side. Also I've seen reports of Android trying to get rid of hardware backbuttons in future(just concept for now) so we will lose the actual back button so its a good idea to have them on the bottom bar

[2019-03-08 14:32] LaurenWags commented on #1255
@ryanml does this also remove it from the Tipping banner? We also have the scenario where you go to tip a site, tap on amount, and then tap on Send my Tip. If you don't have enough BAT in your wallet, you get a message prompting you to Add Funds, with a link which opens up the Add Funds modal in a different tab.
![1255](https://user-images.githubusercontent.com/28145373/54034507-07461500-4185-11e9

[2019-03-08 14:36] SergeyZhukovsky commented on #1255
@LaurenWags, @ryanml is responsible for Settings page only. We blocked funding as well on site banner. I didn't grey it as it looks ugly, it just does nothing when we click on it.

[2019-03-08 14:49] srirambv commented on #1255
@SergeyZhukovsky Could that text be replaced as `Not enough tokens. Please wait for next available grant ` ? So that its more appropriate message for the platform?

[2019-03-08 14:57] SergeyZhukovsky commented on #1255
@srirambv it could be replaced to anything you want but keep in mind that every string change involves extra translation to 52 languages we have on Android. I would rather keep it unchanged.

[2019-03-08 20:01] SergeyZhukovsky commented on #1152
Fixed https://github.com/brave/browser-android-tabs/commit/c6c51e32df7b010f50c9886ba91a58b793cead4e

[2019-03-08 20:01] #1152 closed

[2019-03-08 21:35] LaurenWags opened #1270 "update show all/hide all wording for auto contribute"
## Description
The 'Hide All' wording on auto contribute table is a little confusing as it's not accurate (when you select it you are not hiding all of your a-c sites).

Instead of Show All/Hide All, maybe something like Show More / Show Less would be appropriate?

## Steps to Reproduce

   1. Visit at least 6 sites for minimum time so they are added to AC table
   2. Navigate to chrome://rewards

[2019-03-08 21:35] LaurenWags commented on #1270
cc @anthonypkeane

[2019-03-08 21:45] LaurenWags opened #1271 "tips table should act like auto contribute table"
## Description
Currently Auto-Contribute table only shows 5 entries unless you select the 'Show All' link. The Tips table should behave the same way.

On b-c Auto Contribute and Tips tables behave in the same way, although it is different from Android.

## Steps to Reproduce

   1. Visit more than 5 sites for min time so they are added to ac table.
   2. Set up more than 5 recurring/one-time/mix o

[2019-03-08 21:45] LaurenWags commented on #1271
cc @srirambv @anthonypkeane

[2019-03-08 21:55] ryanml commented on #1254
Fixed via: https://github.com/brave/browser-android-tabs/commit/2f7dc38ef696fd18b2dc95e69a21bce3bb7a772f (they should both default to 20)

[2019-03-08 21:55] #1254 closed

[2019-03-08 21:55] ryanml commented on #1262
Added via: https://github.com/brave/browser-android-tabs/commit/2f7dc38ef696fd18b2dc95e69a21bce3bb7a772f

[2019-03-08 21:55] #1262 closed

[2019-03-08 21:56] ryanml commented on #1266
Fixed via: https://github.com/brave/browser-android-tabs/commit/2f7dc38ef696fd18b2dc95e69a21bce3bb7a772f

On small devices the summary should fit with in the viewport, and you should be able to scroll all the way down.

[2019-03-08 21:56] #1266 closed

[2019-03-08 22:31] LaurenWags opened #1273 "tipping banner should have close button"
## Description
Tipping Banner on Android should have close (x) button to close tipping banner. Banner has a close (X) button on b-c.

## Steps to Reproduce

   1. Navigate to a site and tap on BAT logo
   2. Tap on Send a Tip

## Actual result:
Banner takes up entire screen, it's not entirely apparent how you can close it without actually tipping.
![bannernoX-pixel](https://user-images.githubuserc

[2019-03-08 22:31] LaurenWags commented on #1273
cc @srirambv @anthonypkeane

[2019-03-08 23:27] anthonypkeane commented on #1273
@jamesmudgett the back button could be enough. Thoughts?

[2019-03-09 01:30] #1216 closed

[2019-03-09 05:29] bmalin92 commented on #1252
I'm glad to see this has been logged! I've loved my switch to Brave, but my small hands would greatly appreciate this feature.

[2019-03-09 05:46] NejcZdovc commented on #1273
closing as dupe of https://github.com/brave/browser-android-tabs/issues/1127

[2019-03-09 05:46] #1273 closed

[2019-03-09 17:38] srirambv opened #1274 "Default browser notification doesn't dismiss even after enabling the setting"
## Description
Default browser notification doesn't dismiss even after enabling the setting

## Steps to Reproduce

   1. Update to 1.0.86
   2. See notification to set default browser
   3. Select Yes from notification
   4. Select Brave and select always
   5. Notification is still shown in notification area

## Actual result:
Default browser notification doesn't dismiss even after enabling the

[2019-03-09 17:45] srirambv opened #1275 "Set as Default browser should be grayed out if browser is already set"
## Description
Set as Default browser should be grayed out if browser is already set

## Steps to Reproduce

   1. Install 1.0.86 build
   2. Set browser as default from notification prompt
   3. Open kabob menu, `Set as default browser` option is still enabled, Clicking it show message its already set as default

## Actual result:
Set as Default browser shows as an enabled option even when browse

[2019-03-09 17:54] sviluppoSoftware commented on #93
please add this feature for Android !!!

[2019-03-09 18:25] arisAlexis opened #1276 "Feature request: Sync Passwords"
I only see issues for syncing bookmarks which is now released but Chrome syncs passwords too. Is this in the pipeline?

[2019-03-09 18:28] #1276 closed

[2019-03-09 23:39] srirambv commented on #1064
+1 from https://community.brave.com/t/links-from-twitter-dont-open-in-custom-tabs/47927/2 on Redmi Phone
![image](https://user-images.githubusercontent.com/17010094/54078686-a577cf00-429a-11e9-8473-2f01959dc982.png)
![image](https://user-images.githubusercontent.com/17010094/54078688-ac9edd00-429a-11e9-9f51-057173501281.png)

[2019-03-10 12:35] srirambv opened #1277 "Auto suggested site always redirects to https even if the site is on http"
## Description
Auto suggested site always redirects to https even if the site is on http

## Steps to Reproduce

   1. Clean install
   2. Open a new tab and type cricinfo
   3.  Auto suggest shows espncricinfo.com
   4. Tap on the auto suggestion to load the page, shows error
   5. Change site from https to http, page loads correctly

## Actual result:
![cric](https://user-images.githubuserconten

[2019-03-10 16:26] sviluppoSoftware opened #1278 "on Android 8.1.0 brave 1.0.84 i have http referer leak , battery status html5 API leak, browser version and phone model leak"
## Description
i have tested brave 1.0.84 on on Android 8.1.0 for some leak protection: http referer leak , battery status html5 API leak, browser version and phone model leak, that should be solved, i notice on Android platform Unfortunately this is not true, (even in Desktop version the battery status and browser version leak are not solved)

## Steps to Reproduce

   1. for http referer leak: g

[2019-03-10 16:27] GeetaSarvadnya opened #1279 "Monthly recurring tip date is not shown in `Thank You` banner"
## Description
Monthly recurring tip date is not shown in `Thank You` banner

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Enable rewards and claim grants
   3. Open DDG and send a monthly recurring tip
   4. Verify recurring tip date in `Thank You` banner

## Actual result:
Your first monthly tip will be sent on : `no date` is displayed in Thank you banner

https://drive.google.com/ope

[2019-03-10 17:04] GeetaSarvadnya opened #1280 "`Grants` button is removed from Your wallet popup"
## Description
`Grants` button is removed from Your wallet popup

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Enable rewards and claim grants
   3. Open `Your wallet` popup

## Actual result:
`Grants` button is removed from Your wallet popup
![Screenshot_2019-03-10-22-21-50](https://user-images.githubusercontent.com/38657976/54088431-0deeab00-4384-11e9-80c2-ef3271815b30.png)

## Expect

[2019-03-10 17:21] GeetaSarvadnya opened #1281 "`ADD FUNDS` isn't functioning"
## Description
`ADD FUNDS` isn't functioning, If its intentional hide or grayed out the button

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Enable rewards and claim grants
   3. Click on BAT logo/BR panel in URL bar
   4. Click on `ADD FUNDS` in BR panel

## Actual result:
 `ADD FUNDS` button is enabled if we click the button it doesn't display anything.

![Screenshot_2019-03-11-00-41-

[2019-03-10 17:32] GeetaSarvadnya opened #1282 "`Insufficient funds` notification is not shown"
## Description
`Insufficient funds` notification is not shown

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Click on BR panel
   3.  Click on 'JOIN REWARDS`

## Actual result:
`Insufficient funds` notification is not shown

## Expected result:
`Insufficient funds` notification should be shown

## Issue reproduces how often:
Easy

## Issue happens on:
   - Current Playstore version? no

[2019-03-10 17:40] GeetaSarvadnya opened #1283 "once the grants notification is dismissed, user can't claim grants from Brave Rewards page"
## Description
once the grants notification is dismissed, user can't claim grants from Brave Rewards page

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Enable rewards by clicking on `JOIN REWARDS`
   3. Dismiss the grants notification by clicking on the `x` icon
   4. Click on `Settings`

## Actual result:
`CLAIM` button will not be shown on brave rewards page, even after multiple page

[2019-03-10 19:05] GeetaSarvadnya commented on #1254
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

[2019-03-10 19:07] GeetaSarvadnya commented on #1246
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86
![Screenshot_2019-03-11-00-36-52](https://user-images.githubusercontent.com/38657976/54090042-e6084300-4395-11e9-85b7-67d50e38f381.png)

[2019-03-11 01:53] srirambv commented on #1281
This is expected behaviour as part of https://github.com/brave/browser-android-tabs/issues/1255

[2019-03-11 01:53] #1281 closed

[2019-03-11 01:56] srirambv commented on #1282
1.0.86 is set to 30 days reconcile. Hence no notification of insufficient funds. It should be visible before reconcile

[2019-03-11 01:56] #1282 closed

[2019-03-11 08:06] FelikZ commented on #134
I am a heavy user was this feature since leaving abroad, please have a look!

[2019-03-11 10:51] GeetaSarvadnya commented on #1280
Grants button is available and functionality is working as expected. Hence making it as invalid

[2019-03-11 10:51] #1280 closed

[2019-03-11 10:55] GeetaSarvadnya commented on #1256
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

[2019-03-11 10:59] ryanml commented on #1251
@SergeyZhukovsky is `OnGrantFinish` being called when you claim a grant via the panel?

[2019-03-11 11:12] GeetaSarvadnya commented on #1255
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86
 - Verified that `ADD FUNDS` button in BR panel does nothing when we click on it
- Verified that  `ADD FUNDS` button is removed from `Your wallet`
- Verified that  `ADD FUNDS` button is removed from tipping banner
![Screenshot_2019-03-11-16-30-43](https://user-images.githubusercontent.com/38657976/54119469-

[2019-03-11 11:19] GeetaSarvadnya commented on #1238
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

[2019-03-11 11:25] GeetaSarvadnya commented on #1239
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

- Verified that `Brave Rewards (beta)` displayed under `Chrome://flags`

![Screenshot_2019-03-11-16-53-25](https://user-images.githubusercontent.com/38657976/54120705-6a060d80-441e-11e9-9537-1ad8c36969e6.png)

[2019-03-11 11:41] GeetaSarvadnya commented on #1202
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

- Verified the STR mentioned in the description
- Verified that changed Monthly budget is same on `Auto-Contribution` and `Auto-Contribution settings` page
- Verified that changed `Auto-Contribution settings` retained after browser restart
- Verified that changed `Auto-Contribution settings` retained after

[2019-03-11 11:48] GeetaSarvadnya commented on #1156
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

- Verified the description mentioned in the issue, now there is not white space in brave://rewards page when rewards switch is set to OFF.

![Screenshot_2019-03-11-17-16-20](https://user-images.githubusercontent.com/38657976/54121920-aab35600-4421-11e9-9cf6-8ad0ca9a3c78.png)

[2019-03-11 11:58] sviluppoSoftware opened #1284 "Feature/Suggestion: please like in firefox for android, It is very useful to be able to permanently add some websites in home screen even if you delete all data (cookie, history ecc..)"
at the moment this function is implemented in an inefficient way because if I delete the history data, the sites that are added automatically (those visited most often) disappear, it would be better to block them in the home screen and especially to edit them to add sites as you like not only those visited more often.

thank you!

[2019-03-11 12:29] srirambv commented on #1284
Could you please edit the title to be more simple?

[2019-03-11 12:47] srirambv opened #1285 "Claim Token goes into an infinite loop"
## Description
Claim Token goes into an infinite loop

## Steps to Reproduce
1. Upgrade to the new rewards build
2. Claim grant from BR panel
3. Keep the app in background for a while (I had the app in background for a day and didnt use the device)
4. Open rewards setting from BR panel, shows claim button
5. Tap on claim goes into an infinite spinner
## Actual result:
https://drive.google.com/open

[2019-03-11 13:04] srirambv opened #1286 "Foot note on wallet summary pop up should use a brighter font to be more readable"
## Description
Foot note on wallet summary pop up should use a brighter font to be more readable

## Steps to Reproduce

   1. Enable rewards
   2. Open wallet summary
   3. Foot note on rewards is not very clear to read and on Mobile there is no foot note shown because of size of the wallet summary panel

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/54125768-4c17b

[2019-03-11 13:28] srirambv commented on #1251
Reproduced with different steps(https://github.com/brave/browser-android-tabs/issues/1285) on the new build but end result seems to be same banner is shown even after claiming grant and trying to claim again puts it in an infinite loop

[2019-03-11 13:29] srirambv commented on #1285
Closing as dupe of #1251

[2019-03-11 13:29] #1285 closed

[2019-03-11 13:53] LaurenWags commented on #1283
Reproduced with Asus Zenfone (Android 6.0) running 1.0.86 (BR_6)

[2019-03-11 14:10] LaurenWags commented on #1286
I can see most of the message on my smallest phone, but agree that it definitely should be more outstanding.
LG Nexus 5
![1286](https://user-images.githubusercontent.com/28145373/54129984-e0d2e480-43e5-11e9-8f7e-7cfbd8a614e1.png)

[2019-03-11 14:18] LaurenWags opened #1287 "remove 'Backup your wallet' notification"
## Description
Core has a 'Backup your wallet' notification (https://github.com/brave/brave-browser/issues/1164) that was implemented. This notification should show up 1 week after you enable BR and haven't backed up your wallet.

Since the backup/restore functionality was removed from Android (https://github.com/brave/browser-android-tabs/issues/1256) we should remove this notification (at least

[2019-03-11 14:19] LaurenWags commented on #1287
cc @anthonypkeane

[2019-03-11 14:55] vv111y commented on #433
This would be a great feature, as for certain online content, the size of a phone screen is best for preview and overview. A use case is that you want to continue with the material with all the tools available on your machine (laptop/desktop). It would be tedious to somehow share between phone and box one tab at a time.

[2019-03-11 15:12] srirambv opened #1288 "Top tiles doesn't show favicon in a-c list"
## Description
Top tiles doesn't show favicon in a-c list

## Steps to Reproduce

   1. Install the build 1.0.86 and enable rewards
   2. Tap on the top tile to load the site, wait min time on the site
   3. Open a-c list, site doesn't show favicon, shows in shields

## Actual result:
Top tiles doesn't show favicon in a-c list

## Expected result:
All sites should show respective favicon irrespect

[2019-03-11 15:26] srirambv opened #1289 "Recurring tip shows `not a date` as the date of tipping"
## Description
Recurring tip shows `not a date` as the date of tipping

## Steps to Reproduce

   1. Enable rewards
   2. Visit any site, send tip from br panel
   3. Set tip as monthly value
   4. Recurring monthly date is set as `not a date`

## Actual result:
![Screenshot_20190410-110744_Brave](https://user-images.githubusercontent.com/17010094/54135181-b9811500-43ef-11e9-844a-6a34a0becb3a.jpg)

[2019-03-11 15:29] srirambv opened #1290 "Empty banner shown when reconcile occurs"
## Description
Empty banner shown when reconcile occurs

## Steps to Reproduce

   1. Enable rewards and claim grant
   2. Populate a-c table
   3. Wait for reconcile to happen
   4. BR panel shows an notification empty notification before showing the contribution success notification

## Actual result:
![Screenshot_20190415-110439_Brave](https://user-images.githubusercontent.com/17010094/54135648

[2019-03-11 15:35] srirambv opened #1291 "Rewards tab is not completely in focus when other tabs are opened beyond it"
## Description
Rewards tab is not completely in focus when other tabs are opened

## Actual result:
![Screenshot_20190410-110904_Brave](https://user-images.githubusercontent.com/17010094/54136178-ab33f880-43f1-11e9-8cdc-f31bf23aef42.jpg)

## Expected result:
Tab should be fully in focus

## Issue reproduces how often:
Easy

## Device Details:
   - Install Type(ARM, x86):
   - Device(Phone, Tablet,

[2019-03-11 15:56] GeetaSarvadnya opened #1292 "Excluded sites are completely removed, cannot be restored after browser restart"
## Description
Excluded sites are completely removed, cannot be restored after browser restart

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Enable rewards and claim grants
   3. Add few sites to a-c table ( added 3 sites)
   4. Exclude all the added sites.
   5. Verify that the message display in a-c table `Total number of sites you excluded from Auto-
     Contribute 3(Restore All)`

[2019-03-11 15:58] srirambv opened #1293 "Rename Hide all X sites to show less"
## Description
Currently `Show all x sites` lists all of them. The text changes to `Hide all x sites` which doesnt make sense as we show min 5 sites. Should be renamed to `Show less` which is more approriate

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/54137567-44fca500-43f4-11e9-9173-303310b7e8ca.png)

[2019-03-11 16:10] srirambv opened #1294 "Remove add funds button from BR panel"
Remove add funds button from BR panel and center align the rewards setting button

[2019-03-11 16:18] samartnik commented on #1006
https://github.com/brave/browser-android-tabs/pull/1272

[2019-03-11 16:18] #1006 closed

[2019-03-11 16:23] srirambv commented on #1007
This is still an issue on 1.0.86

[2019-03-11 16:55] samartnik commented on #1007
Re-applied fix here https://github.com/brave/browser-android-tabs/pull/1295

[2019-03-11 17:43] GeetaSarvadnya commented on #1142
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.86

- Verified the description mentioned in the issue

![Screenshot_2019-03-11-23-06-53](https://user-images.githubusercontent.com/38657976/54145129-55903800-4453-11e9-8888-64258a3c15e4.png)

[2019-03-11 18:01] GeetaSarvadnya commented on #1289
This is already logged. Dup of #1279

[2019-03-11 18:01] #1289 closed

[2019-03-11 18:20] GeetaSarvadnya opened #1296 "Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel"
## Description
Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel

## Steps to Reproduce

   1. Clean profile 1.0.86
   2. Click on `JOIN REWARDS`

## Actual result:

Click on `JOIN REWARDS` displays please try again later message - Unable to enable rewards through BR panel

https://drive.google.com/open?id=1Em2pupu4oMcwrMzKcPXzeWHvISN7OLjX

[2019-03-11 18:45] #1131 closed

[2019-03-11 20:29] FrederickDavies commented on #93
"Clear cache, cookies, history on exit option" in the Android version.
+1

[2019-03-11 20:32] LaurenWags opened #1298 "claim grant success message doesn't match core"
## Description
When you successfully accept a grant on Android there isn't a note about "Tokens not used by the expiration date will be automatically returned to the Brave User Growth Pool."

I'm aware that we're working with less screen real estate, but it seems like we should still notify users of this.

## Steps to Reproduce

   1. Install 1.0.86 (BR_6)
   2. Enable Rewards from flags
   3. Ena

[2019-03-11 21:37] LaurenWags opened #1300 "twitch.tv crashes when trying to view Desktop Site"
## Description
When I go to twitch.tv and try to select 'Desktop Site' from hamburger menu, Brave crashes.

## Steps to Reproduce

   1. Install 1.0.86 (BR_6)
   2. Navigate to twitch.tv, page loads
   3. Tap on hamburger menu
   4. Select Desktop site.

## Actual result:
Get message which says
'Unfortunately, Brave has stopped.'

## Expected result:
No crash, desktop site should open.

## Issue r

[2019-03-11 22:01] #1274 closed

[2019-03-11 22:01] #1275 closed

[2019-03-11 22:04] LaurenWags commented on #1298
cc @anthonypkeane @srirambv

[2019-03-11 22:09] LaurenWags opened #1301 "unable to tip Twitch publisher"
## Description
Panel doesn't show twitch publisher info, only displays twitch.tv when viewing a live stream or VOD

## Steps to Reproduce

   1. With Rewards enabled, navigate to a twitch stream or VOD.
   2. Tap on BAT logo.
   3.

## Actual result:
Panel displays twitch.tv, not publisher info.
![twitch-android](https://user-images.githubusercontent.com/28145373/54161431-7a22ea80-4428-11e9-8c90-0

[2019-03-11 22:10] LaurenWags commented on #1229
Reproduces on 1.0.86 (BR_6)

[2019-03-12 02:37] SergeyZhukovsky commented on #1300
Fixed https://github.com/brave/browser-android-tabs/commit/84ae70042b74e266ec23f70ee0e877cbae27b05d

[2019-03-12 02:37] #1300 closed

[2019-03-12 09:43] GeetaSarvadnya opened #1302 "Click on `Restore All` redirects to Google search Restore"
## Description
Click on `Restore All` redirects to Google search Restore
## Steps to Reproduce

   1. Clean profile 1.0.87
   2. Add a few sites to a-c table
   3. Exclude all the added sites
   4. Click on `Restore All` link

## Actual result:
Click on `Restore All` redirects to Google search Restore

https://drive.google.com/open?id=1eJDcpJ46oideu03dA-ASS1Vr1Yg9EyoS

## Expected result:
Tap on `

[2019-03-12 10:23] AlexeyBarabash opened #1303 "Code review issues after PR #1261"
PR https://github.com/brave/browser-android-tabs/pull/1261 was merged fast to put the order for string translation. Here is a list of found questions and issues fir the OR after merge.

1) https://github.com/brave/browser-android-tabs/pull/1261/files#diff-485c97d453c788e2075d33a438cf6206R111

[code]

Why do we need this? getThirdParties.js doesn't pull it, default debug build finishes fine without

[2019-03-12 13:55] SergeyZhukovsky commented on #1296
The issue appear when there is a problem with a connection to our server. I don't see anything wrong with it.

[2019-03-12 13:57] GeetaSarvadnya commented on #1262
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

![Screenshot_2019-03-12-19-26-26](https://user-images.githubusercontent.com/38657976/54205677-cc354000-44fc-11e9-98e6-e8f16dd4cbf0.png)

[2019-03-12 14:06] LaurenWags commented on #1300
Verified passed with 1.0.87 (BR_7) on Asus Zenfone (x86)

[2019-03-12 14:10] GeetaSarvadnya commented on #1243
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

[2019-03-12 14:14] GeetaSarvadnya commented on #1234
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

[2019-03-12 14:20] SergeyZhukovsky commented on #1302
It's a normal behaviour. Open any website and tap on any word there. Android prompts you to search that word.

[2019-03-12 14:22] ruiumbelino opened #1304 "Can't play videos, since few versions ago"
## Description
Since few versions ago, I can't play videos on Brave Android.
For example, on youtube, when I open a link the video starts, but if I "TAP TO UNMUTE" the video stops and can't play anymore.
Others sites that has videos, the video can't start from the beginning.
It seems that any video with sound doesn't work.

## Steps to Reproduce

   1. Open https://m.youtube.com/watch?v=BDWLSv2bdU

[2019-03-12 14:33] GeetaSarvadnya commented on #1232
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

- Verified the STR mentioned in the description ( In all the below 3 conditions issue is working fine)
- Verified enabling rewards from BR panel and then followed STR.
- Verified enabling rewards from brave://rewards page and followed STR
- Verified enabling rewards from Hamburger menu and followed STR

[2019-03-12 15:13] GeetaSarvadnya commented on #1251
The issue is reproducible on 1.0.87 - Android 5.1 - Samsung Galaxy J3

In one more scenario, the `CLAIM` button is shown in brave://rewards page even after accepting grants from BR panel.  Steps are mentioned below:
1. Clean profile 1.0.87
2. Enable rewards through Hamburger menu
3. Click on BAT logo, click on grants notification and accept the grants from BR panel
4. Click on Settings
5. Brave://

[2019-03-12 15:36] GeetaSarvadnya commented on #1302
@SergeyZhukovsky Tap on `Restore All` hyperlink should not highlight/select the word and bring up a search result.

[2019-03-12 15:45] GeetaSarvadnya commented on #1300
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

[2019-03-12 15:47] SergeyZhukovsky commented on #1302
Ok, we will check what we can do there.

[2019-03-12 16:03] GeetaSarvadnya commented on #1275
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

![Screenshot_2019-03-12-21-31-49](https://user-images.githubusercontent.com/38657976/54215721-69e53b00-450e-11e9-82c5-e417cb4d56e0.png)

[2019-03-12 16:04] SergeyZhukovsky commented on #1214
That is working on my end. @GeetaSarvadnya could you please verify it on the newest version and open if it appears again. Thanks!

[2019-03-12 16:08] SergeyZhukovsky commented on #1283
I could replicate it either. @ryanml do we need to make an extra call probably there. Or will it just appear after some time?

[2019-03-12 16:09] GeetaSarvadnya commented on #1274
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.87

[2019-03-12 16:29] SergeyZhukovsky commented on #1195
@srirambv could you re verify that and reopen if it is still a problem. It works as expected to me.

[2019-03-12 16:29] #1195 closed

[2019-03-12 16:38] SergeyZhukovsky commented on #1235
@srirambv everything works as expected on my end. I have all websites listed at the end. More than that there are no special cases and we don't distinguish top tile websites from websites user types in URL bar. Mostly likely a contribution process happened as @NejcZdovc mentioned as early builds had it set on 10 minutes. Could you please re verify that and re open an issue if it happens again?

[2019-03-12 16:38] #1235 closed

[2019-03-12 16:56] #1290 closed

[2019-03-12 16:56] #1294 closed

[2019-03-12 17:10] dirtbag commented on #239
https://venturebeat.com/2019/03/12/chromes-lite-pages-speed-up-https-webpages-on-slow-connections/
looks like the "they dont do https" argument is now irrelevant..

-db

[2019-03-12 18:56] jamesmudgett commented on #980
@anthonypkeane @yachtcaptain23 Since there are issues with changing chromium icon weight please update our bookmarks and home buttons to match the chromium icon weight. Attached new home and bookmarks icons.
[home and bookmarks.zip](https://github.com/brave/browser-android-tabs/files/2958329/home.and.bookmarks.zip)

[2019-03-12 19:20] SergeyZhukovsky commented on #1169
That is duplicated https://github.com/brave/browser-android-tabs/issues/1062

[2019-03-12 19:20] #1169 closed

[2019-03-12 19:26] LaurenWags opened #1306 "increase length of time Thank You banner is displayed"
## Description
Found while testing https://github.com/brave/browser-android-tabs/issues/1131

The amount of the that the Thank you banner is displayed should be increased. Currently it displays very quickly, so it's incredibly difficult to read the information on it (amount of tip, site tipped, etc).

## Steps to Reproduce

   1. Install 1.0.87 (BR_7)
   2. Enable Rewards thru flags, restart
   3.

[2019-03-12 19:26] LaurenWags commented on #1306
cc @anthonypkeane

[2019-03-12 19:27] jamesmudgett commented on #980
[search.zip](https://github.com/brave/browser-android-tabs/files/2958446/search.zip)

[2019-03-12 19:28] jamesmudgett commented on #980
Replace + with search

[2019-03-12 19:46] LaurenWags commented on #1216
Verified passed with my steps from https://github.com/brave/browser-android-tabs/issues/1216#issuecomment-469451855 - there is now a spinner so I wasn't able to tap on claim multiple times. Asus Zenfone (x86) using 1.0.87 (BR_7)

[2019-03-12 20:18] LaurenWags opened #1307 "URL bar text displays behind shields/rewards icon in some cases"
## Description
Found by @srirambv

In some cases the URL text displays behind the shield and rewards icons. So far:
1. When swiping between tabs
2. When scrolling up or down a page

## Steps to Reproduce

   1. Install 1.0.87 (BR_7)
   2. Navigate to a page with a longer URL (going to a site like theverge.com and opening a few articles should do the trick
   3. Using the bottom URL bar, swipe back

[2019-03-12 20:44] #1188 closed

[2019-03-12 20:56] ryanml commented on #1283
Fixed via: https://github.com/brave/browser-android-tabs/commit/6107799f93e594ed90fec57a439dad8fbd1184c4

cc: @SergeyZhukovsky

[2019-03-12 20:56] #1283 closed

[2019-03-12 20:56] ryanml commented on #1188
Fixed via: https://github.com/brave/browser-android-tabs/commit/6107799f93e594ed90fec57a439dad8fbd1184c4

cc: @SergeyZhukovsky

[2019-03-12 21:00] ryanml commented on #1183
Fixed via: https://github.com/brave/browser-android-tabs/commit/6107799f93e594ed90fec57a439dad8fbd1184c4

cc: @SergeyZhukovsky

[2019-03-12 21:00] #1183 closed

[2019-03-12 21:07] LaurenWags opened #1308 "site is being added to a-c table right after Rewards is enabled"
## Description
Found by @srirambv

In the case below, if you join Rewards from a tab which you are viewing a site, that site gets added to a-c table immediately after you join.

## Steps to Reproduce

1. Clean install 1.0.87
2. Enable chrome rewards flag (just enable rewards button)
3. Visit a site for a min
4. Join rewards from the same site tab

## Actual result:
A-C list shows that site as 100%

[2019-03-12 21:08] LaurenWags commented on #1308
cc @anthonypkeane

[2019-03-12 21:20] LaurenWags commented on #1131
Verified passed on 1.0.87 (BR_7) with Asus Zenfone (x86).
Encountered https://github.com/brave/browser-android-tabs/issues/1306 while testing.
(don't pay attention to the location of the banner on screen, i had to grab screenshots while it was moving in due to how quickly it goes away)
![1131-monthly](https://user-images.githubusercontent.com/28145373/54236910-2af1be00-44eb-11e9-8dcc-68e9a86cb99c.

[2019-03-12 21:27] LaurenWags opened #1309 "date format on monthly tip thank you banner"
## Description
Date format on monthly tip thank you banner should be like that on b-c. However it is only using dd/mm/yyyy format.

On b-c the date format matches that of your locale. So for US, the thank you tip banner uses mm/dd/yyyy format where as if you change your locale to French, you will see dd/mm/yyyy format.

## Steps to Reproduce

   1. Be sure your language/region is set to US.
   2.

[2019-03-12 21:28] LaurenWags commented on #1309
cc @anthonypkeane

[2019-03-12 23:17] anthonypkeane opened #1310 "Show Backup & Restore Option"
## Description
Undo #1256 for Production

[2019-03-12 23:32] anthonypkeane commented on #1286
@jamesmudgett for a decision

[2019-03-12 23:58] anthonypkeane opened #1312 "Random issue opening webpages"
## Description
I sometimes find that I can't load webpages on my OnePlau

## Steps to Reproduce

   1. Use Brave for a time
   2. Randomly, webpages won't open

## Issue reproduces how often: Random

## Issue happens on:
   - Current Playstore version?
   - Beta build  - Yes

![Issue](https://user-images.githubusercontent.com/7606853/54244012-e57fc180-44e7-11e9-970b-6e957a84802a.gif)

[2019-03-13 13:21] srirambv opened #1314 "Translation missing for reserved amount after contribution goes through"
## Description
Translation missing for reserved amount after contribution goes through

## Steps to Reproduce

1. Add sites to a-c list set budget to 100 BAT
2. Add a bunch of non verified pubs and verified pubs to a-c list and send tips to non verified pubs
3. Wait for reconcile to go through
4. Wait for it to clear ac table
5. Open a site and open br panel shows "MISSING: reservedAmountText" and

[2019-03-13 13:51] srirambv opened #1315 "Remove add ways to fund message on wallet summary panel"
## Description
Remove add ways to fund message on wallet summary panel

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/54283998-8cf70580-4575-11e9-8ff9-8cf176215856.png)

[2019-03-13 14:09] srirambv commented on #1314
Unable to reproduce the issue. Closing for now. Will reopen if reencounter it

[2019-03-13 14:31] LaurenWags commented on #1213
Reopening, this is not working with 1.0.88:

![Screenshot_20190313-101910 (1)](https://user-images.githubusercontent.com/28145373/54286951-2b399a00-457b-11e9-9d74-b90a01ca7145.jpg)

![Screenshot_20190313-101904 (1)](https://user-images.githubusercontent.com/28145373/54286956-2e348a80-457b-11e9-886d-22bb312f3f17.jpg)

[2019-03-13 14:56] LaurenWags commented on #1287
Received wallet backup notification with 1.0.88 on Asus Zenfone (x86)

[2019-03-13 15:01] LaurenWags commented on #1294
Verified with Asus Zenfone (x86) with 1.0.88 rc1
![Screenshot_20190313-105910](https://user-images.githubusercontent.com/28145373/54289323-532afc80-457f-11e9-8018-8a037e3dca01.jpg)

[2019-03-13 15:20] SergeyZhukovsky commented on #1287
Fixed it here https://github.com/brave/browser-android-tabs/commit/cb593e5875fd1f513a5817e34c4f78c4f728a409

[2019-03-13 15:20] #1287 closed

[2019-03-13 16:31] srirambv opened #1317 "Tip button not shown on certain videos"
## Description
Issue found by @jamesmudgett
Tip button not shown on certain videos.

## Steps to Reproduce
Scenario 1
   1. Open YT
   2. Search for "texaswest"
   3. Tap on channel name
   4. Open the fist video, no tip button shown for the publishers on br panel

Scenario 2
   1. Copy https://m.youtube.com/watch?v=UvJl202PlNI
   2. Open new tab and paste the video url
   3. Tip button doesn't sh

[2019-03-13 16:37] srirambv commented on #1314
Reopening the issue as @jamesmudgett was able to reproduce it

[2019-03-13 16:41] LaurenWags opened #1318 "rewards summaries don't match if you claim grant from panel"
## Description
Depending on where you claim grant from Rewards Summary might not match on chrome://rewards and from panel.

If you claim grant from panel, Rewards Summary on chrome://rewards and panel do not match.
If you claim grant from chrome://rewards, Rewards Summary on page and from panel do match (until you tip, https://github.com/brave/browser-android-tabs/issues/1213#issuecomment-47244634

[2019-03-13 16:48] SergeyZhukovsky commented on #1314
Unable to reproduce it also, but that commit should fix it https://github.com/brave/browser-android-tabs/commit/757fa76dba936b033880b97f9ea8f89c79751518

[2019-03-13 16:48] #1314 closed

[2019-03-13 17:05] srirambv opened #1319 "Back button should close the wallet summary modal"
## Description
Back button should close the wallet summary modal. Currently the modal is always shown but pages navigate back in background.

[2019-03-13 17:18] #1315 closed

[2019-03-13 17:56] LaurenWags commented on #1290
Verified passed with Asus Zenfone (x86) using 1.0.88 rc1

[2019-03-13 18:04] LaurenWags commented on #1283
Verified passed with Asus Zenfone (x86) using 1.0.88 rc1

[2019-03-13 18:22] srirambv commented on #1315
![image](https://user-images.githubusercontent.com/17010094/54304335-4ddbab00-459b-11e9-9739-e44feb3720dc.png)

[2019-03-13 18:55] LaurenWags commented on #1302
Reproduced with 1.0.88 rc2 - Asus Zenfone (x86)

[2019-03-13 19:21] btlechowski opened #1321 "Overlapping text on rewards page for polish language"
## Steps to Reproduce

   1. Go to chrome://rewards
   2. Enable rewards

## Actual result:
Translated a-c text is overlapping its description
![Screenshot_20190313-200958_Brave](https://user-images.githubusercontent.com/34715963/54307895-1d146980-45cd-11e9-8790-7b1f5ee9d7ef.jpg)

## Expected result:
Text is not overlapping

## Issue reproduces how often:
Easily reproduced

## Issue happens on:

[2019-03-13 19:51] srirambv opened #1322 "Monthly tip doesn't go through even when a-c budget is within balance"
## Description
Monthly tip doesn't go through even when a-c budget is within balance

## Steps to Reproduce

   1. Claim rewards
   2. Set a-c monthly budget to 100 BAT
   3. Set 1 BAT recurring tip for 2 verified publisher
   4. Wait for reconcile to go through
   5. Shows error message about low budget which is expected
   6. No recurring tip is sent through
   7. Set a-c monthly budget to 20 BA

[2019-03-13 19:51] GeetaSarvadnya commented on #1214
@SergeyZhukovsky I am able to reproduce the issue on the latest version 1.0.88 rc2. Step 8 is failing After, I set new criteria 1 min and 1 Visit (step7), the sites which are added in step 5 should not appear in a-c table.

[2019-03-13 19:58] LaurenWags commented on #1314
Verified passed with Asus Zenfone (x86) with 1.0.88 rc2

[2019-03-13 20:08] gdregalo opened #1323 "Site banner: high resolution YouTube icon exists in database but fallback icon is shown instead"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   - Beta build?

## Device Details:
   - Install Type(ARM, x86):
   - Device(Phone, Tablet, Phablet):
   - Android Version:

## Brave version:

### Website problems only:
- Does the issue resolve itself when disablin

[2019-03-13 20:12] gdregalo opened #1324 "Panel: grant 'claim' button can be pressed multiple times if panel quickly closed and reopened"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   - Beta build?

## Device Details:
   - Install Type(ARM, x86):
   - Device(Phone, Tablet, Phablet):
   - Android Version:

## Brave version:

### Website problems only:
- Does the issue resolve itself when disablin

[2019-03-13 20:15] LaurenWags commented on #1188
Verified passed with Asus Zenfone (x86) 1.0.88 rc2

[2019-03-13 20:22] gdregalo opened #1325 "Panel: "The creator has not yet signed up" note reacts on tapping after "Learn more" link."
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   - Beta build?

## Device Details:
   - Install Type(ARM, x86):
   - Device(Phone, Tablet, Phablet):
   - Android Version:

## Brave version:

### Website problems only:
- Does the issue resolve itself when disablin

[2019-03-13 20:28] gdregalo opened #1326 "No network in the middle of "Join rewards" leaves the wallet corrupted."
## Description
Next  "Join rewards" attempts bring response:

`response: {"statusCode":422,"error":"Unprocessable Entity","message":"persona credential exists: ed0c2fa5349014cbd14f75627615d22"}> headers cache-control: no-cache`

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   -

[2019-03-13 20:39] btlechowski opened #1327 "`Learn more` button in Brave Panel activates on touch down"
Note: Really annoying issue

## Steps to Reproduce

1. Enable rewards
2. Go to an unverified publisher
3. Open Brave Panel
3. Start scrolling by touching `Learn more.` button

## Actual result:
Unable to scroll Brave Panel by starting from `Learn more...` button
`Learn more` button in Brave Panel activates on touch down
It is easy to activate `Learn more` by mistake when scrolling Brave Panel

![S

[2019-03-13 20:46] srirambv opened #1328 "Excluded site gets auto included after spending min time"
## Description
Excluded site gets auto included after spending min time

## Steps to Reproduce

   1. Enable Rewards
   2. Visit a site and immediately exclude the site from BR panel
   3. Spend min time on the same page
   4. Open BR panel, shows attention % and is auto included switch is enabled
   5. Site is listed on a-c table as well

## Actual result:
Excluded site gets auto included after s

[2019-03-13 20:49] btlechowski opened #1329 "`Learn more` button hitbox in Brave Panel is too big"
## Steps to Reproduce

1. Enable rewards
2. Go to an unverified publisher
3. Open Brave Panel
4. Tap next to `Learn more` button

## Actual result:
`Learn more` button hitbox extends to the width of Brave Panel

![image](https://user-images.githubusercontent.com/34715963/54313531-de38e080-45d9-11e9-90d4-de027daa8988.png)

## Expected result:
`Learn more` button hitbox is contained to `Learn more`

[2019-03-13 20:50] Brave-Matt commented on #900
+1 from zendesk:
![image](https://user-images.githubusercontent.com/3299098/54313645-005d3f00-4597-11e9-833e-4952fa26dd3f.png)

[2019-03-13 21:00] srirambv opened #1330 "Exclude this site tool tip persist when a site is deleted and not fully visible"
## Description
Exclude this site tool tip persist when a site is deleted and not fully visible

## Steps to Reproduce

   1. Have a bunch of sites in a-c
   2. Tap on trashbin icon to exclude a publisher
   3. Tool tip for delete persists on the screen and is not fully shown

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/54314185-5f2fb200-45b1-11e9-9a98-0f66354be2bd

[2019-03-13 21:03] btlechowski commented on #1327
Same issue on `Rewards Summery` page in Brave Panel.

Tipping an unverified publisher is needed to show that message

![Screenshot_20190313-220101_Brave](https://user-images.githubusercontent.com/34715963/54314360-bfd3e480-45db-11e9-8500-1f5924503e0e.jpg)

[2019-03-13 21:05] btlechowski commented on #1329
Same issue on `Rewards Summery` page in Brave Panel.

Tipping an unverified publisher is needed to show that message

![image](https://user-images.githubusercontent.com/34715963/54314456-00cbf900-45dc-11e9-8ecf-28eb7e242d12.png)

[2019-03-13 21:28] anthonypkeane commented on #1204
@jamesmudgett Can you provide a design for this one? Need to follow Desktop

[2019-03-13 21:34] anthonypkeane commented on #1125
@jamesmudgett for input

[2019-03-13 21:38] srirambv commented on #1275
![image](https://user-images.githubusercontent.com/17010094/54316310-c2701300-45b6-11e9-962a-279333035e48.png)

[2019-03-13 21:43] anthonypkeane commented on #1310
Assigning to @mandar-brave for when this should be enabled

[2019-03-14 06:21] kjozwiak commented on #1213
Ran into the following today as well when QA was going through `1.0.88` before the release. It was a bit confusing seeing data listed under the panel summary but nothing under the `chrome://rewards` summary. Definitely reproducible. As @LaurenWags mentioned above, I think this happens when you accept a grant from the panel instead of `chrome://rewards`. Example of the issue:

![Screenshot_20190314

[2019-03-14 06:37] kjozwiak commented on #1317
@SergeyZhukovsky reproducible on desktop using the following build which is the latest release:

Brave | 0.61.51 Chromium: 73.0.3683.75 (Official Build) (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

Example of the issue occurring on a clean `0.61.51 Chromium: 73.0.3683.75` install:

<img width="1217" alt="Screen Shot 2019-03-14 at

[2019-03-14 08:46] NejcZdovc commented on #1317
@kjozwiak is this reproducible on the latest dev?

[2019-03-14 11:23] nejsimon opened #1331 "Brave 1.0.88 ruins one-handed navigation"
## Description

In older versions when enabling the "duet" feature you'd have a bottom toolbar with everything needed to navigate. Brave 1.0.88 changes this toolbar and removes the button that would focus the url bar hence making one-handed, thumb, navigation impossible because reaching for the url bar with the thumb is hard with todays huge phones. It's replaced by a "new tab" button but there is

[2019-03-14 12:00] srirambv commented on #1251
Marking P1 as this one needs to be fixed for beta2 release

[2019-03-14 12:51] srirambv commented on #1062
@aekeus can this be closed as beta1 is out or is it still being worked on for beta 2 release?

[2019-03-14 12:52] srirambv commented on #937
@jamesmudgett @SergeyZhukovsky can this be closed as beta 1 is released or still needs to be part of brave production milestone?

[2019-03-14 12:52] srirambv commented on #1214
Moving to beta 2

[2019-03-14 13:00] srirambv commented on #1331
There is still some discussion being done on #1252 for having search or new tab button or have both.  You can probably add a +1 for search button there.

[2019-03-14 15:04] gdregalo opened #1332 "Panel: part of summary report content is not visible on high resolution devices"
## Description
Part of summary report content is not visible on high resolution devices.
Device: LG-G7
Resolution: 1440 x 2952 (560 dpi).
API: 26
![Screenshot_2019-03-14-01-50-56](https://user-images.githubusercontent.com/37560650/54367525-e1b78080-4648-11e9-83ee-a5d70558e9cc.jpg)

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

##

[2019-03-14 15:19] gdregalo opened #1333 "Panel: `Send a Tip` button changes its size when device orientation is changed"
## Description
Panel: `Send a Tip` button changes its size when device orientation is changed.
Device: LG-G7
Resolution: 1440 x 2952 (560 dpi).
API: 26

![Screenshot_2019-03-14-11-07-03](https://user-images.githubusercontent.com/37560650/54368713-06acf300-464b-11e9-868c-64c1df0724c3.jpg)

## Steps to Reproduce

   1.  Open the panel and turn device into landscape mode.
   2. Turn off display.
   3

[2019-03-14 15:20] sviluppoSoftware opened #1334 "bug in sync function between Desktop & Android smartphone when delete all bookmarks"
## Description
when delete all bookmarks on Desktop in Android Brave they aren't delete, and after few minutes in Desktop bookmark bar appear some bookmark (randomly ) from Android Brave
## Steps to Reproduce

   1. delete all bookmarks from a PC Desktop sync with an Android Brave browser, after that wait few minute

## Actual result:
in Android Brave browser the bookmarks aren't delete

## Expect

[2019-03-14 16:06] kjozwiak commented on #1317
@NejcZdovc yup, seeing the same thing happen on the following `dev` build:

Brave | 0.63.8 Chromium: 73.0.3683.75 (Official Build) dev (64-bit)
-- | --
Revision | 909ee014fcea6828f9a610e6716145bc0b3ebf4a-refs/branch-heads/3683@{#803}
OS | Mac OS X

Example of the issue happening:

<img width="1438" alt="Screen Shot 2019-03-14 at 12 01 17 PM" src="https://user-images.githubusercontent.com/2602313/5

[2019-03-14 16:31] miladmaz12 commented on #1331
I favor search and new tab button. Remove bookmarks because its easy to find and only needs 2 taps - Three dot menu ---> Bookmarks

[2019-03-14 16:35] waldyrious opened #1335 "Cannot click the "Certificate information" link"
## Description
While looking for an About page of the app, I clicked the ⓘ button and saw a message saying

The "Details" link then opens a dialog/card saying

But nothing happens when trying to follow this link.

Screenshot:

![Screenshot_20190314-161853](https://user-images.githubusercontent.com/478237/54374282-adf34f80-4676-11e9-9379-bc26801f94d7.png)

## Steps to Reproduce

   1. Open the app,

[2019-03-14 17:42] Brave-Matt commented on #1331
@miladmaz12,
Two taps yes but both taps happen at the top of the screen which is the #1 reason users request bottom address bar to begin with (big screens). Having bms btn at the bottom makes sense to me. A simple flip/swap of new tab and search depending on state is likely the best solution

[2019-03-14 17:58] waldyrious opened #1337 "Improve consistency of issue template"
The current issue template has some style inconsistencies: some headings end in colons, others don't; capitalization of headings is a mix of Sentence case and Title Case; some spaces are missing, e.g. before parenthesis, etc.

It should be edited to be at least internally consistent.

[2019-03-14 18:10] srirambv commented on #1331
Closing in favour of #1252. Lets keep all discussion on bottom bar/search button/bookmarks on the same thread

[2019-03-14 18:10] #1331 closed

[2019-03-14 18:11] srirambv commented on #1252
+1 from @nejsimon for search button on bottoms bar via #1331

+1 from @miladmaz12  for having both search and new tab button via #1331

[2019-03-14 18:44] gdregalo opened #1338 "No retry logic for failed `Claim grant` process."
## Description
If `Claim grant` process failed by some of the technical  reasons like network connection problem, a user doesn't have a chance to retry.

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   - Beta build?

## Device Details:
   - Install Type(ARM, x86):
   - Device(P

[2019-03-14 19:16] NejcZdovc commented on #1317
@kjozwiak can you please file an issue for it. Thank you

[2019-03-14 20:12] jamesmudgett opened #1339 "Support accessibility labels on new bottom toolbar."
Support long-press accessibility labels on bottom toolbar buttons. Eg. Long-press tab tray icon.

[2019-03-14 20:12] jamesmudgett commented on #1339
Should display the titles:

"Home"
"Bookmarks"
"Search"
"All Tabs"

[2019-03-14 21:31] anthonypkeane opened #1340 "add personaId, userId, bootStamp to rewards internal page"
To follow along Desktop: https://github.com/brave/brave-browser/issues/3624

[2019-03-14 21:33] anthonypkeane opened #1341 "Add chrome://rewards-internals to assist with support"
To follow Desktop:
https://github.com/brave/brave-core/pull/1139
and also
https://github.com/brave/brave-browser/issues/1174

[2019-03-14 22:19] anthonypkeane opened #1342 "Add 2nd confirmation for destroying actions"
## Description
Actions that destroy data should have a 2nd confirmations.

Example, a user reports that they hit the trash icon and all their tabs disappeared.

**Example**: https://old.reddit.com/r/brave_browser/comments/b11vfe/i_accidently_clicked_the_trash_icon_while/

[2019-03-14 22:24] anthonypkeane opened #1343 "Recent tabs should show 20 tabs"
## Description
Add the ability to show more recent tabs

**User report**: https://old.reddit.com/r/brave_browser/comments/b11vfe/i_accidently_clicked_the_trash_icon_while/

[2019-03-14 22:36] #1337 closed

[2019-03-14 23:24] jtbrown3 commented on #1252
Please provide an OPTION (in Settings->Basics ?) to enable/disable the new split top/bottom toolbar/navigation bar.

This is a significant usability departure from both prior versions and from the default Chrome mobile behavior. While I can understand that this new layout may be desirable for some users - other users like myself do not like it forced upon us.

IMHO, there should be an OPTION to tu

[2019-03-14 23:37] miladmaz12 commented on #1252
@jtbrown3 Post that as a new issue thread - it might get more attn.

[2019-03-15 02:05] anthonypkeane opened #1344 "Add rewards debugging on Android"
To follow Desktop: https://github.com/brave/brave-browser/issues/3538

[2019-03-15 03:56] jtbrown3 opened #1345 "Please provide an OPTION to enable/disable the new split top/bottom tool-navigation bar."
This is a significant usability departure from both prior versions and from the default Chrome mobile behavior. While I can understand that this new layout may be desirable for some users - other users like myself do not like it forced upon us.

IMHO, there should be an OPTION (in Settings->Basics ?) to turn this either ON or OFF.

[2019-03-15 04:00] jtbrown3 commented on #1252
Thanks @miladmaz12, I did just as you suggested:
[https://github.com/brave/browser-android-tabs/issues/1345](url)

[2019-03-15 06:52] NejcZdovc opened #1346 "WalletSummary component clips text on mobile rewards"
**Moved from https://github.com/brave/brave-ui/issues/428**

It looks line the rows in the WalletSummary component clips off a bit of the text when shown in the mobile modal. Maybe we can add a breakpoint and move the amount and the currency to its own line on smaller screeens?

![Screenshot_20190314-222909_Brave](https://user-images.githubusercontent.com/36029900/54396886-d26e1c80-46b4-11e9-895c-

[2019-03-15 06:52] NejcZdovc commented on #1346
cc @anthonypkeane for milestone

[2019-03-15 09:38] csagan5 commented on #150
It supports both importing and exporting bookmarks.

[2019-03-15 15:17] gdregalo opened #1347 "Leaving the app with open panel in background generates message "Please try again""
## Description

Leaving the app with open panel in the background generates message "Please try again".
It looks like it tries to re-create a wallet but it exist already.

## Steps to reproduce
It doesn't happen often only when the app stays in the background for some time. Need to follow the logic to understand what happens there.

   1.
   2.
   3.

## Actual result

## Expected result

## Issue

[2019-03-15 20:55] anthonypkeane commented on #1062
Note: I will create a spec for this

[2019-03-15 21:52] dc2629 commented on #1345
The biggest problem for me is that as a Samsung phone user (S8+), I typically hide the navigation buttons and they only appear when I click somewhere near the bottom. This change interferes with the navigation bar and really ruins the browsing experience.

[2019-03-15 22:31] cryptoy commented on #1345
Having both a top and bottom bar when pages load really takes a way from the browsing experience. With all these bars (I have four total bars when a page loads, 2 android and 2 brave), I am losing real-estate! I feel like I am in prison with all these bars. Please give us the option to go back to how things were.

[2019-03-15 23:09] joseph-peace commented on #1345
just came here to say that i completely agree with it being an OPTION

[2019-03-16 02:40] Mhowser commented on #1345
Please make it an option!

[2019-03-16 02:40] bullwinkle2045 commented on #1345
I'd like to vote for having the location of the navigation bar being an option. I'm not a fan of having it forced to the bottom.

[2019-03-16 03:48] jamesmudgett opened #1349 "Pull to refresh not working"
User reported: Pull to refresh not working in 1.0.88 release. Needs more investigation. Origin https://twitter.com/sil/status/1106691539315642368

[2019-03-16 04:13] MrTechLust commented on #620
I have a bug that makes my control bar appear at the bottom, without an option to adjust it. It seems similar to this feature request... Please fix.

[2019-03-16 04:18] benlc commented on #1345
Pretty much a deal breaker for me as well. Will find a different browser until this is fixed.

[2019-03-16 05:03] Mhowser commented on #1345
You can downgrade to 1.0.84 if you want to wait out the new UI changes,
look in releases and download the modernarm.apk

On Fri, Mar 15, 2019, 9:18 PM Benjamin Le Cun <notifications@github.com>
wrote:

[2019-03-16 06:56] ericdunbar commented on #1252
Chiming in with my two cents worth of opinion:

I HATE having the Home and the Bookmark buttons on the bottom tab. I NEVER use either button and dislike having to waste time on avoiding them.

Why not have an advanced setting where you can:
1. Control what buttons appear on this navigation bar (i.e. the only useful ones are new tab and switch tab); and,
2. Control where the navigation bar appears.

[2019-03-16 07:05] ericdunbar commented on #1345
I'm with @benlc: the bottom location and the home and bookmarks buttons are almost deal breakers for me.

They really detract from the overall experience.

[2019-03-16 08:17] lhorace commented on #1345
It a lot better to bring to devs attention is by voting with the thumbs up on the OPs post.  And wait for when someone takes on the tasks.

[2019-03-16 12:01] nejsimon commented on #1252
I feel there's a lot of redundancy in the current design. In the default "duet" bottom bar from chrome there's som redundancy too but it's worse in brave.

You have the home button which is just another bookmark so you could access whatever home page you have by clicking the bookmarks button. And it'll open as well when you open a new tab. So now there are three quick ways of accessing the home pa

[2019-03-16 17:08] stuartlangridge commented on #1349
Interestingly, it's only not working on one specific site: D&D Beyond. See https://www.dndbeyond.com/characters/6518445/UjSVOw for an example of a not-working page. I can confirm that pull to refresh worked on that site before the Android Brave change to place the toolbar at the bottom of the window.

[2019-03-17 04:26] xdgc commented on #1252
Another thread directed me here. I can't tell what kind of opinion expression the team is looking for, but my preference is for the location bar and the home/new tab/ellipsis buttons all to remain at top. I really hate having them at bottom.since the update. Tempted to disable auto updates and revert until a decision is made.

[2019-03-17 05:11] samueldravis commented on #1345
I agree - this should be optional, or rolled back.

Usability issues: When I want to open a new tab, I want to be next to the URL bar so I can start typing to search. As it stands, I had to just figure out how the thing worked (which admittedly took a while since it is absolutely counterintuitive - Android settings are at the top) and then now have to move my hand across the entire length of my sc

[2019-03-17 05:34] acollien commented on #952
For me, shield toggle does not work on internal addresses i.e. local IPs.
Version 0.61.51 Chromium: 73.0.3683.75 (Official Build) (64-bit)

[2019-03-17 06:07] NejcZdovc commented on #1344
note that first you need to add support for this one, https://github.com/brave/brave-browser/issues/1174, brave/brave-browser#3538 is just a follow up

[2019-03-17 07:42] terofinn commented on #1252
I had to switch back to original Chrome due to this new bottom bar after being a happy Brave (on Android) user for a few months. I just cannot get used to it. So yes, please make this additional bar an optional feature.

[2019-03-17 08:03] Riotous commented on #1345
I want 3 options. This will please everybody.

- Classic (pre-1.88)

- Bottom bar with URL bar on top (1.88)

- Everything on the bottom, nothing on top. (for huge screens)

[2019-03-17 13:57] heldav commented on #1345
The new toolbar at the bottom of the screen is horrible. Totally support the request to make it optional. In the meantime, I'm off to find an alternative browser on Android.

[2019-03-17 14:10] jonathansampson opened #1350 "Setting to Disable Close All Button"
## Description
A user [has requested](https://twitter.com/ewanharris_/status/1107260948677570560) a way to disable the close-all button, which may be pressed unintentionally.

![image](https://user-images.githubusercontent.com/815158/54492412-5f230100-4894-11e9-8b26-5dbc55517f85.png)

[2019-03-17 14:20] srirambv commented on #1252
@anthonypkeane @SergeyZhukovsky @jamesmudgett adding P2 label to prioritize the design.

[2019-03-17 17:59] pjau-steem commented on #134
Still not working, make this a priority.

[2019-03-17 18:24] bjg222 commented on #1252
I think that the top/bottom distinction should be a user selectable option.  There are certainly people who like nav at the bottom, especially for large screens, but it is very controversial for others, who just feel like it is a waste of screen real estate.  The currently implemented solution, having the address bar at the top and menu at the bottom, feels like the worst possible compromise, beca

[2019-03-17 18:26] bjg222 commented on #1345
I think that the top/bottom distinction should be a user selectable option. There are certainly people who like nav at the bottom, especially for large screens, but it is very controversial for others, who just feel like it is a waste of screen real estate. The currently implemented solution, having the address bar at the top and menu at the bottom, feels like the worst possible compromise, becaus

[2019-03-17 18:31] bjg222 commented on #620
Please make this new bottom bar optional.  While I know many people have asked for it, many others do not like it (including myself).  The best solution here is to make it a toggle so that those that want it can have it and those who don't aren't forced to have it.

[2019-03-18 11:34] tuomastiainen commented on #1345
Please add the option and don't force the bottom bar. It is really a horrible choice. It takes up space and is prone to missclicks.

[2019-03-18 17:49] #1350 closed

[2019-03-18 20:08] gdregalo opened #1352 "Rewards GUI: please remove balloon from `Thank You` screen. Adjust the `Site banner` header image to have nice rounded corners."
## Description
1. @james:  still seeing animation after tipping. Odd circle comes up from the bottom. Need to kill that entire animation, just simple fade in/out and the overlay should cover entire screen not be a circle.
2. The header image on Site banner doesn't have rounded corners on high resolution devices.

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Is

[2019-03-18 21:44] jamesmudgett commented on #980
New toolbar design update:
![Screen Shot 2019-03-14 at 5 29 25 PM (1)](https://user-images.githubusercontent.com/318119/54565705-f5dae500-499c-11e9-813b-81975651a6c4.png)

- Replace Bookmarks button with Search: URL bar to focus when tapping search icon.
- Home button should be hidden if Homepage toggle is disabled in settings.
- Tapping + will create new tab and focus URL bar.

[2019-03-18 22:21] tomkinsmike commented on #1252
The new interface should be a user option, and it's not a good sign from the users' point of view that ithe change was rammed down our throats without that being the case.

I can't speak for others, but personally I'm giving Brave about to weeks to give us the option to return to the old style before I switch back to using Chrome. If I make that change, it won't only be on my phone, but also on my

[2019-03-19 11:08] sviluppoSoftware opened #1354 "bug in sync function between Desktop & Android, often Android device are removed from sync chain without any reason"
## Description
from brave's Desktop version i have add an Android device to sync chain, randomly the Android device is remove from sync chain, sometimes it's removed after one day sometimes after 2 or more days

## Issue happens on
   - Current Play Store version? 13.9.17
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet): Phone, Tablet,
   - And

[2019-03-19 13:47] #1352 closed

[2019-03-19 13:49] #1324 closed

[2019-03-19 15:13] tclaybor commented on #1345
This is causing me to be unable to download files, as the "keep anyway?" prompt spawns behind the toolbar and when the toolbar hides, that prompt floats with it, meaning the buttons are still hidden.

Will be rolling back to a previous version until this can be sorted. I don't mind the bottom bar, but I need to be able to download things.

[2019-03-19 15:39] tclaybor commented on #1252
Thanks for your hard work and open forum to listen to us here, devs. If you can make it an option that's great, if not, oh well that's fine too. I understand I'm in no position to make demands and if there's anything I can do to help, please let me know.

Cheers!

[2019-03-19 16:20] SergeyZhukovsky opened #1355 "Intermittent crash on offline pages"
I could not replicate that, but it happens sometimes

`01-20 10:49:38.270 11636 12279 E AndroidRuntime: FATAL EXCEPTION: AsyncTask #5
01-20 10:49:38.270 11636 12279 E AndroidRuntime: Process: com.brave.browser, PID: 11636
01-20 10:49:38.270 11636 12279 E AndroidRuntime: java.lang.RuntimeException: An error occurred while executing doInBackground()
01-20 10:49:38.270 11636 12279 E AndroidRuntime:

[2019-03-19 16:33] #1355 closed

[2019-03-19 18:12] TG-KK commented on #1345
Back to using `Firefox Focus` until this setting is made optional

[2019-03-19 18:49] jamesmudgett opened #1357 "Tablet toolbar cleanup"
![Screenshot_20190319-132916](https://user-images.githubusercontent.com/318119/54633121-84a73a80-4a4d-11e9-8c28-ef76aaf91577.jpg)

Based on screen above please remove the following icons:

- Reload
- Bookmark
- Downloads

Those icons should be made available inside the more menu.

[2019-03-19 20:46] Nikoleos commented on #620
Please make the address bar and shield at the bottom as the home and tab and + are already there in order to have only one bar and not two like kiwi browser

[2019-03-19 20:48] #1279 closed

[2019-03-19 20:56] gdregalo commented on #1325
Duplicate of:
https://github.com/brave/browser-android-tabs/issues/1329

[2019-03-19 20:56] #1325 closed

[2019-03-19 23:08] Brave-Matt commented on #1180
+1 (Zendesk)
![image](https://user-images.githubusercontent.com/3299098/54647797-3308ab00-4a61-11e9-969e-21a7293e5d16.png)

[2019-03-19 23:09] Brave-Matt commented on #1180
+1 Play stor:
![image](https://user-images.githubusercontent.com/3299098/54647834-516ea680-4a61-11e9-996d-64e3eda0c2d8.png)

[2019-03-19 23:10] Brave-Matt commented on #1180
+1 Play store:
![image](https://user-images.githubusercontent.com/3299098/54647877-706d3880-4a61-11e9-84c4-e4392d8024eb.png)
Translated: After the update, the browser began to collapse when closing the tab.

[2019-03-19 23:10] Brave-Matt commented on #1180
+1 Play store:
![image](https://user-images.githubusercontent.com/3299098/54647894-80851800-4a61-11e9-99f4-3b0897b52caf.png)

[2019-03-19 23:11] Brave-Matt commented on #1180
+1 Play Store:
![image](https://user-images.githubusercontent.com/3299098/54647945-a7434e80-4a61-11e9-8743-95cc7ecc966f.png)
Translated:

[2019-03-19 23:11] Brave-Matt commented on #1180
+1 Play store:
![image](https://user-images.githubusercontent.com/3299098/54647960-b5916a80-4a61-11e9-85aa-076ca0d3fe21.png)

[2019-03-19 23:30] srirambv commented on #1354
Does the sync chain remain active on desktop?

[2019-03-19 23:42] tmancey opened #1359 "Add Rust support"
Add Rust support to allow building libraries such as Common Bypass Ristretto for Confirmations

[2019-03-19 23:59] tmancey opened #1360 "Enable and build Ads"
- [x] Enable Ads
- [x] Build and resolve compiler errors on arm (arm-linux-androideabi)

[2019-03-19 23:59] anthonypkeane opened #1361 "First Issue Test"
## Description

## Steps to reproduce

   1.
   2.
   3.

## Actual result

## Expected result

## Issue reproduces how often

## Issue happens on
   - Current Play Store version?
   - Beta build?

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tablet, Phablet):
   - Android version:

## Brave version

### Website problems only
- Does the issue resolve itself when disabling Br

[2019-03-20 00:10] tmancey commented on #1359
There is a duplicate symbol issue with libgcc.a and rustc as follows:

[code]

After much research Go and Rust both have this issue and currently the only solution I could find was to add `-Wl,--allow-multiple-definition'. The first definition will be used. Go are looking at resolving this problem, I will open an issue with the Rust team.

[2019-03-20 00:18] tmancey opened #1362 "Enable and build Confirmations"
- [x] Enable Confirmations
- [x] Build and resolve compiler errors on arm (arm-linux-androideabi)
- [x] Raise issues for outstanding integration tasks

[2019-03-20 00:24] tmancey commented on #1361
LGTM 👍

[2019-03-20 00:24] #1361 closed

[2019-03-20 03:31] kjozwiak commented on #1317
Created https://github.com/brave/brave-browser/issues/3800 👍

[2019-03-20 05:33] ede-tw opened #1363 "Suspected BUG"
Hi,
The Facebook comment plugin can't be used to log in to the account comments.
Please check the problem,thank you!
Demo:
https://demo.infyways.com/demo/social-web/responsive-facebook-comments

[2019-03-20 08:31] Francwa commented on #1345
Same request here ... and **please**, in the future, do **not** force your design choices to your users. We're in 2019, any UI/UX designer should have learned it by now.

[2019-03-20 09:21] tclaybor commented on #1345
Man, people are really upset about this.. you guys might have to refund all the money and hard work your users put into Brave...

oh wait

[2019-03-20 10:51] sviluppoSoftware commented on #1354
yes the sync chain remain active on Desktop and i can see yet the removed android device in the list , i also tried to erase brave's cache in android setting and this no affect to the sync that remain active

[2019-03-20 16:33] anthonypkeane opened #1364 "Fix Overlapping toolbar (Samsung)"
## Description
Since the introduction of the toolbar in 1.0.88 the toolbar is overlapping on some Samsung phones, specifically the S8, Android 8

See discussion here: https://bravesoftware.slack.com/archives/C0816QH3R/p1552582719356700

![received_413033345930650.jpeg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/3fe64836-9be7-44a6-a43a-f59c926d0aaf)

## Actual result

## Expected

[2019-03-20 16:39] anthonypkeane commented on #1339
Exact list TDB

[2019-03-20 18:55] jamesmudgett opened #1365 "Show monthly tip amount for creators in rewards panel"
Missing feature:

When tipping and checking making this tip monthly we need to show screen as seen below:

<img width="442" alt="54729754-80a91480-4b42-11e9-953e-6b7a023c6085" src="https://user-images.githubusercontent.com/318119/54829258-07b1d600-4c84-11e9-8ebc-f65e545aadc7.png">
<img width="483" alt="54729755-8272d800-4b42-11e9-810a-ef6367a670ef" src="https://user-images.githubusercontent.com/31

[2019-03-20 18:59] brianddk commented on #1168
I assume that the intent is bidirectional.

1. Allow Desktop wallets to be restored on Android
2. Allow Android wallets to be restored on Desktop.

[2019-03-21 08:13] blurayne commented on #1345
Another upset one. Please make this an optional feature. The feature currently does not default for Chrome or Chrome Beta. It's really counter intuitive in Brave (e.g. cannot click on when overlay from pocket does display, cannot simply add new page without first having to scroll down or switch to other pages).

At the moment this is a basic ideas.

[2019-03-21 10:56] binarious commented on #712
@tomlowenthal @samartnik I can confirm that the latest version still includes the phone model in the user agent. Is this intended? Can we disable it? Shall I open up another issue?

[2019-03-21 13:45] meecoffee opened #1366 "performance improve?slow than kiwi browser"
can dev make a banchmark between opera beta samsung browser yandex etc ?

[2019-03-21 13:56] AronVanAmmers commented on #247
Still seeing this too with Brave 1.0.88 on Android 8.1.0 (LineageOS an OnePlus One), on GitHub and a number of other sites where I have security keys configured. The behaviour is as specified, with the 2FA page appearing briefly and redirecting back to the logon page.

I have also occasionally seen the following behaviour - not sure what causes this to happen instead of the immediate redirect:

1.

[2019-03-21 17:56] ruiumbelino commented on #1304
Some help, please.

[2019-03-21 18:08] ruiumbelino commented on #1304
I uninstall it and install it again and now works.

Thanks!

[2019-03-21 18:18] anthonypkeane commented on #980
@jamesmudgett can you update this screenshot to the correct one? ^^

[2019-03-21 18:40] dpedu commented on #342
+1

[2019-03-21 19:35] jamesmudgett opened #1369 "Top toolbar updates."
![Home Top Bar](https://user-images.githubusercontent.com/318119/54779941-835d4580-4be6-11e9-81c3-644c24f4ed29.png)

[2019-03-21 19:36] jamesmudgett commented on #1369
It's still important to fix the rounded corners on Android to be less round as shown above. Also, note how tabs and menu are outside of the input box.

[2019-03-21 19:38] jamesmudgett commented on #1369
Placeholder text will need to be changed to fit.

[2019-03-21 19:42] HennyBro commented on #1349
For me it's always working on my Pixel XL running Android Q Beta 1 and the latest 1.088 build.

[2019-03-21 19:49] HennyBro commented on #56
You are right. But before today there weren't forward or back GESTURES in Chromium as well.

[2019-03-21 19:50] HennyBro commented on #56
I suggest you to close this thread, because I'm going to push another one about gesture back and forward navigation in Brave for Android/iOS.

[2019-03-21 21:02] HennyBro commented on #192
I will open a new feature request that tackles this elegantly. It's not really my idea. But hey, it's from Chrome^^

You can close this now.

[2019-03-21 21:04] HennyBro opened #1370 "Add Swipe Gestures for going back or forward WITHIN a page"
**Have you searched for similar issues before submitting this one?**
Yes. And I've found two that are about the same problem. But not about the same way to solve the problem. (for reference #56 #198 #192 )
So here's the newest and best one yet:

**Description:**
Chrome just added the ability for users to go back and forth in Chrome on Android by swiping left hard or swiping right hard. (https://ww

[2019-03-21 21:05] HennyBro commented on #1370
Btw, this is my first ever GitHub feature request. 😍

[2019-03-21 21:24] Brave-Matt opened #1371 "Tapping or adding bookmarks icon on toolbar crashes browser"
## Description
Users are reporting the bookmarks icon (on toolbar) sometimes causes the browser to crash or exit. Seems to be specific to the bookmarks icon on the toolbar as users have also reported being able to add bookmarks via the "more" options menu.

## Steps to reproduce
   1. Launch Brave on Android
   2. Visit a site
   3. Tap "bookmark" icon on bottom toolbar

## Actual result
Brave app

[2019-03-22 01:59] ericdunbar opened #1372 "browser-android-tabs failing to build using provided instructions"
## Description
The github-provided instructions for building android-browser-tabs [(android-browser-tabs)](https://github.com/brave/browser-android-tabs) do not lead to a successful build as of March, 2019.

First, running `sh scripts/getThirdParties.js` fails on a few occasions with _FileNotFoundError_ for _src/third_party/node/linux/node-linux-x64.tar.gz.sha1_ or _ERROR:root:Git error: rc=0, out

[2019-03-22 02:07] gdregalo commented on #1365
@jamesmudgett 'checking' = AC ?

[2019-03-22 03:02] Dho100 commented on #81
"My eye sight was getting worse everytime I had to hardcore-study for exams (12h/day for min. 2 months). I read that scientists found out that black text on white ground was causing your eyeballs to grow and develop shortsightedness, while white text on black ground stops this process."

https://www.reddit.com/r/YouShouldKnow/comments/b3ul4v/ysk_about_dark_reader_a_browser_addon_that/

[2019-03-22 05:02] kjozwiak commented on #1342
+1 from me. This screwed me a few times and accidentally removed ~100 tabs that I had opened. I needed to go through a huge cache of history to get back the important tabs that I still wanted to read/look at.

[2019-03-22 13:26] wjdp commented on #342
![Screenshot_20190322-125224](https://user-images.githubusercontent.com/1690934/54825564-d34f1180-4ca5-11e9-95f6-f343f967b3ba.jpg)

Recent update moved buttons to bottom and brave icon to address bar. For me the space issue is now solved. The button being red still does irk.

[2019-03-22 13:59] Alex15Git commented on #1252
Hello, please enable access to the address bar in the bottom tab. As someone suggest, why not getting rid of the bookmarks icon in the bottom bar? Thanks.

[2019-03-22 14:23] jamesmudgett commented on #1365
@gdregalo updated screens

[2019-03-22 15:14] gdregalo commented on #1365
Per @NejcZdovc :
If you have AC off, but recurring tip we will show only one line with that drop down.
(we need to show the grouping lines on the top and bottom)

if you have AC on and recurring then we will show all 3 of them.
if AC is on, but not recurring we only show % and include toggle.

[2019-03-22 17:07] jamesmudgett commented on #1365
@gdregalo thanks for clearing that up!

[2019-03-22 18:00] anthonypkeane opened #1373 "Better organize Kabab menu"
## Description
Following the changes to the toolbar, we have some redundancy on the main toolbar and the Kabab toolbar (bookmark icon).
Also the Kabab menu is getting long and needs a spring clean

AK and James to finalize

![Screenshot_20190322-135301.jpeg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/9e30f93b-5476-4bf5-9344-002668e38d83)

[2019-03-22 20:37] anthonypkeane commented on #1062
Spec: https://docs.google.com/document/d/1sBWHtB4F3zT5YTJBvYmtupSDKOKHq4UWkxxCcW76100/edit

[2019-03-22 20:59] anthonypkeane commented on #980
@jamesmudgett pls confirm this is the correct screen

![device-2019-03-21-141412](https://user-images.githubusercontent.com/7606853/54852628-9e918900-4caa-11e9-9b88-93e18c7e14a5.png)

https://bravesoftware.slack.com/archives/GEW5B9WRZ/p1553192429205200

[2019-03-22 21:47] anthonypkeane opened #1374 "Default Browser modifications"
## Description
Can we make the following modifications

1) Change the 15 min limit to 7 min
- this is the time when the notification first fires

2) If a user dismissed the notification (presses No), don't show it again

Make Brave your default web browser
Save battery and load web pages faster
Yes | No

[2019-03-23 00:13] miladmaz12 commented on #79
@SergeyZhukovsky @samartnik @srirambv Any updates to this? The pull request #319 isn't been updated

[2019-03-23 10:09] ericdunbar commented on #1372
Update: After 12 hours of building I successfully built chromium as per https://chromium.googlesource.com/chromium/src/+/master/docs/android_build_instructions.md

My setup is capable of building chromium so I imagine it ought to _also_ be able to do brave.

[2019-03-23 19:01] aqeelparpia commented on #1374
Hello, @anthonypkeane I would love to contribute to this issue. Could I get assigned to it?

[2019-03-24 02:53] GeetaSarvadnya commented on #1328
Reproduced on brave 1.0.88 rc2 - Samsung Galaxy J3 version 5.1

[2019-03-24 02:55] GeetaSarvadnya commented on #1345
1+ https://community.brave.com/t/dont-ruin-this-browser-please/48951/14

[2019-03-24 02:57] yachtcaptain23 commented on #1372
Hey Eric, thanks for taking the approaches to contributing. `sh scripts/getThirdParties.js` needs to succeed for the build to work. I would make sure both `npm` and `yarn` are installed on your machine.

Additionally, I believe `autoninja -C out/Default chrome_public_apk` will help you build faster than simply `ninja -C out/Default chrome_public_apk`. This command checks to see how many cores you

[2019-03-24 03:50] GeetaSarvadnya commented on #1330
Reproduced on 1.0.88 rc2 - Samsung Galaxy J3 - 5.1

![Screenshot_2019-04-24-09-19-57](https://user-images.githubusercontent.com/38657976/54874677-16c88d80-4e16-11e9-8df0-097e37fdb8d4.png)

[2019-03-24 19:05] eljuno commented on #1371
+1 from Community https://community.brave.com/t/unfortunately-brave-has-stopped/50165?u=eljuno

[2019-03-25 12:12] maridonkers commented on #134
Still not working. Also add an option to the menu to explicitly request translation for a page.

[2019-03-25 17:00] jamesmudgett opened #1375 "Bottom toolbar hide/show behavior"
Hide bottom toolbar by default when device is 360x640 (which are smallest android devices). Show toolbar by default with when larger. Hide/Show toggle in settings.

[2019-03-25 21:05] anthonypkeane opened #1376 "Remove the Bookmark icon from the Kebab"
## Description

If the bottom toolbar is enabled, the bookmark icon in the Kebab menu can be hidden and the other icons spaced out

![Screenshot_20190322-135301.jpeg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/c1a88b24-588b-4615-8cc9-cb97532c8349)

[2019-03-25 21:11] anthonypkeane commented on #1373
Dup of https://github.com/brave/browser-android-tabs/issues/1376

[2019-03-25 21:11] #1376 closed

[2019-03-25 21:17] anthonypkeane opened #1377 "Organize Settings menu"
## Description
Move "Disable/Enable bottom toolbar" into Settings under Display

Linked to: https://github.com/brave/browser-android-tabs/issues/978

[2019-03-26 01:14] tomlowenthal opened #1378 "Add estimated battery saved to Brave stats"
https://brave.com/brave-saves-batteries/

Brave's new tab page lists the amount of time you've saved and trackers you've blocked. We should add estimated battery savings to that list.

[2019-03-26 13:09] srirambv commented on #1378
Dont think it would add too much value but would be good to show it. Would this be shown for a period of time or just incremental update on each use?

[2019-03-26 18:25] SergeyZhukovsky commented on #1369
Done

[2019-03-26 18:25] #1369 closed

[2019-03-26 18:27] SergeyZhukovsky commented on #1342
We decided to remove it at all.

[2019-03-26 18:27] #1342 closed

[2019-03-26 18:36] srirambv opened #1379 "Manual test run on Android ARM for 1.0.89"
## Per release specialty tests
 - [x] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [ ] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [ ] Top toolbar updates.. ([#1369](http

[2019-03-26 18:36] srirambv opened #1380 "Manual test run on Android x86 for 1.0.89"
## Per release specialty tests
 - [x] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [ ] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [ ] Top toolbar updates.. ([#1369](http

[2019-03-26 18:36] srirambv opened #1381 "Manual test run on Android Tab for 1.0.89"
## Per release specialty tests
 - [ ] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [ ] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [ ] Top toolbar updates.. ([#1369](http

[2019-03-26 18:37] SergeyZhukovsky commented on #1371
That should be fixed in the upcoming release

[2019-03-26 18:37] #1371 closed

[2019-03-26 18:38] srirambv opened #1382 "Upgrade to Chromium 73.0.3683.90"

[2019-03-26 18:39] #1382 closed

[2019-03-26 18:53] srirambv opened #1383 "Toolbar is reset to top on upgrade"
## Description
Toolbar is reset to top on upgrade

## Steps to reproduce

   1. Install playstore build
   2. Upgrade to the 1.0.89
   3. Toolbar is on top. Default position has to be on the bottom

## Actual result
Toolbar is reset to top on upgrade

## Expected result
Toolbar should remain at bottom

## Issue reproduces how often
Easy

## Issue happens on
   - Current Play Store version?
No
   -

[2019-03-26 18:56] srirambv commented on #1382
Verification passed on
![image](https://user-images.githubusercontent.com/17010094/55025458-58546680-4fd7-11e9-8aef-f91250ee6c95.png)

[2019-03-26 19:03] srirambv commented on #1342
* Verification passed on Pixel 3, No trash bin icon shown when tabs container is opened

[2019-03-26 19:03] LaurenWags commented on #1383
Reproduced with Asus Zenfone (x86)

[2019-03-26 19:30] LaurenWags commented on #1371
Verified on Asus Zenfone (x86) - tapping bookmark icon bookmarked the page as expected, no crashes were observed.

[2019-03-26 20:37] jamesmudgett opened #1384 "Address bar polish"
There are a couple of issues here.

1. The address bar should have an 8px rounded corner vs a fully rounded corner. See:
![screen shot 2019-01-22 at 11 20 16 am](https://user-images.githubusercontent.com/318119/51553377-4ec44c00-1e38-11e9-923b-ed1b68533c85.png)

2. Button size (mdpi) 44x40 for both brave and bat logos. And we should add a 7px rounded corner to these.
3. The button should sit insid

[2019-03-26 20:37] jamesmudgett commented on #1384
![Screen Shot 2019-03-26 at 3 32 27 PM](https://user-images.githubusercontent.com/318119/55031681-19291400-4fdd-11e9-8f5d-c5318b071a68.png)

Sizing and alignment of icons

[2019-03-26 20:42] tomlowenthal commented on #900
We have our own bottom-bar; we don't support Chrome Duet.

[2019-03-26 20:42] #900 closed

[2019-03-26 21:33] srirambv commented on #1379
Regression tests passed.

[2019-03-26 21:33] #1379 closed

[2019-03-27 12:40] anthonypkeane commented on #1230
@jamesmudgett to confirm

[2019-03-27 12:55] anthonypkeane commented on #1178
Closing as this is fixed

[2019-03-27 12:55] #1178 closed

[2019-03-27 14:52] srirambv opened #1386 "Provide sync shortcut in kabab menu"
Sync being a major feature, should have an easy access to sync from Kabab menu. Currently user has to navigate inside settings to enable/use sync.

[2019-03-27 15:20] jakeg commented on #1345
Have reluctantly switched away from Brave. If this gets fixed I'll come straight back.

[2019-03-27 15:25] yachtcaptain23 commented on #1345
@jakeg Fix is in the works per https://github.com/brave/browser-android-tabs/issues/1375

[2019-03-27 15:31] gdregalo commented on #1365
![2019-03-27 11_14_24-Window](https://user-images.githubusercontent.com/37560650/55088128-91e1ac00-5081-11e9-902d-d0135daaa4f2.png)

@jamesmudgett @NejcZdovc
The image near  the Recurrent Donations drop down list is more suitable to increase/decrease the value in the buddy edit box when user presses upper or lower part of the button.

I think the native drop down list button image looks much more

[2019-03-27 15:57] anthonypkeane opened #1387 "Update Google Play Store images to align with the new toolbar"
## Description

Update Google Play Store images to align with the new toolbar

[2019-03-27 17:06] anthonypkeane opened #1388 "Implement Cross-platform libraries"
## Description

Implement Cross-platform libraries

https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit#

[2019-03-27 18:35] anthonypkeane commented on #1167
Assigned to James to confirm design

[2019-03-27 18:51] jamesmudgett commented on #1167
Based on discussion we will use a local notification instead of popup.

Notification title should be "Brave Rewards is now live."

[2019-03-27 22:27] gdregalo opened #1389 "Sending a tip to non-existent publisher"
## Description
The user can make a typo during typing a url, which results in "The site can't be reached" warning.
In this case on Rewards panel the publisher is presented as unverified and user can still send a tip to him. Sending a tip to non-existent publisher is confusing.
There is case when the publisher exists but her host is inaccessible.
For this case we might need to use DNS resolver to c

[2019-03-27 23:40] WinstonSmithEightyFour commented on #1345
This new UI is bad. Please make it optional to change back. I read this is supposed to be "better" for larger 6in screens. I have a galaxy s6 which does not have a 6in screen and my hands are suitably large to use the old way that I've been conditioned over years of use.

Seriously considering not using chrome or other Google products

[2019-03-27 23:49] CryptoMiike commented on #81
If developers will continue to ignore our ideas and take it easy I don't see this browser be TOP10 any time soon. Recently I have been testing a few major browsers and they all have a dark mode. It is a new standard now. If you don't have it don't be surprised why your user grow index doesn't increase as you want. No dark mode included no Brave as a default browser.

[2019-03-27 23:57] thepinkturtle commented on #81
What other mobile browsers have you been using, I just curious?

- Regards Devin -

________________________________
From: CryptoMiike <notifications@github.com>
Sent: Wednesday, March 27, 2019 4:49:56 PM
To: brave/browser-android-tabs
Cc: thepinkturtle; Comment
Subject: Re: [brave/browser-android-tabs] Add night mode (#81)

If developers will continue to ignore our ideas and take it easy I don't

[2019-03-28 05:30] NejcZdovc commented on #1389
user can tip them, but no money will be actually send until that publisher is verified (user can only tip verified publishers). I think this is not a problem

[2019-03-28 14:05] ShyPixie commented on #327
about:adblock is gone?

[2019-03-28 14:31] gdregalo commented on #1389
@NejcZdovc Yes, user can only tip verified publishers. But we say "Tip has been sent..."  and it doesn't look professional because the publisher doesn't exist. The DNS resolver functionality is inbuilt into browser and  we can find out if the url points to a valid domain before registering the publisher in the database.

[2019-03-28 18:14] #1244 closed

[2019-03-28 18:15] #1130 closed

[2019-03-28 18:16] anthonypkeane commented on #1292
@kjozwiak cc

[2019-03-28 18:27] #1236 closed

[2019-03-28 18:32] anthonypkeane commented on #1231
cc @srirambv

[2019-03-28 18:34] anthonypkeane commented on #1288
@srirambv

[2019-03-28 18:44] anthonypkeane opened #1390 "Add BR Badge"
Add BR Badge to the BAT icon

Notify a user they have a Grant available

[2019-03-28 18:47] srirambv commented on #1288
Still reproducible. Default top tiles doesn't show favicon in a-c list. Visiting the site again and reloading the a-c list page shows favicon https://youtu.be/ftGHtN_uYuk

[2019-03-28 19:28] srirambv commented on #1231
Unable to reproduce the issue. Looks to be working. Got auto contribute success message once reconcile was completed. Closing the issue for now. Will reopen if run into it again

[2019-03-28 19:28] #1231 closed

[2019-03-28 19:59] LaurenWags opened #1391 "tip amount not being deducted from wallet balance"
## Description
After claiming a grant and attempting to tip a verified publisher, the amount of tip is not being deducted from wallet balance.

## Steps to reproduce

- Install playstore build
- enable rewards and claim grant
- change budget to 20bat
- add both verified and non-verified sites
- try sending a tip to verified publisher

## Actual result
Tip appears to go thru (it's listed on tips pa

[2019-03-28 20:01] btlechowski commented on #1391
Reproduced on Samsung s7, Brave 1.0.88

![Screenshot_20190328-205848_Brave](https://user-images.githubusercontent.com/34715963/55188855-9d75c580-519c-11e9-88b0-5fb4ef19d4c4.jpg)

[2019-03-28 20:03] srirambv commented on #1391
Marking for Prod release cc: @anthonypkeane

[2019-03-28 20:10] srirambv opened #1392 "Reconcile doesn't reduce wallet balance"
## Description
Reconcile doesn't reduce wallet balance

## Steps to reproduce

   1. Enable rewards and claim grants
   2. Set budget below wallet balance
   3. Add a few verified and non verified pubs
   4. Wait for reconcile to go through
   5. Auto contribute message shows how much BAT contributed but wallet balance remains same

## Actual result
Reconcile doesn't reduce wallet balance

## Expe

[2019-03-28 20:24] btlechowski commented on #1392
Reproduced on Samsung s7. Brave 1.0.88.
![Screenshot_20190501-210510_Brave](https://user-images.githubusercontent.com/34715963/55190303-da8f8700-519f-11e9-85fa-232fd9f063a6.jpg)

Related issue: https://github.com/brave/browser-android-tabs/issues/1391

[2019-03-28 23:17] anthonypkeane commented on #1215
Brave Rewards is here
Support the sites you love. Get Started

[2019-03-29 12:11] #1383 closed

[2019-03-29 12:40] srirambv commented on #1390
This is already available. Notification badge is shown for the following
- Grant availability
- Failed tipping
- Insufficient funds for auto contribution
- Successful auto contribution

[2019-03-29 12:40] #1390 closed

[2019-03-29 13:22] srirambv opened #1394 "Manual test run on Android ARM for 1.0.89"
## Per release specialty tests
 - [x] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [x] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [x] Top toolbar updates.. ([#1369](http

[2019-03-29 13:22] srirambv opened #1395 "Manual test run on Android x86 for 1.0.89"
## Per release specialty tests
 - [x] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [x] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [x] Top toolbar updates.. ([#1369](http

[2019-03-29 13:22] srirambv opened #1396 "Manual test run on Android Tab for 1.0.89"
## Per release specialty tests
 - [ ] Add 2nd confirmation for destroying actions. ([#1342](https://github.com/brave/browser-android-tabs/issues/1342))
 - [x] Rewards GUI: please remove balloon from `Thank You` screen. Adjust  the `Site banner` header image to have nice rounded corners.. ([#1352](https://github.com/brave/browser-android-tabs/issues/1352))
 - [ ] Top toolbar updates.. ([#1369](http

[2019-03-29 13:23] #1380 closed

[2019-03-29 13:23] #1381 closed

[2019-03-29 14:09] srirambv commented on #1391
Issue due to backend service needs to have a notification on UI to inform about the delay

cc: @mandar-brave @evq @anthonypkeane

[2019-03-29 14:09] srirambv commented on #1392
Issue due to backend service needs to have a notification on UI to inform about the delay

cc: @mandar-brave @evq @anthonypkeane

[2019-03-29 14:42] SergeyZhukovsky commented on #980
That is done in 1.0.89 milestone

[2019-03-29 14:42] #980 closed

[2019-03-29 14:44] SergeyZhukovsky commented on #1204
@anthonypkeane I think we decided to make it after. We can add that functionality in any moment and tell users with problems that it's coming.

[2019-03-29 15:28] LaurenWags commented on #1352
Verified with 1.0.89 on Asus Zenfone (x86). Verified on upgrade (rewards enabled prior to update) and clean installs.
![Screenshot_20190329-110710](https://user-images.githubusercontent.com/28145373/55243488-b9697d80-5215-11e9-9ac8-768c7590e51f.jpg)
![Screenshot_20190329-110717](https://user-images.githubusercontent.com/28145373/55243490-bbcbd780-5215-11e9-87e7-884fb49341b9.jpg)

[2019-03-29 15:31] LaurenWags commented on #1369
Verified on 1.0.89 with Asus Zenfone (x86).
![Screenshot_20190329-113034](https://user-images.githubusercontent.com/28145373/55243766-40b6f100-5216-11e9-9fcd-72b679b33707.jpg)

[2019-03-29 16:00] btlechowski commented on #1383
Verification passed on 1.0.89 RC2 using Samsung s7

[2019-03-29 16:36] SergeyZhukovsky commented on #1339
@anthonypkeane @jamesmudgett let me know an exact list of string that be there. Right now I made such:

[2019-03-29 16:45] anthonypkeane commented on #1312
Update, Chrome works fine when ^^ happens
I'm on Airplane more with WiFi on.

[2019-03-29 16:56] srirambv commented on #1383
Verification passed on Pixel 3XL

[2019-03-29 17:06] anthonypkeane commented on #1339
Perfect @SergeyZhukovsky

[2019-03-29 18:09] anthonypkeane commented on #1204
Desktop have this is setting, not BR settings.

[2019-03-29 20:17] #1375 closed

[2019-03-29 20:17] #1339 closed

[2019-03-29 22:04] #1395 closed

[2019-03-29 22:15] LaurenWags commented on #1395
Quick Rewards regression test was completed as well. All tests were as expected.

[2019-03-29 22:18] btlechowski commented on #1394
Verification passed on 1.0.89 RC2, Samsung s7

[2019-03-29 22:18] #1394 closed

[2019-03-29 22:22] srirambv commented on #1396
Looks good to go

[2019-03-29 22:22] #1396 closed

[2019-03-29 23:13] anthonypkeane opened #1399 "BR Grant"
## Description

When a user creates a BR Wallet, we currently display the below screen.

![Screenshot_20190328-124056](https://user-images.githubusercontent.com/7606853/55265843-3eb15a00-5237-11e9-8431-0e82a045963e.jpg)

This was fine when grants were made available immediately, but going forward, grants will now be provided at a delayed date.

Therefore we need to add the following:

1) where the

[2019-03-29 23:27] anthonypkeane opened #1400 "Add a Notification Widget"
## Description
Add the ability for a user to add and customize a Brave Notification Widget

Include (in this order)
- Search -> Tapping opens Brave on a new tab with the users default search engine open. Keyboard up
- Table of shortcuts to a users favorite sites
   - YouTube
   - Facebook
   - DDG etc
In settings the user can add up to 4 sites.
- Notify users about open Wifi.

Some details @anthon

[2019-03-30 00:03] gdregalo commented on #1215
Duplicate of:
https://github.com/brave/browser-android-tabs/issues/1167

[2019-03-30 00:36] gdregalo commented on #1167
@jamesmudgett @SergeyZhukovsky
The notification has 2 forms: collapsed and expanded.The expanded one has 2 buttons.
The proposed "Continue" or "Start here" assumes to bring a user to UI where she can start working with Rewards.  I think, the button which points a user to a web resource where she can only learn about the feature should be named something like "Learn more".
![rewards_notification_co

[2019-03-30 01:36] gdregalo commented on #1365
Per @jamesmudgett:
I believe I attached an image before which is just a drop down arrow. You could also use the one in your comment, looks good as well. I agree, shouldn’t be an up and down arrow.

[2019-03-30 01:46] anthonypkeane commented on #1167
@gdregalo

Looking at this please update the text slightly to:

Brave Rewards is here
Support the sites you love.

Buttons are
Get started
Dismiss

Tapping Get started opens Brave and ideally opens the BR panel

If the 2 lines of text are too long you can shorten it to "Brave Rewards is here"

----

For devices on <21 (if you are supporting them) have the following text:

Brave Rewards is here.
Op

[2019-03-30 01:49] meecoffee commented on #1366
any reply?

[2019-03-30 01:58] SergeyZhukovsky commented on #1366
@meecoffee could you please post an exact problem you have? Unfortunately we don't have time to make benchmarking with all browsers on the market. We made comparison with Chrome a while ago https://brave.com/new-brave-22-percent-faster/. I would say that: post your results if you really want to help us and we will analyze them?

[2019-03-30 02:59] svarvel commented on #1366
You can see some benchmarking here including some of the browsers you have mentioned.

https://brave.com/brave-saves-batteries/

[2019-03-30 20:02] gdregalo commented on #1329
Fixed

[2019-03-30 20:02] #1329 closed

[2019-03-31 08:25] dh4rm4 commented on #181
Hi there
Any news on this ?

[2019-03-31 10:22] subi54 opened #1402 "Request to bring back 1.0.88 bottom bar shortcuts"
Hi, can we get back the 1.0.88 style bottom bar shortcuts?

Home | Bookmarks Bar | New Tab | Switch Tabs | Menu |

It was intuitive, it was accessible.

Accessing bookmarks + instant new tab is preferable and more used than making a bookmark and searching.

[2019-03-31 10:23] subi54 commented on #1402
If the bottom bar can be customised, that'd be a cherry on top of what is Brave Browser.

[2019-03-31 21:48] #1251 closed

[2019-03-31 21:50] ryanml commented on #1251
Fixed via: https://github.com/brave/browser-android-tabs/commit/536023c33e078061fe713bc8d13c98692c834931 this should cover the numerous steps to reproduce this one.

cc: @SergeyZhukovsky @anthonypkeane

[2019-04-01 05:38] #1213 closed

[2019-04-01 05:39] ryanml commented on #1213
This is fixed via: https://github.com/brave/browser-android-tabs/commit/a90e0f5743c0afe150674d810654cde00746c3e5

Summary should now display in the scenarios detailed above
cc: @anthonypkeane @SergeyZhukovsky

[2019-04-01 07:00] tjerzyko commented on #1402
The bottom bar should contain the most frequently used actions. Creating bookmarks is not one of them. Browsing bookmarks is.

[2019-04-01 09:09] eljuno opened #1403 "Home button not shown with bottom bar disabled"
## Description
Originally reported on Community https://community.brave.com/t/homepage-button-not-showing-in-brave-android-1-0-89/51323?u=eljuno

After disabling bottom bar, "Home button" not shown even it's still enabled on Settings. Home button enabled via flags.

## Steps to reproduce

   1. Enable home button via flags
   2. Update to 1.0.89 and disable bottom bar
   3. Confirm that home butto

[2019-04-01 09:34] benlc commented on #1345
Thanks for the fix! Replacing the *new tab* with *search* as well as giving
the option to turn it off altogether was a good move.

On Thu, Mar 28, 2019 at 1:40 AM WinstonSmithEightyFour <
notifications@github.com> wrote:

[2019-04-01 10:52] o-l-a-v commented on #1374
Seems that Brave shows this notification every time a update is installed from Google Play. Even though I've said NO earlier, it's keeps coming. Please stop this annoying behaviour.

[2019-04-01 14:36] StephenBass commented on #469
+1 from the Brave Reddit - https://reddit.com/r/brave_browser/comments/b7z4bo/bookmarks_on_mobile_start_page/

[2019-04-01 14:43] jamesmudgett opened #1404 "Test Ads button on Brave Rewards settings page."
"Test Ads" button needed on Brave Rewards settings page when Ads is in the disabled state. The test button will need to be added to the HTML which makes up Rewards settings. Tapping on "Test Ads" button should fire an event that can be captured natively to trigger a local notification (test ad).

[2019-04-01 17:32] SergeyZhukovsky commented on #1399
@anthonypkeane I wouldn't touch notifications, they distract users, too much of them lately.

[2019-04-01 17:52] epitron commented on #1402
Ditto for a customizable bottom toolbar.

My ideal bar would be:
New Tab | Find in Page | Toggle JavaScript | Close Tab (double-tap for safety)

[2019-04-01 18:05] yachtcaptain23 commented on #1345
Option "Disable bottom toolbar" is available in the triple-dot settings to disable the browser as of 1.0.89.

Closing.

[2019-04-01 18:05] #1345 closed

[2019-04-01 18:06] yachtcaptain23 commented on #1209
Functionality is enabled.

[2019-04-01 18:06] #1209 closed

[2019-04-01 18:06] yachtcaptain23 commented on #938
Functionality is enabled.

[2019-04-01 18:06] #938 closed

[2019-04-01 19:47] anthonypkeane opened #1405 "Non-referral downloads should use generic refcode - Android"
## Description

All Brave browsers should add a universal "default" Brave refcode into the user profile at first run time (if not already present from a referral download/installation process) and act from that moment forward exactly as any referred download would act.

Desktop Link: https://github.com/brave/brave-browser/issues/2547

[2019-04-01 22:39] #1319 closed

[2019-04-01 22:43] ryanml commented on #1319
Fixed via: https://github.com/brave/browser-android-tabs/commit/f213ea253887cc1d487a28b954ce8277e29f0814

The wallet summary modal is now tied to `chrome://rewards#rewards-summary`, so it can also be linked to

cc: @anthonypkeane @SergeyZhukovsky

[2019-04-01 23:44] HennyBro commented on #81
Seriously, @bravedevs: You could just say that Dark Mode will come later, definitely and that you are only focusing Brave Rewards and Sync right now. Just confirm a website wide dark mode NOW and we'll have something that we can look forward to...

Please 😊

[2019-04-02 00:55] SergeyZhukovsky commented on #1228
I tried it everything works to me without reloading pages and etc, but I actually didn't understand the steps. Where do you enable in #1 and where do you enable in #2? The step where you disable is missed as to me as well.
@srirambv could you explain?

[2019-04-02 01:10] SergeyZhukovsky commented on #1214
@GeetaSarvadnya I cannot replicate it, I think in your last comment it could be that total time of websites was hit 1 minute and that's why they were retained.

[2019-04-02 01:53] SergeyZhukovsky commented on #1228
After talking with @srirambv he showed me a video where he quickly clicks on off and it fails on some step. I don't think it's a blocker for the roadmap, moving it to the next.

[2019-04-02 02:25] Brave-Matt opened #1406 "Some users seeing all text = "Brave" in Android app"
## Description
As strange as it sounds, a number of users have reported this. Some seemed to have had the issue resolved in the last update while others still see this even after 1.0.89.

The issue is as it sounds, all the menu text says "Brave" instead of [Menu item]:

![bravetxt3](https://user-images.githubusercontent.com/3299098/55371478-42e9ab80-54b3-11e9-88f4-804b2e779ec6.jpg)![testing](https

[2019-04-02 02:52] yachtcaptain23 commented on #1406
I browsed through the Community forum, "Samsung’s Galaxy Themes seems to be causing the problem. Try setting your Theme to Default and tell me if it fixes the problem."

[2019-04-02 13:40] jamesmudgett commented on #1167
Get started button should land on brave://rewards welcome page

[2019-04-02 16:24] anthonypkeane commented on #1204
Please place the option is a new section in settings.

Section: Brave Rewards
Place it under Appearance (from #978)

Reset Brave Rewards
This will delete your Brave wallet and reset all of your Brave Rewards data.
Cancel | Confirm

If there is an error resetting BR, use the following text

Reset Error
There was an error resetting Brave Rewards. Please relaunch Brave and try again.
Relaunch

[2019-04-02 17:08] Qyrln opened #1407 "Improve ad blocker"
Improve adblocker to block ad spaces examble in screenshots

Kiwi Adblocker https://ibb.co/KjcLBLY
Brave Adblocker https://ibb.co/sP8bpV3
Tested on www.apkmirror.com

[2019-04-02 19:02] srirambv commented on #1228
Here's the current behaviour
- disable rewards on chrome://rewards, see the welcome message
- enable via panel
- disable rewards again on chrome://rewards, no welcome message is shown
- stay on the page for ~1 min, still no welcome message is shown
- pull down refresh, still no welcome message
- enable rewards again on chrome://rewards
- disable rewards on chrome://rewards, may show or may not sho

[2019-04-02 19:14] srirambv commented on #1214
Verified the issue on Samsung Tab. Here's my observation

- Clean install from playstore
- Enable rewards
- Change min time to 5sec
- Visit 2-3 sites, got listed in a-c list after 5sec of min visit
- Changed min time to 1min, sites added before is removed
- Visit 2-3 sites in a new tab and stay on the page for >1min, none of them got listed in the a-c list

[2019-04-02 19:30] trymeouteh commented on #92
91 thumbs up on this request! I have never seen any feature request on github have so many thumbs up.

When is this gonna happen! The community and myself cannot wait for this!

[2019-04-03 00:22] lukemulks opened #1411 "Brave Rewards: Default tipping amt and accidental tipping"
## Description
I accidentally tipped ~$1.59 USD worth of BAT to Coinmarketcap.com today.

The default tipping amt of 5 BAT being preselected, along with the "Send my tip" button being placed very close to the native buttons on the bottom of the screen made it pretty easy to accidentally tip the site.

## Steps to reproduce

   1. Go to site
   2. Open tip dialogue
   3. Look at placement

## Actua

[2019-04-03 00:32] lukemulks opened #1412 "Br"
## Description
I had been visiting a site in Brave, and had the Brave Rewards tipping panel open over the webpage.

I navigated away from Brave, into Slack.

I clicked to open a link from within Slack, which then opened in Brave.

The Brave Rewards panel for the original site (coinmarketcap) had persisted, displaying over the new github page.

## Steps to reproduce

   1.  In Brave, open the Brave

[2019-04-03 07:36] jonathansampson opened #1413 "Implement 'Bookmark all tabs' feature"
### Description:
For parity with desktop, an option to bookmark all open tabs. This option would allow you to specify a folder in which each opened tab will be bookmarked.

Users would like the ability to sync _opened tabs_ between devices. That would require a bit more work; bookmarking all opened tabs (and opening tabs for all bookmarks in a folder) would allow us to offer a minimal-friction wor

[2019-04-03 15:49] erghbn commented on #81
Please! It's blinding.

[2019-04-03 16:34] anthonypkeane commented on #1399
Confirmed with @mandar-brave

![Screen](https://user-images.githubusercontent.com/7606853/55496245-70d60980-55f3-11e9-8355-3c053c2d0759.jpg)

text: Check back soon for a free token grant.

Place the text as per the screen above.

[2019-04-03 16:48] jumde opened #1415 "Require user permissions before using accelerometer api"
### Steps to Reproduce
  1. Navigate to http://www.albertosarullo.com/demos/accelerometer/

**Actual result:**
Accelerometer is accessed without user permissions

**Expected result:**
Access to accelerometer api should request user permissions

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easily

**Brave Version:**
1.0.88

**Device details:**
Pixel 2XL

[2019-04-03 17:05] anthonypkeane opened #1417 "Pressing Yes on the Default Browser notification is not working"
## Description
I recieved a notification to make brave the default browser.
I pressed Yes.
Nothing happened

## Steps to reproduce

   1. Download and Open Brave
   2. Keep Brave open for 15 min until the notification appears
   3. Press Yes once the notification appears

## Actual result

![Default Browser](https://user-images.githubusercontent.com/7606853/55497760-e55e7780-55f6-11e9-8f8b-0947fe8

[2019-04-03 18:12] #1062 closed

[2019-04-03 18:13] SergeyZhukovsky commented on #1214
We can move to a next roadmap as not an issue really, it counts correctly just page isn't get refreshed.

[2019-04-03 18:41] #1412 closed

[2019-04-03 19:19] jumde opened #1420 "Report constant values for battery status API"
## Description
Battery status api can be used for fingerprinting. Return constant values to avoid fingerprinting.

## Steps to reproduce

   1.  Navigate to https://googlechrome.github.io/samples/battery-status/

## Actual result
Shows the battery percentage

## Expected result
Shows constant result instead of the actual battery remaining

## Issue reproduces how often
Easily

## Issue happens on

[2019-04-03 19:47] Brave-Matt opened #1422 "Some sites show "blank/black" screen until app is exited/reopened"
## Description
Many users are reporting some sites showing a black screen in browser when visited. This doesn't seem to be specific to any particular set of sites or device types.
![bscreen](https://user-images.githubusercontent.com/3299098/55508190-3168e680-560e-11e9-8423-f38c288a4613.png)

## Steps to reproduce
No real steps -- user reports say simply navigating to [a site] will display  similar

[2019-04-03 19:48] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508411-b3590f80-560e-11e9-93d8-a97cc0125c09.png)

[2019-04-03 19:48] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508430-beac3b00-560e-11e9-96ed-02d27c635f49.png)

[2019-04-03 19:49] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508499-e13e5400-560e-11e9-82eb-5b53f093e3a0.png)

[2019-04-03 19:49] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508538-f87d4180-560e-11e9-8e61-b3162756a763.png)

[2019-04-03 19:50] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508597-1480e300-560f-11e9-8f6a-3e739c2bc873.png)

[2019-04-03 19:50] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55508624-1ea2e180-560f-11e9-9037-65a82bd6f5f9.png)

[2019-04-03 20:28] ryanml opened #1423 "Long translation titles overflow in Rewards Settings Boxes"
It should stay on the same line if it can and not click in to the text below.

![image (6)](https://user-images.githubusercontent.com/8732757/55510957-421c5b00-5614-11e9-8bdf-6f5773a02ddc.png)

[2019-04-03 20:47] SergeyZhukovsky commented on #978
Done https://github.com/brave/browser-android-tabs/commit/af145970250cb44bf5382d08e268b9572813c865

[2019-04-03 20:47] #978 closed

[2019-04-03 21:52] #1399 closed

[2019-04-04 00:02] Brave-Matt opened #1424 "Videos on Crunchyroll.com don't play unless ads/trackers are allowed"
## Description
Crunchyroll.com is a very popular/high traffic website which streams Anime video content. Users are unable to view content unless Shields are down or ads/trackers are allowed:
![image](https://user-images.githubusercontent.com/3299098/55520560-c0d3c100-5631-11e9-8ca0-86b1ad2ede7e.png)

Note that the Desktop browser also had this same issue until it was recently addressed.

## Steps

[2019-04-04 02:48] miladmaz12 opened #1425 "Close all Tabs or Close a single lone tab causes Brave to close"
## Description
Similar to #490

## Steps to reproduce

   1. Close a lone tab or all tabs
   2. Brave the app causes to close

## Actual result

## Expected result
Brave should stay open/in the home page for the user

## Issue reproduces how often

## Issue happens on
   - Current Play Store version? Yes
   - Beta build? N/A

## Device details
   - Install type (ARM, x86):
   - Device (Phone, Tabl

[2019-04-04 08:09] IOI-655321 commented on #1415
Can you also look into other aspects of device information being freely divulged, I believe I saw someone mention there's a battery API that gives detailed device information that was available in Brave.

[2019-04-04 13:48] srirambv commented on #1425
Closing as dupe of #490 . Please see https://github.com/brave/browser-android-tabs/issues/490#issuecomment-463486273 for workaround

[2019-04-04 13:48] #1425 closed

[2019-04-05 02:43] tony-duke opened #1430 "Suggestion to Add a Scheduling Feature where you can schedule to surf a site at a particular time."
## Proposal

My proposal is for a scheduling feature on the browser.

## Component

When you are on a site, and would probably want to do something else on that same site at a particular time, a feature should be added that when you are not using the browser you get a notification from the browser about your scheduled surf on that site. Also if you are on the browser,  the notification can still c

[2019-04-05 11:59] #1263 closed

[2019-04-05 11:59] #1303 closed

[2019-04-05 19:52] #1377 closed

[2019-04-05 21:42] SergeyZhukovsky commented on #1204
Done https://github.com/brave/browser-android-tabs/pull/1433

[2019-04-05 21:42] #1204 closed

[2019-04-05 23:32] DarkLordGMS commented on #1403
Having the same issue here. It's quite concerning the response/reason that a developer provided to a review someone posted in the Play Store: "The reason is because there is not enough screen-space on the top to include the home button, lock icon/site settings icon, Shields icon for access to Shields controls, and the new Brave Rewards icon."

I'm sorry but WTF? Not enough space?
Before the bottom

[2019-04-06 02:27] SergeyZhukovsky commented on #1338
Done

[2019-04-06 02:27] #1338 closed

[2019-04-06 02:45] SergeyZhukovsky commented on #1167
That's done!

[2019-04-06 02:45] #1167 closed

[2019-04-06 06:15] Alex15Git commented on #81
Night mode please.

[2019-04-06 18:40] Rawi666 commented on #1084
Same issue here on OnePlus 6T (Android 9), Brave 1.0.89 / Chromium 73.0.3683.90.
This is quite annoying because if you have only U2F assigned to google account then there is no way you can log in through Brave at all.
However, logging through Chrome works (it uses Google Authenticator for U2F through NFC)

[2019-04-07 10:40] GeetaSarvadnya opened #1435 "Videos on msnbc.com are NOT being played"
## Description
Videos on msnbc.com are NOT being played

## Steps to reproduce

   1. Clean profile 1.0.90 rc1
   2. Open msnbc.com
   3. Play any video

## Actual result

The video is not being played

https://drive.google.com/open?id=1yYhZBsTu7SjGabWM6l2MuiGjqPRh2WY6

## Expected result
Videos should play

## Issue reproduces how often
Always

## Issue happens on
   - Current Play Store version?

[2019-04-07 11:12] GeetaSarvadnya commented on #1435
Videos are not being played on Instagram, Click on Play nothing happens, even with shield down videos doesn't play.

1+ https://community.brave.com/t/instagram-videos-do-not-play-new-issue-in-1-0-90/52273/6

[2019-04-08 12:16] srirambv opened #1436 "Get started with Rewards message shouldn't be shown if user has already opted into rewards"
## Description
Get started with Rewards message shouldn't be shown if user has already opted into rewards

## Steps to reproduce

   1. Install playstore build
   2. Enable rewards
   3. Update to 1.0.91 RC build
   4. Shows message `Get started with rewards`

## Actual result
![20190408_083334](https://user-images.githubusercontent.com/17010094/55724303-25e43980-59d9-11e9-9adb-61448e9034d6.jpg)

[2019-04-08 13:17] srirambv opened #1437 "Reset Brave Rewards should be disabled if user hasn't opted into Rewards yet"
## Description
Reset Brave Rewards should be disabled if user hasn't opted into Rewards yet

## Steps to reproduce

   1. Clean install 1.0.90
   2. Open Settings->Brave Rewards-> Reset Brave Rewards
   3. Asks to restart browser to reset rewards which is an unnecessary action as rewards isn't enabled

## Actual result
Reset Brave Rewards should be disabled if user hasn't opted into Rewards yet

#

[2019-04-08 14:16] srirambv opened #1438 "Video codec issue"
Issue reported by @AlexeyBarabash

Unable to play video on
https://gif.d3.ru/kogda-ty-vegan-za-stolom-1766754/?sorting=rating

[2019-04-08 14:23] srirambv commented on #1435
This is fixed in 1.0.90 RC2

[2019-04-08 14:23] #1435 closed

[2019-04-08 14:23] srirambv commented on #1438
Fixed in 1.0.90 RC2

[2019-04-08 14:23] #1438 closed

[2019-04-08 14:39] srirambv opened #1439 "Manual test run on Android ARM for 1.0.90"
## Per release specialty tests
- [x] Video codec issue (#1438)
- [x] Videos on msnbc.com are NOT being played (#1435)
- [x] BR Grant  (#1399)
- [x] Organize Settings menu (#1377)
- [ ] Bottom toolbar hide/show behavior (#1375)
- [ ] Show monthly tip amount for creators in rewards panel(#1365)
- [x] Support accessibility labels on new bottom toolbar. (#1339)
- [x] No retry logic for failed `Claim g

[2019-04-08 14:39] srirambv opened #1440 "Manual test run on Android x86 for 1.0.90"
## Per release specialty tests
- [x] Video codec issue (#1438)
- [x] Videos on msnbc.com are NOT being played (#1435)
- [x] BR Grant  (#1399)
- [x] Organize Settings menu (#1377)
- [ ] Bottom toolbar hide/show behavior (#1375)
- [ ] Show monthly tip amount for creators in rewards panel(#1365)
- [x] Support accessibility labels on new bottom toolbar. (#1339)
- [x] No retry logic for failed `Claim g

[2019-04-08 14:46] srirambv opened #1441 "Manual test run on Android Tab for 1.0.90"
## Per release specialty tests
- [x] Video codec issue (#1438)
- [x] Videos on msnbc.com are NOT being played (#1435)
- [x] BR Grant  (#1399)
- [x] Organize Settings menu (#1377)
- [ ] Show monthly tip amount for creators in rewards panel(#1365)
- [x] Support accessibility labels on new bottom toolbar. (#1339)
- [x] No retry logic for failed `Claim grant` process. (#1338)
- [x] Back button should

[2019-04-08 15:34] btlechowski commented on #1438
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

[2019-04-08 15:38] btlechowski commented on #1435
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

[2019-04-08 15:41] btlechowski commented on #1399
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

![Screenshot_20190408-174009_Brave](https://user-images.githubusercontent.com/34715963/55737494-92852580-5a25-11e9-85c3-e8c1ddcd30ba.jpg)

[2019-04-08 15:54] btlechowski commented on #1377
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

![Screenshot_20190408-175018_Brave](https://user-images.githubusercontent.com/34715963/55738412-6074c300-5a27-11e9-9696-84e114b81851.jpg)

[2019-04-08 16:05] btlechowski commented on #978
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

![Screenshot_20190408-175018_Brave](https://user-images.githubusercontent.com/34715963/55738412-6074c300-5a27-11e9-9696-84e114b81851.jpg)

[2019-04-08 16:14] GeetaSarvadnya commented on #978
@anthonypkeane On Clean profile, Navigate to settings ->Display->Appearence, turn ON/OFF `Hide Brave Rewards Icon` asks for Browser `RELAUNCH NOW` and `LATER` options, Is this expected? as this behavior is not same in BC.

[2019-04-08 16:48] GeetaSarvadnya commented on #1339
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90-rc.2

[2019-04-08 16:56] Rouzax commented on #619
Also not working for me on:
Brave 1.0.89
Android 9.0 Galaxy A8
1Password 7.1.3

[2019-04-08 17:27] btlechowski commented on #1319
Verification passed on Samsung s7, BraveMonoarm v1.0.90-rc.2

Back Button always closes Rewards Panel.

[2019-04-08 18:15] srirambv opened #1443 "Rewards offline message needs refactor"
## Description
Rewards offline message needs refactor

## Steps to reproduce

   1. Put device in offline mode
   2. Enable rewards

## Actual result
![Screenshot_20190408-140744_Brave](https://user-images.githubusercontent.com/17010094/55746809-b5eda780-5a08-11e9-8b42-f0e2b3a139e9.jpg)

## Expected result
Have a nicer wording error modal

[2019-04-08 18:30] srirambv opened #1444 "Changing bottom bar position shouldn't reuqire a restart"
## Description
Changing bottom bar position shouldn't reuqire a restart. Opera also has a similar option to switch from bottom bar to top navigation bar but doesn't require the browser to restart. We should have a similar approach. This could probably extend to hiding Rewards button as well.

cc: @anthonypkeane @SergeyZhukovsky

[2019-04-08 18:31] #1436 closed

[2019-04-08 18:40] srirambv commented on #1167
@anthonypkeane On tablets I see the same onboarding notification. Is this expected or should tablets have the longer text onboarding message?
![image](https://user-images.githubusercontent.com/17010094/55748296-4c6f9800-5a0c-11e9-9d2d-4f263d7cc6d3.png)

[2019-04-08 18:41] anthonypkeane commented on #1167
It is as expected @srirambv

[2019-04-08 20:53] anthonypkeane opened #1445 "media playback bug"
## Description

See: https://community.brave.com/t/serious-bug-with-media-playback-in-1-0-90/52290

A user is describing an issue where media is not playing back

[2019-04-08 22:01] srirambv commented on #978
@GeetaSarvadnya  that is expected. @SergeyZhukovsky  confirmed it

[2019-04-08 23:38] Brave-Matt commented on #1422
![image](https://user-images.githubusercontent.com/3299098/55763669-c90a7280-5a1c-11e9-80b0-211f3cb855a4.png)

[2019-04-08 23:47] Brave-Matt commented on #940
+1
![image](https://user-images.githubusercontent.com/3299098/55763919-028fad80-5a1e-11e9-9664-a9d407218018.png)

[2019-04-09 01:56] btlechowski commented on #1436
Reproduced on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.2

[2019-04-09 02:10] btlechowski opened #1446 "Tapping on Brave Rewards system notification yields no action"
## Steps to reproduce

   1. clean install Brave
   2. Get Brave Rewards system notification
   3. Tap on that notification

## Actual result
Nothing happens. Usually tapping on a notification yields an action.

![Screenshot_20190409-040304_Samsung Experience Home](https://user-images.githubusercontent.com/34715963/55768388-043c8e00-5a7d-11e9-8b56-55d39051c465.jpg)

In order to perform notificatio

[2019-04-09 02:36] gdregalo commented on #1365
There is an issue when dropdown spinner is inflated on PopupWindow (API 24).

[2019-04-09 10:15] GeetaSarvadnya opened #1447 "Auto-Contribute switch is OFF, when enable rewards from Hamburger menu"
## Description
Auto-Contribution switch is OFF by default, when enable rewards from Hamburger menu

## Steps to reproduce

   1. Clean profile 1.0.90 rc3
   2.  Enable Brave Rewards through Hamburger menu
   3.  Verify the `Auto-contribute` switch in brave://rewards page
   4.  `Auto-contribute` switch is in OFF state

## Actual result
The `Auto-contribute` switch is in OFF state when Rewards is e

[2019-04-09 10:21] GeetaSarvadnya commented on #1436
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90-rc.3

[2019-04-09 11:06] GeetaSarvadnya opened #1448 "`YES, I'M IN!` enable rewards page is displayed even after enabling rewards"
## Description
`YES, I'M IN!` enable rewards page is displayed even after enabling rewards

## Steps to reproduce

   1. Clean profile 1.0.90 rc3
   2. Enable rewards through Hamburger menu/GET STARTED notification/ BR panel
   3. After enabling rewards, click on Exit in the hamburger menu

## Actual result
`YES, I'M IN!` enable rewards page is displayed for a fraction of seconds

## Expected resu

[2019-04-09 11:27] GeetaSarvadnya opened #1449 "`4294967295` incorrect exclude count displayed in a-c table"
## Description
`4294967295` incorrect exclude count displayed in a-c table

## Steps to reproduce

   1. Clean profile 1.0.90 rc3
   2. Tap on `GET STARTED` button notification in rewards notification and enable rewards
   3. Turn ON Auto-contribute switch
   4. Tap on `View Details` in  Auto-contribute panel
   5. Open Amzon.com in a new tab ( Don't stay on the page for min time of 8secs)
   6.

[2019-04-09 12:49] LaurenWags commented on #1446
cc @anthonypkeane

[2019-04-09 17:30] LaurenWags commented on #980
Verified passed with 1.0.90rc3 on Asus Zenfone (x86) - verified bottom toolbar displays as per https://github.com/brave/browser-android-tabs/issues/980#issuecomment-475780961

[2019-04-09 18:05] LaurenWags opened #1450 "Get started with Rewards message shouldn't be shown if user has already opted into rewards - follow up to 1436"
## Description
Follow up to #1436 - issue still occurs as described

If you have Rewards enabled on playstore version (1.0.89) you should not get a notification that BR is here when updating to 1.0.90

## Steps to reproduce

   1. Install playstore build
   2. Naivgate to chrome://flags and enable rewards
   3. Join Rewards
   4. Update to 1.0.90 RC3 build

## Actual result
Get notification that '

[2019-04-09 18:05] LaurenWags commented on #1450
cc @anthonypkeane @srirambv

[2019-04-09 18:06] LaurenWags commented on #1436
Issue still reproduces when going from 1.0.89 -> 1.0.90 rc3 for me. @btlechowski was able to repro as well. Logged follow up issue https://github.com/brave/browser-android-tabs/issues/1450

[2019-04-09 18:09] btlechowski commented on #1450
Reproduced on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.3

[2019-04-09 18:15] LaurenWags commented on #1167
Verified passed with 1.0.90rc3 on Asus Zenfone (x86). Saw and logged issue #1450 while testing.

[2019-04-09 18:44] LaurenWags commented on #1375
Is the value 360x640 from description based on viewport size or something else?

[2019-04-09 18:54] LaurenWags commented on #1204
@anthonypkeane @jamesmudgett Looks like this setting is under 'Advanced' instead of 'Appearance' (per https://github.com/brave/browser-android-tabs/issues/1204#issuecomment-479078669) - please confirm if this is expected/ OK.

[2019-04-09 19:35] LaurenWags opened #1451 "sometimes not prompted to Relaunch Brave to reset Rewards to pre-opt in state"
## Description
Found while testing #1204

If I have chrome://rewards page opened and I go to Settings > Advanced > Brave Rewards > select 'Reset Brave Rewards' - I am not always prompted to 'Relaunch Now' after confirming.

## Steps to reproduce

1. install 1.0.90rc3
2. Join rewards
3. populate AC table a bit
4. have chrome://rewards open in a tab
5. navigate to Settings > Advanced > Brave Rewards

[2019-04-09 19:35] LaurenWags commented on #1451
cc @anthonypkeane @srirambv

[2019-04-09 19:36] LaurenWags commented on #1451
Just to call out again separately from above - I couldn't reproduce on an ARM device running Android 9 (pixel 3 xl). I did reproduce several times (easily) on an ARM device running Android 5 and an x86 device running Android 6.

[2019-04-09 20:50] btlechowski commented on #1451
Not Reproducible on Samsung s7, Android 8.0.0 (ARM), BraveMonoarm v1.0.90-rc.3

[2019-04-09 21:18] btlechowski commented on #1446
Not reproducible on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.3

[2019-04-09 21:26] btlechowski commented on #1204
Verified on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.3

The Reset function works as expected.
I see the same as @LaurenWags. The setting is under `Advanced` instead of 'Appearance'.

[2019-04-10 01:27] robertaustinbell opened #1452 "All tabs close when phone gets to 15% battery life."
When if battery drains to 15% all tabs close. This can also happen when the battery is low and I plug the power cable in. Its been going on for about a mouth now.
I'm on the original Google Pixel Android 9 and April security patch with the most recent version of the app from the Play Store.

![Screenshot_20190409-211904](https://user-images.githubusercontent.com/10687162/55844958-c3408a00-5b0d-11e

[2019-04-10 02:31] robert-clayton commented on #81
+1 for Night Mode!

[2019-04-10 04:10] Brave-Matt commented on #1223
+1 ![image](https://user-images.githubusercontent.com/3299098/55851063-f41fbf80-5b0b-11e9-8363-df5534ea70e2.png)

[2019-04-10 05:09] GeetaSarvadnya commented on #1450
Reproduced on Samsung Galaxy J3,  BraveModernarmv1.0.90-rc.3

[2019-04-10 05:21] jtbrown3 commented on #1345
Thanks for listening and implementing the requested option! :)

[2019-04-10 13:29] srirambv opened #1453 "URL is retained on the next tab while tab swipe"
## Description
URL is retained on the next tab while tab swipe

## Steps to reproduce

   1. Visit a site in a tab (preferably one with white page colour)
   2. Open a new tab
   3. Go back to tab from step 1 and swipe tab, new tab retains the site name from step 1 and then remvoes it

## Actual result
https://youtu.be/04lpGWmj0LI

## Expected result
Should not retain current tab URL when tab swit

[2019-04-10 14:22] srirambv commented on #1448
Reproduced on Pixel 3xl. The getting started page flashes for a second before loading the rewards summary. Also auto-contribute is enabled after restart unlike #1447

[2019-04-10 14:23] srirambv commented on #1447
Restart browser(exit and relaunch)  fixes the issue. A-C is enabled after relaunch

[2019-04-10 14:41] srirambv commented on #1446
Closing based on https://github.com/brave/browser-android-tabs/issues/1446#issuecomment-481444179. Looks to be fixed in rc3 and rc4 as well

[2019-04-10 14:41] #1446 closed

[2019-04-10 14:49] srirambv opened #1454 "Brave rewards notiication isn't dismissed if user opts in to rewards"
## Description
Brave rewards notiication isn't dismissed if user opts in to rewards

## Steps to reproduce

   1. Clean install 1.0.90rc4 build
   2. Wait for the rewards notification to show up after install
   3. Join rewards via BR panel/rewards page, notification remains in notification area. Have to manually clear it or dismiss on the notification

## Actual result
Brave rewards notiication i

[2019-04-10 14:55] srirambv commented on #1338
@gdregalo @SergeyZhukovsky is there a test plan for this or just https://github.com/brave/browser-android-tabs/issues/1338#issuecomment-480466789 is sufficient? Any way to simulate the error check ?

[2019-04-10 15:05] GeetaSarvadnya commented on #1279
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90
![Screenshot_2019-04-10-20-26-40](https://user-images.githubusercontent.com/38657976/55890322-1f6be280-5bd0-11e9-8177-ea548d89e45f.png)

[2019-04-10 15:05] srirambv commented on #1244
* Verification passed on Pixel 3XL. Only entries for each item which has a positive value shows up in the panel

[2019-04-10 15:19] GeetaSarvadnya commented on #1251
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90

[2019-04-10 15:29] btlechowski opened #1455 "Hiding of Rewards UI on SafetyNet check fails"
Follow up to https://github.com/brave/browser-android-tabs/issues/1062

## Steps to reproduce

   1. Make your device fail `SafetyNet` check
   2. Install Brave
3. Join Rewards

Note: Used `SafetyNet Helper sample` to check `SafetyNet` status

Screenshot of `SafetyNet Helper sample` result
![Screenshot_20190410-174919_SafetyNet `attest`](https://user-images.githubusercontent.com/34715963/55893720-

[2019-04-10 15:31] btlechowski commented on #1062
This feature fails. I reported a follow up issue: https://github.com/brave/browser-android-tabs/issues/1455.

[2019-04-10 15:39] gdregalo commented on #1338
@srirambv
There are 2 cases when:
1.  user dismiss grant notification by pressing "close" button on the panel;
2.  there was a technical problem (like network connection loss) during "Grant claiming" process.
The expected behaviour is:  a grant availability is checked every 24 hours, so in any of two cases above, the grant notification should show up on the panel again.

Testing scenario:
1. Once

[2019-04-10 15:49] AlexeyBarabash commented on #1455
Just tried on my rooted device which fails on `SafetyNet Helper sample` check, and got message `We're sorry it appears Brave Rewards is not available on your device`, 1.0.90

[2019-04-10 16:02] AlexeyBarabash commented on #1455
On my old 4.4 Tablet which fails `SafetyNet Helper` I could join rewards, version 1.0.89 from GP

[2019-04-10 16:02] GeetaSarvadnya commented on #1213
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90

![Screenshot_2019-05-10-21-31-13](https://user-images.githubusercontent.com/38657976/55894682-2e569300-5bd8-11e9-9788-0e4176f029c9.png)

[2019-04-10 16:37] v-marinkov commented on #134
This the only missing feature preventing me from switching my entire family from Chrome to Brave on all devices.

[2019-04-10 16:58] srirambv commented on #1338
* Verification passed on both scenarios.
  - Dismissed grant notification in panel and was still able to claim via chrome://rewards
  - 24hrs check worked fine

[2019-04-10 17:06] btlechowski commented on #1130
Verified on  on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.3 staging

[2019-04-10 17:53] btlechowski commented on #1454
Not Reproducible on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90 staging. The notification was dismissed automatically.

[2019-04-10 18:41] LaurenWags commented on #1296
FWIW I ran into this today and for several hours, I was unable to join Rewards to test (using 1.0.90 staging build). @srirambv encountered it as well, but it started working working much quicker for him.

[2019-04-10 22:20] anthonypkeane commented on #1404
Link: https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit?ts=5c9e4b4a#

@jamesmudgett we might want to add BR and Ads onboarding into one unified onboarding

[2019-04-10 22:23] anthonypkeane opened #1456 "Implement local notifications for Ads"
## Description

From: https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit?ts=5c9e4b4a#

Implement "heads up" notification for Ads

[2019-04-10 22:28] anthonypkeane opened #1457 "Update Brave Rewards Ads Panel to show Ads is available in a given Country"
## Description

and implement the functionality detailed in the Spec Doc re this feature. < Brave Rewards Ads Panel >

From: https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit?ts=5c9e4b4a#heading=h.r40v0we62m2s

[2019-04-10 22:31] anthonypkeane opened #1458 "Implement Ad Rewards and Claim"
## Description
Link: https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit?ts=5c9e4b4a#heading=h.ev516px5wv9m

@jamesmudgett Pls confirm if the panel needs any design input for this feature.

If Yes, pls provide the design and assign the issue to the guys.

[2019-04-10 22:31] Brave-Matt commented on #940
+1
![image](https://user-images.githubusercontent.com/3299098/55917838-b1aac100-5ba5-11e9-9d83-20a6720a09da.png)

[2019-04-10 22:36] anthonypkeane opened #1459 "Add SafetyNet check for Ads"
## Description
From: https://docs.google.com/document/d/1QynlNXswjNfhxGeilooS9TjQsIPkYvgpZH8y9FJdRy4/edit?ts=5c9e4b4a#heading=h.qa2p0foauqqw

We may need to add a further Safetynet check for Ads - TBD

[2019-04-11 17:05] samartnik commented on #1450
`Rewards On` flag is set in current version from Play Store when panel is opened for 2 time. There is no way to fix it in current version. My fix will work on all the next updates.

[2019-04-11 17:17] samartnik commented on #1454
@srirambv on step 3 did you click on notification to join rewards?

[2019-04-11 17:19] samartnik commented on #1455
@btlechowski how do you make your device fail SafetyNet check?

[2019-04-11 17:57] kjozwiak commented on #1446
@srirambv should this be rechecked on the other remaining devices?

[2019-04-11 17:59] kjozwiak commented on #1447
@srirambv are we going to get this fixed before enabling BR by default? Sounds like this is a regression that's currently not happening in the current release.

[2019-04-11 18:07] srirambv commented on #1447
Decision is upto @anthonypkeane and @SergeyZhukovsky . I wouldn't want to block on this as restart fixes it but would be nice to fix it.

[2019-04-11 18:08] srirambv commented on #1446
Not needed as its working on rc3 and rc4. Is it not working on your device?

[2019-04-11 18:11] srirambv commented on #1454
The notification was never touched. I just clean installed the build and get the notification. I just join rewards via BR panel without going into notification area. Once rewards is enabled from panel i expect the notification to clear away otherwise the notification stays there until manually cleared

[2019-04-11 18:16] kjozwiak commented on #1446
Should probably be labelled as verified as the issue is labelled as `QA/Yes`. Going through the list of closed issues, this looks like it was missed and wasn't checked unless you click on the issue and read through the comments.

* Verification **PASSED** using `1.0.90 CR: 73.0.3683.90` on `Pixel 2 running Android 9`

[2019-04-11 18:19] kjozwiak commented on #1447
Only concern is that users on mobile don't tend to restart their applications that often and usually leave them running in the background for long periods of time. At least that's what I do. I don't think I've ever restarted Brave unless it crashed or I needed to restart the device.

@srirambv do moving the app in in the background for X amount of time fix this? Or is this only fixed via a restart

[2019-04-11 18:23] srirambv commented on #1447
Leaving in background doesn't fix. It has to be a restart

[2019-04-11 18:31] kjozwiak commented on #1451
Sounds like it's affecting older versions of Android? I tried reproducing the above several times and got the same results as @btlechowski and @LaurenWags using Android 9. I tried the above ~15 times and got the relaunch modal every time.

[2019-04-11 18:36] anthonypkeane commented on #1447
![BR](https://user-images.githubusercontent.com/7606853/55982542-ff7b0400-5c4d-11e9-83f9-8f5898430e84.gif)

[2019-04-11 19:01] #1439 closed

[2019-04-11 19:01] #1440 closed

[2019-04-11 19:01] #1441 closed

[2019-04-11 19:04] srirambv commented on #1449
Marking it as Post Production milestone as this seems to be an issue thats under investigation on desktop as well.

[2019-04-11 19:05] srirambv commented on #1365
@anthonypkeane is this still planned for prod release?

[2019-04-11 20:02] btlechowski commented on #1455
@samartnik Responded in a PM.

[2019-04-11 20:10] gdregalo commented on #1451
There is a problem with this implementation.
If user reset BR (deleted all BR data on filesystem) and then continue without re-launching the app, then data kept in memory can be rewritten into files again or app can crash if it thinks that database or files are there but they don't exist anymore.
Solution is to re-start the app as a part of Reset action.
To do it politely we need to warn a user ab

[2019-04-11 20:38] #1447 closed

[2019-04-11 20:38] ryanml commented on #1447
This has been fixed via: https://github.com/brave/browser-android-tabs/commit/d1b402ee19a49ba09e1c23b683cf5f68f2008844

cc: @anthonypkeane @SergeyZhukovsky

[2019-04-11 23:27] anthonypkeane opened #1461 "Add the ability to inform and notify users of new features"
## Description
Linked to: https://github.com/brave/brave-ios/issues/1049

Only a small fraction of our users read the release notes.

Add a "new feature screen" to notify users of  / interesting / cool features, like Sync, etc.

@jamesmudgett can you please provide the UI

[2019-04-11 23:28] anthonypkeane opened #1462 "Remove the (beta) label from Sync"
## Description
Linked to: https://github.com/brave/brave-ios/issues/1050

Please remove the (beta) label from Sync to somewhat line up with Desktop on May 14th

If https://github.com/brave/browser-android-tabs/issues/1461 is completed before hand, we can use this to notify users of Sync too

[2019-04-11 23:39] anthonypkeane opened #1463 "Update Settings layout"
## Description

Pls update the settings layout

**General**
Brave Rewards
Brave Sync
Passwords
Payment methods
….

![Settings Screen.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/66ee1f01-a3c4-44cb-ac4a-317f98140976)

[2019-04-12 02:55] SergeyZhukovsky commented on #1454
That's is expected, notifications on Android could be only dismissed manually mostly.

[2019-04-12 02:56] SergeyZhukovsky commented on #1451
Done https://github.com/brave/browser-android-tabs/commit/b87e5a86902b6037e3fb942af4ab0869df715892

[2019-04-12 02:56] #1451 closed

[2019-04-12 05:03] trymeouteh commented on #1462
Sync on Android does not work for me :(

I made a post on the brave forums. It works perfectly between desktops but I cannot get all my bookmarks to sync to my Android devices.

https://community.brave.com/t/sync-has-stopped-and-no-longer-syncs/49651

[2019-04-12 11:46] GeetaSarvadnya commented on #1447
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90-rc4

[2019-04-12 12:30] GeetaSarvadnya commented on #1450
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90-rc4

[2019-04-12 12:56] GeetaSarvadnya commented on #1450
Reproduced on Samsung Galaxy J3, BraveModernarmv1.0.90-rc4

[2019-04-12 12:57] btlechowski commented on #1450
Still reproducible on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.4

[2019-04-12 13:26] GeetaSarvadnya commented on #1450
Verification passed on Samsung Galaxy J3, BraveModernarm v1.0.90-rc4

[2019-04-12 13:26] #1450 closed

[2019-04-12 14:03] srirambv opened #1464 "Welcome back message not shown on panel if rewards is enabled from chrome://rewards"
## Description
Welcome back message not shown on panel if rewards is enabled from chrome://rewards

## Steps to reproduce

   1. Clean install 1.0.90 rc4
   2. Enable rewards from chrome://rewards
   3. Turn off rewards
   4. Open BR panel, no welcome back message is shown

Scenario 2
   1. Clean install 1.0.90 rc4
   2. Enable rewards from BR panel
   3. Turn off rewards in chrome://rewards
   4.

[2019-04-12 14:30] GeetaSarvadnya commented on #1464
Reproduced on Samsung Galaxy J3 - 1.0.90 rc4

[2019-04-12 15:29] srirambv opened #1465 "Insufficient funds shown immediately after ac is done"
## Description
Insufficient funds shown immediately after ac is done

## Steps to reproduce

   1. Set monthly budget to be below wallet balance
   2. Visit sites to add them to ac list
   3. Wait for ac to process
scenario 1:
   4. If you are on rewards page, ac goes through no message about insufficient funds
scenario 2:
   5. If you have an active tab open when ac goes through, insufficient fun

[2019-04-12 16:04] SergeyZhukovsky commented on #1464
Fixed https://github.com/brave/browser-android-tabs/commit/6ba5e48f467a57a87196f417f31d406fa3f70441

[2019-04-12 16:04] #1464 closed

[2019-04-12 16:27] srirambv opened #1466 "Only allow grants to be claimed when rewards is enabled"
## Description
Only allow grants to be claimed when rewards is enabled

## Steps to reproduce

   1. Enable rewards
   2. Disable rewards
   3. Wait for grant to be available
   4. Open BR panel, ensure grant notification is shown
   5. Claim grant adds grant value in to wallet

## Actual result
Able to claim grant even when rewards is off

## Expected result
Should only show grant notification wh

[2019-04-12 16:51] btlechowski commented on #1466
Reproduced on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.5

[2019-04-12 16:53] btlechowski commented on #1464
Verified on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.5. Tested both scenarios.

[2019-04-12 17:12] GeetaSarvadnya opened #1467 "When `Brave Rewards` switch is turned OFF, after relaunch Brave Rewards switch is getting turned ON automatically"
## Description

Found while testing #1464
When `Brave Rewards` switch is turned OFF, after relaunch Brave Rewards switch is getting turned ON automatically

## Steps to reproduce

1. Clean install 1.0.90 rc5
2. Enable rewards through hamburger menu
3. Turn OFF Brave Rewards switch
4. Close the browser by clicking on `Exit` in the hamburger menu
5. Relaunch browser

## Actual result
Brave Rewards s

[2019-04-12 17:17] btlechowski commented on #1467
Reproduced on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.90-rc.5

[2019-04-12 18:15] fmarier commented on #1465
I saw this on my phone yesterday:

![Screenshot_20190411-153806](https://user-images.githubusercontent.com/167821/56057533-dfae1380-5d13-11e9-8f88-445f217a6f44.png)

even though I have a balance:

![Screenshot_20190411-153818](https://user-images.githubusercontent.com/167821/56057561-f2c0e380-5d13-11e9-893f-590fff8b742f.png)

larger than my Auto-Contribute amount:

![Screenshot_20190411-153920](ht

[2019-04-12 18:48] btlechowski opened #1468 "Rewards page is permanently blank"
Profile:
[com.brave.browser.zip](https://github.com/brave/browser-android-tabs/files/3074765/com.brave.browser.zip)

## Steps to reproduce
I don't have exact steps as I was doing exploratory testing.
1. Clean profile
2. Join rewards through hamburger menu
3. Keep chrome://rewards open
4. Keep the phone idle for an hour
5. Claim grant through chrome://rewards

## Actual result
I was not able to cla

[2019-04-12 19:38] btlechowski commented on #1468
Brave Panel is partially functional:
- I got grant notification, but I was unable to claim the grant. I got infinite spinner. When I closed and opened the Panel, grant was gone, but I got no BAT.
- If I go to a verified publisher, all the info is shown properly.

Restarting rewards did not fix the issue (Settings->Brave Rewards->Reset Brave Rewards)

Reinstalling Brave fixed the issue.

[2019-04-12 21:39] #1387 closed

[2019-04-12 22:15] diracdeltas opened #1469 "High severity security vuln in Jinja dependency"
From our Github security alerts:

[code]

[2019-04-12 22:17] diracdeltas commented on #1469
More details: https://palletsprojects.com/blog/jinja-2-10-1-released/

[2019-04-14 05:10] blackparallax commented on #81
Definitely need dark/night mode please.

[2019-04-14 05:36] shoulderkolibri commented on #81
+1 please, save my precious eyes before they pop like frog eggs bursting in spring ( ◞･౪･)

[2019-04-14 18:25] #598 closed

[2019-04-15 13:41] srirambv opened #1470 "Insufficient funds notification shown when no sites added to a-c"
## Description
Insufficient funds notification shown when no sites added to a-c

## Steps to reproduce

   1. Enable rewards
   2. Do not claim grants
   3. Do not add sites to a-c list
   4. Wait for reconcile to process
   5. Insufficient funds message is shown even when there is no site in a-c list

## Actual result
Insufficient funds notification shown when no sites added to a-c

## Expected r

[2019-04-15 14:43] SergeyZhukovsky commented on #1465
Fixed https://github.com/brave/brave-core/commit/4cad8da6f744b67cdac1be37acf018e5a59e13df

[2019-04-15 14:43] #1465 closed

[2019-04-15 14:45] srirambv commented on #1465
Verification passed on Samsung Tab running 1.0.91. Verifcation steps mentioned herehttps://bravesoftware.slack.com/archives/C0816QH3R/p1555338349189700?thread_ts=1555082213.041600&cid=C0816QH3R

[2019-04-15 16:52] HennyBro commented on #1462
Sync also kinda broken for me and my Android device.

[2019-04-15 16:56] HennyBro commented on #1407
Yes, that's important!!

[2019-04-15 16:59] HennyBro commented on #1402
What about search, though?? It's very crucial for the UX. It needs to be on the bottom tab for easy access.

[2019-04-15 17:07] HennyBro commented on #1370
It's already live, guys!! It's the same that's used in every Chromium based browser and it works fantastically well :)

Here's the flag for it:

#enable-gesture-navigation

[2019-04-15 17:09] HennyBro commented on #1370
I'll close this issue now.

[2019-04-15 17:09] #1370 closed

[2019-04-15 17:16] HennyBro commented on #1304
Then close this issue, please.

[2019-04-15 17:59] HennyBro commented on #223
Please close this issue as it's already been explained how to use deep linking behavior in Brave in this closed issue #705

[2019-04-15 18:07] HennyBro commented on #459
This seems to really be a Chromium issue.

[2019-04-15 19:43] srirambv commented on #520
@diracdeltas does [this](https://github.com/brave/browser-laptop/issues/5975#issuecomment-264524964) same statemtent holds good still?

[2019-04-16 09:49] #1304 closed

[2019-04-16 09:51] epitron commented on #1402
@HennyBro You mean, the search button that clicks the address bar when you click it? Why not just cut out the middleman and click the address bar directly?

Either way, being able to customize those buttons satisfies every body. :)

[2019-04-16 11:36] sjdrc commented on #619
Same issue on:
Pixel 2 XL PQ2A.190405.003
Brave 1.0.89
Bitwarden 1.22.0

[2019-04-16 13:32] srirambv opened #1471 "[Feature Request] Add extension support on android"
Issue reported by @thepcwiz101

Kiwi browser (a chromium based browser) has added extension support on android. It's hard to believe and i have tested it. It is exclusive to the xda-developers forums for the next 24 hours. kiwi browser has a github repository too. I have screenshots i will be uploading to the issue in a few minutes.

![Screenshot_20190416-004149](https://user-images.githubusercont

[2019-04-16 15:24] bbondy opened #1472 "Fix Jinja2 requirements.txt security error"
Remediation
Upgrade Jinja2 to version 2.10.1 or later. For example:

Jinja2>=2.10.1
Always verify the validity and compatibility of suggestions with your codebase.

Details
CVE-2019-10906 More information
high severity
Vulnerable versions: < 2.10.1
Patched version: 2.10.1
In Pallets Jinja before 2.10.1, str.format_map allows a sandbox escape.

[2019-04-16 16:03] IOI-655321 commented on #1462
Yeah dont remove the beta tag yet because Android sync is not working for me either.

[2019-04-16 16:21] Snickers775 commented on #81
I know you guys realize how important a "Dark Mode" is for many of us mobile users. Please make it a priority on your end also. After the sun sets, I have to switch back to Samsung Internet because Brave hurts my eyes!

[2019-04-16 16:31] JazzTech commented on #320
Please implement this!

I really want to leave Opera now that they have been bought out by China, but auto-text reflow is a mandatory feature for me - darned elderly eyes ...

[2019-04-16 16:46] #1472 closed

[2019-04-16 19:14] SergeyZhukovsky commented on #1296
That appears when client has a wrong date time set. We should probably just change a message and include `check your device date` or something

[2019-04-16 19:19] SergeyZhukovsky commented on #1437
I think we can close that one. As there can be some kind of rewards state when we detect is it enabled or not even wrong. That's why we have that hard reset functionality.
cc @anthonypkeane

[2019-04-16 19:52] diracdeltas opened #1475 "Sync should show warning not to share the code with anyone"
Same issue as https://github.com/brave/brave-browser/issues/4132

[2019-04-16 23:10] thepcwiz101 commented on #1471
@srirambv There's bugs with some extensions such as ublock origin and other adblockers where ad elements aren't hidden like they are supposed to be. Just thought i'd put it out there.

[2019-04-17 01:19] MightyCreak commented on #70
I had to enable the legacy autofill system in LastPass in order to make it work with Brave. Is it normal?

[2019-04-17 03:55] Techguyprivate commented on #1471
How on earth ... !  Unbelievable. Wow. Just wanted to say or add that Tons of people need this. I need this. so +1 upvote from me.

[2019-04-17 03:58] dakshin-k opened #1476 "AMP Pages of recognized publishers are not recognized"
## Description
When opening an AMP Page of a verified publisher in Brave Android, the publisher is shown as google.com in the bat menu instead of the original publisher.

I'm worried that this might lead to publishers losing out, since the Auto-Contribute feature might not take these pages into account while measuring user attention.

## Steps to reproduce

   1.  Open any AMP page from google sea

[2019-04-17 14:23] gerbortolotto commented on #342
Now there is another colorful icon (Brave Rewards) in the address bar. Please consider making it hideable.

![sample](https://user-images.githubusercontent.com/5638296/56295412-2aa89c00-6103-11e9-8ef3-3486e087b0f1.jpg)

[2019-04-17 15:21] wjdp commented on #342
Oh that's a bit much :disappointed:

[2019-04-17 18:35] #1392 closed

[2019-04-17 19:03] AlexeyBarabash commented on #1455
Just re-checked with current GP version (1.0.91)
both the devices 7.1.2 and 4.4 are failing SafetyNet check and shown me `We're sorry it appears Brave Rewards is not available on your device` after my attempt to enable rewards.

The only thing took my attention was that Brave browser had shown me notification about `Do you want to try rewards?` and then said `not available`.

[2019-04-17 19:09] LaurenWags commented on #1451
Verified passed with 1.0.91 on LG Nexus 5 with Android 5.1
* Verified STR from description
* Verified when chrome://rewards page is active tab, inactive tab, or not opened in a tab at all. In each case I got the prompt to Relaunch Brave Now or Later.

[2019-04-17 19:17] srirambv commented on #1214
Verified on playstore build. Works as expected. Chaning min time back to 5 sec lists all the sites. Closing as working.

[2019-04-17 19:17] #1214 closed

[2019-04-17 19:58] jonathansampson opened #1478 "Newlines Cause Formatting Issues"
## Description
Many of our strings contain newlines, which may cause formatting issues. For example, consider this line (and others around it): https://github.com/brave/browser-android-tabs/blob/a9376043b14fb390e32be67bb363eef57c516baf/chrome/android/java/strings/transifex/stringsxml_en_US.xml.

## Steps to reproduce
1. Install Brave on a device using the French language
2. Open the Brave Rewards

[2019-04-17 20:25] alexwykoff opened #1479 "Sync - UX improvement - Users need a confirmation message after first successful sync of two devices"
## Description
After numerous usability tests, a consistent pattern of confusion emerged where showing a list of devices on sync chain was insufficient for conveying success to the users. This confusion led to operational errors on the part of the user.

## Steps to Reproduce
This is not a programmatic error, so to reproduce one would need to conduct usability tests with new users.

## Actual resu

[2019-04-17 21:10] kjozwiak commented on #1455
@btlechowski can you still reproduce this with `1.0.91 CR: 73.0.3683.90` on your rooted device?

[2019-04-17 23:02] jonathansampson opened #1480 "Offer Advice on SafetyNet Attestation Failure"
## Description
When a user's device fails the SafetyNet test, we show an unhelpful message about their device being incompatible. We should consider using the [optional `advice` field](https://developer.android.com/training/safetynet/attestation) to offer a more actionable suggestion to the user.

## Steps to reproduce
1. Load Brave onto a rooted Android device

(Note: These steps are sufficient f

[2019-04-18 00:24] GustavMarwin commented on #1480
What do we prevent by restricting devices that do not pass the SafetyNet flag? Does that mean an Android that doesn't have Google Play Services isn't going to be able to use Brave Rewards?

That would imply that the long term plan to make Brave available on F-Droid would be a watered down version too, I can only assume? Clarification would be great because this is a little detail that means a lot

[2019-04-18 01:44] pdimri commented on #81
You can switch to kiwi browser. No point of begging them. I have abandoned
this browser long time.

On Tue, Apr 16, 2019, 11:21 AM Snickers775 <notifications@github.com> wrote:

[2019-04-18 10:18] AlexeyBarabash commented on #1455
Also there are users who are upset  by the fact they saw notification about rewards and then gets refused to enable https://community.brave.com/t/brave-rewards-is-not-supported-android/54489/3 .

[2019-04-18 14:19] bbondy opened #1481 "Backup notifications without backup functionality"
## Description

I keep getting notifications to backup my device, bu the backup option is disabled.
I think to fix it should be pretty straightforward, whatever #define or flag is gating the backup screen, we should also have it around the notification so that it's impossible for this to happen.

<img width="444" alt="Screen Shot 2019-04-18 at 10 17 00 AM" src="https://user-images.githubuserconten

[2019-04-18 14:59] hjyoung1 commented on #1471
+1 really usefull feature. Yandex support extension from many years now kiwi added support too. I hope our brave developers notice this :)

[2019-04-18 15:24] SergeyZhukovsky commented on #1467
I cannot replicate that on the latest 1.0.91. @srirambv could you check as well?

[2019-04-18 15:26] bombtracker opened #1482 "drawImage of canvas 6x slower than chrome on same version"
## Description
CryptoBubbles.net renders every currency as a bubble.
Chrome on android has no problem on my old samsung tablet with 21ms frametime.
Brave Browser takes about 140ms to render one frame.
Both are the current play store version, like you can see in the screenshot:

![version_of_browsers](https://user-images.githubusercontent.com/47576019/56371779-12697780-61fe-11e9-97b9-eaeabd4cdabf.p

[2019-04-18 16:35] srirambv commented on #342
@wjdp @gerbortolotto  you can hide the rewrads icon via Settings -> Display -> Appearance -> Hide Brave Rewards Icon. Just note this only works if you have not enabled rewards.

[2019-04-18 17:10] kjozwiak commented on #1467
@SergeyZhukovsky I managed reproduce this several times on the following devices:

* `Samsung S10+` running `android 9` with `1.0.91 CR: 73.0.3683.90` - Reproduced
* `Pixel 2 XL` running `android 9` with `1.0.91 CR: 73.0.3683.90` - Reproduced

[2019-04-18 17:28] sun-geo commented on #1471
+1

Recently i installed the extension "exodify" (https://www.exodify.org/) it works fine for a brave desktop version. Hopping to get it also running for this brave andriod version, one day :-)

[2019-04-18 18:24] anthonypkeane opened #1483 "Rate Brave"
## Description

Add the ability for users to easily rate Brave

Some like https://github.com/hotchemi/Android-Rate

@jamesmudgett to help design a nice flow

[2019-04-18 18:35] #1466 closed

[2019-04-18 21:03] LaurenWags opened #1485 "max ads per day of 12 on Android - follow up to brave-browser/issues/3849"
Tracker issue to test the change from https://github.com/brave/brave-browser/issues/3849

When Ads are implemented on Android we need to verify that there is a max ads per day of 12 on Android.

cc @anthonypkeane @mandar-brave - if this issue is not needed please close/label appropriately. Keep in mind, Android testing was not completed with https://github.com/brave/brave-browser/issues/3849

[2019-04-19 02:45] btlechowski commented on #1455
Reproduced on Samsung s7, Android 8.0.0, BraveMonoarm v1.0.91 73.0.3683.90

[2019-04-19 12:28] persson1589 commented on #1422
I have this issue as well, random black screens just as the images above. the adress bar works but the page itself is completely black.

I'm using the brave browser from the play store, android 9 pocophone f1. Same thing with different roms if that is interesting to know.

[2019-04-19 15:52] alexwykoff commented on #81
Another request from the public:
https://twitter.com/adalberto_ss/status/1119266279586762752

[2019-04-19 16:42] anthonypkeane opened #1486 "Brave feedback component - Android"
### Description:
Add the ability for users to easily give specific feedback and report issues about the app.
Note: This is separate to the Play Store review https://github.com/brave/browser-android-tabs/issues/1483

Build a native form that collects the following info (all optional):

Issue details - what is going on
URL
Email address
Send system info (TBD but most likely, OS version, iPhone model

[2019-04-19 17:39] SPDurkee commented on #88
Isn't this functionality already built into Chromium?
https://www.chromium.org/developers/design-documents/translate
And if so, couldn't it just be enabled to function like it does in Chromium?

[2019-04-19 18:49] anthonypkeane commented on #1312
Update: The app works fine on my OnePlus until I reboot the phone. Once I do, the app stope working.
CC @SergeyZhukovsky for a fix :)

[2019-04-19 19:33] cwmke commented on #315
It looks like the conversation shifted over to #581.

[2019-04-19 19:34] cwmke commented on #461
It looks like the conversation shifted over to #581.

[2019-04-20 01:06] jonathansampson commented on #801
This issue appears to no longer reproduce.

[2019-04-20 01:06] #801 closed

[2019-04-20 08:39] zcxvxxcvcv commented on #93
Hi @SergeyZhukovsky  it seems this feature has been implemented on the desktop browser. Please bring this to Android as well bro. I appreciate there will need to be some tweaking since Android apps can be killed at any time but I'm sure it will be straightforward for you! Thanks :)

[2019-04-20 18:59] laradevitt commented on #93
@zcxvxxcvcv - In the new desktop version there is a setting for "Keep local data only until you quit your browser" under Content Settings > Cookies - which apparently doesn't affect localstorage according to [this issue](https://github.com/brave/brave-browser/issues/1127) - but I don't see any options for cache or history. Am I missing something?

[2019-04-20 21:03] mthomos opened #1487 "Provide 64 bit build"
Any plans for providing 64 bit build like Chrome and Opera ?

[2019-04-20 21:50] zcxvxxcvcv commented on #93
@laradevitt Last I checked it was in the nightly channel so I presume it will eventually come to the stable release soon enough. You would find it in the clear browser data option option alongside the full list of items which chrome can usually clear.

[2019-04-21 04:29] eljuno commented on #1301
Dupe of #1227?

[2019-04-21 08:55] sggts04 commented on #81
+1

[2019-04-21 09:32] artella-coding commented on #63
On Android Pie when I click "Share Via" option Brave browser does not show up, even though other browsers like Edge and Firefox show up. It would be useful to have Brave browser show up.

[2019-04-21 09:32] artella-coding commented on #660
On Android Pie when I click "Share Via" option Brave browser does not show up, even though other browsers like Edge and Firefox show up. It would be useful to have Brave browser show up.

[2019-04-21 09:40] artella-coding opened #1488 "Manual sync/force sync now feature"
Android Pie Brave syncing with Brave desktop : sometimes the sync takes a while and I presume this is because the sync server has not been contacted by the browser in question. It would be useful to have a sync now/force sync feature which allows one to force a sync immediately. This will be useful when one is reorganising bookmarks/bookmark folders, because one will be able to see the changes ref

[2019-04-21 09:50] artella-coding opened #1489 "Bookmark manager : remember last position within bookmark folder"
Android Pie : Currently when one opens a bookmark, the url is opened in current tab. Then when one returns to the bookmark manager, the manager remembers the last bookmark folder but not the position within the folder. So if the bookmark folder has many bookmarks and one had scrolled to the bottom of the bookmark folder before opening the bookmark, when one returns to the bookmark manager one will

[2019-04-21 09:56] artella-coding opened #1490 "Bookmark manager : open bookmark in new tab whilst preserving bookmark manager window"
Android Pie : Currently when one opens a bookmark, the url is opened in current tab. It would be useful if there was an option to open the bookmark in a new tab whilst still preserving the bookmark window in the previous tab. Right now if one long presses on a bookmark and one clicks the three dots at the top right there are two options :

1)Open in new tab
2)Open in private tab

If one clicks eit

[2019-04-21 15:45] calvinbui commented on #1083
looking forward to this.
the only thing stopping me from moving!

[2019-04-22 11:39] srirambv commented on #1467
@SergeyZhukovsky this is easily reproducible.

[2019-04-22 12:03] srirambv commented on #1487
Playstore should automatically detect your device architecture and provide x86 or x64 install. If you wish to manually download the apk please use the [GitHub releases](https://github.com/brave/browser-android-tabs/releases) page to download the appropriate builds.

cc: @SergeyZhukovsky @samartnik

[2019-04-22 13:22] srirambv commented on #88
+1 from https://community.brave.com/t/translate-not-working/55188/4

[2019-04-22 13:35] SergeyZhukovsky commented on #1487
@mthomos is correct. We don't have x64 build currently @srirambv . We will provide it soon, couple months or so.

[2019-04-22 16:04] SergeyZhukovsky commented on #1467
Exact steps to replicate from @kjozwiak:
• install the latest Brave via the GPS
• open Brave which was just insalled
• click on the kabob (settings) -> Brave Rewards
• click `YES, I'M IN`
• once BR is enabled, disable via the switch
• kabob (settings)  -> Exit Brave
• relaunch Brave (Rewards is enabled

[2019-04-22 17:30] #1481 closed

[2019-04-22 20:07] jonathansampson opened #1493 "Document Titles Abused in Phishing Attacks"
## Description
When opening Brave from an external app (such as an email app), page titles are displayed more prominently than the origin itself, giving them potential to be abused in phishing attacks.

This issue was originally reported [on Twitter](https://twitter.com/olemoudi/status/1120415383301894145).

## Actual result
![image](https://user-images.githubusercontent.com/815158/56525086-1f44de

[2019-04-23 02:28] kjozwiak opened #1494 "sometimes tapping on "Claim Reward" doesn't retrieve grant"
## Description

Tapping on `Claim Reward` doesn't always claim the reward. I've ran into this several times and have been trying to debug with @SergeyZhukovsky. Once you tap the `Claim Reward` button, the UI will keep spinning with nothing happening. Eventually, it will timeout and you won't receive the BAT. Sometimes it works the second time around you get a notification, sometimes it doesn't. I

[2019-04-23 02:47] kjozwiak opened #1495 "removing "Set as default browser" from the settings menu"
## Description

When you already have Brave set as the default browser, you basically have a menu item that is greyed out that's completely useless and taking up space. When you view the settings menu while on a webpage, it's pretty large already, last thing we need is a menu item that is completely useless and taking up space. I personally think we should remove it from the settings page and add

[2019-04-23 13:08] roadshow69 commented on #1403
I have the same. problem. It seems every new feature offered, breaks an existing feature.

[2019-04-23 15:00] yachtcaptain23 commented on #768
This has been done for awhile. Closing.

[2019-04-23 15:00] #768 closed

[2019-04-23 17:07] SergeyZhukovsky commented on #1469
Fixed it here https://github.com/brave/browser-android-tabs/pull/1473

[2019-04-23 17:07] #1469 closed

[2019-04-23 17:13] anthonypkeane commented on #1469
Closed by https://github.com/brave/browser-android-tabs/pull/1473/files

[2019-04-23 18:52] Techguyprivate commented on #1493
wow. I would have fall for this phishing attack.

[2019-04-23 23:24] gdregalo commented on #1267
Long publisher name can overlap the site banner's header and doesn't look nice.

[2019-04-23 23:47] #1267 closed

[2019-04-24 16:03] IOI-655321 opened #1499 "Add an action when all tabs are closed"
Can we please add a default action when all tabs are closed please?

To my mind this should be to return to the homepage if setting is turned on or close brave if not.

Its annoying closing tabs and yet brave minimises but doesnt actually get closed so its still in recents.

[2019-04-24 17:03] n0tty commented on #1372
Your error is caused because gsync fails to download nodejs, and eventhough you might have downloaded nodejs and npm, after you run the  sh scripts/getThirdParties.js command, gsync will break the node package and npm will be unavailable. This will result in npm install command to not work and the final build to not have node_modules.
While I pushed the required file to successfully build the scri

[2019-04-24 20:04] SergeyZhukovsky commented on #1494
Fixed it here https://github.com/brave/brave-core/commit/e81b47b16f9e11d8655addc4d54c8764b3e73fc8

[2019-04-24 20:04] #1494 closed

[2019-04-24 20:14] n0tty opened #1502 "Build Fail: npm and libssl incompatibility in build/install-build-deps-android.sh"
## Description
This bug occurs because build/install-build-deps-android.sh installs libssl-dev which is incompatible with libssl1.0-dev that comes in node-npm. This results in npm to get removed at this stage and scripts/getThirdParties.js to fail.

## Steps to reproduce

   1. first we run - sudo apt-get install npm
   2. then, from the src folder we run - build/install-build-deps-android.sh
   3

[2019-04-25 02:33] SergeyZhukovsky opened #1503 "Check on grants improvements"
Add check on grants on rewards panel and settings page open event.

[2019-04-25 02:34] SergeyZhukovsky commented on #1503
Fixed https://github.com/brave/browser-android-tabs/commit/1c1044e5b6b3bd736adbffcc28a23c751f8abbce

[2019-04-25 02:34] #1503 closed

[2019-04-25 04:37] Svarto commented on #1084
Same here, Google pixel.

[2019-04-25 04:46] n0tty commented on #1372
The fix for second part to this issue - npm removal due to libssl-dev and libssl1.0-dev conflict has been identified and install instructions have been pushed by me. I have not tried the older versions of ubuntu, but in Ubuntu 18.04 this is definitely a problem when you try to install npm from aptitude.
https://github.com/brave/browser-android-tabs/pull/1500

[2019-04-25 04:54] n0tty commented on #1372
The following error **ERROR:root:Git error: rc=0, output=''** occurs on 2 or 3 version checks. However, there is no build failures that seem to be triggered by this.

[2019-04-25 19:24] bazookadaver commented on #1468
Same issue but I did get my claim originally, but had another prompt for claim and it spinned indefinitely. When I came back the page was blank and can't get it back by clearing browser data.  Worried about reinstalling and losing my BAT.

[2019-04-25 19:50] LaurenWags commented on #1267
Verified passed with 1.0.92rc1 with LG Nexus 5 on Android 5.1
- Verified that non-verified sites and YT channels display name on tip banner
![1267-nonverifiedsite](https://user-images.githubusercontent.com/28145373/56764021-bf4d7280-6771-11e9-814e-b8d79f7608c8.png)

- Verified that verified sites and YT channels display name on tip banner
![1267-verifiedYTsite](https://user-images.githubuserconten

[2019-04-25 20:04] kjozwiak commented on #1503
Verification **PASSED** using `Samsung S10+ with Android 9` using the following STR:

• clicked on the rewards panel and ensured that I received `[ RESPONSE - getGrantsCallback ]`
• clicked on `settings` within the rewards panel and ensured that I received `[ RESPONSE - getGrantsCallback ]`
• clicked on `Brave Rewards` within the hamburger menu and ensured that I received `[ RESPONSE - getGrantsCa

[2019-04-25 21:37] willjhenry commented on #601
I would love this as well

[2019-04-26 00:14] sjdrc commented on #619
Interestingly, I am able to use BitWarden autofill from Brave webview tabs (at least in some circumstances). When I try to log into a slack account with google SSO enabled through the slack app, it opens a brave custom tab (has the brave logo in top right) and offers me the regular system autofill popup. Same thing does not get offered when trying to log into gmail through the Brave app.

[2019-04-26 03:30] anthonypkeane opened #1504 "New tab button not working when bluetooth keyboard is attached"
## Description
User reports that tapping .the new tab button when a bluetooth keyboard is attached doesn't work

LInk: https://twitter.com/_pronto_/status/1121517901352140806

<img width="719" alt="Screen Shot 2019-04-25 at 8 29 27 PM" src="https://user-images.githubusercontent.com/7606853/56781690-d94e7b80-6798-11e9-9d9b-bbe72caa90ee.png">

Internal Link: https://bravesoftware.slack.com/archives/

[2019-04-26 06:41] FrederickDavies commented on #93
Dear All,

	OK, my desktop's Brave got updated, but how do I check it is working or not? Where are the cookies and other caches saved in Brave? Essentially, what is the Brave equivalent of IE's AppData\Roaming\Microsoft\Windows\Cookies?

	Yours,

		FD

[2019-04-26 09:53] fshuk1 commented on #93
For Android PLEASE. I use gogoDuck for this very reason but I would like to use BRAVE. Is there a time frame for it or I should just not hold my breath?

[2019-04-26 09:53] fshuk1 commented on #93
ops DuckDuckGo

[2019-04-26 10:08] fshuk1 opened #1505 "Google office Extension"
## Description
Google Office extension doesn't work

## Steps to reproduce

   1. Chrome Store
   2. search for Office extension
   3. Add to brave

## Actual result
Selecting excel sheet or documents just produces a blank screen

## Expected result
An excel sheet style screen

I use

[2019-04-26 10:44] GeetaSarvadnya commented on #1466
Verified passed with 1.0.92 (staging build) on Samsung Galaxy J3

[2019-04-26 11:32] sunilabc052 commented on #601
i would love this as well

[2019-04-26 12:28] btlechowski commented on #1466
I am unable to verify this issue on Samsung s7, BraveMonoarm v1.0.92(staging env).apk because the grant is immediately shown after enabling rewards(Step1). I am unable to disable rewards fast enough.

[2019-04-26 13:16] srirambv commented on #1505
Have you tried changing Fingerprint to `All device recognition allowed` in shields?

[2019-04-26 13:18] srirambv commented on #1505
This looks to be a desktop issue and not Android related. Closing in favour of https://github.com/brave/brave-browser/issues/4259

[2019-04-26 13:18] #1505 closed

[2019-04-26 13:34] LaurenWags commented on #1481
@samartnik could you suggest a test plan for this one?

[2019-04-26 13:36] srirambv commented on #1466
* Verified on Pixel 3XL running 1.0.92(RC) build

[2019-04-26 13:39] srirambv commented on #1499
If you disable home button you can avoid this. This is only a workaround. More info here https://github.com/brave/browser-android-tabs/issues/1180

[2019-04-26 13:39] #1499 closed

[2019-04-26 13:49] srirambv opened #1506 "A longer explanation for why phones are not eligible for Brave Rewards would be nice"
I tried to enable Rewards on my old Cyanogen Mod phone and got this error message:

![Screenshot_2019-04-25-16-53-35](https://user-images.githubusercontent.com/167821/56777011-03497300-6784-11e9-8f52-63a078c8a381.png)

A "learn more" or a longer explanation would be welcome.

Cross-posting issue from https://github.com/brave/brave-browser/issues/4251

cc: @fmarier

[2019-04-26 13:50] srirambv opened #1507 "Navigating to chrome://rewards after unsuccessfully enabling Rewards leads to an unhelpful page"
I tried to enable Rewards on my old Cyanogen Mod phone and got told it's not possible:

![Screenshot_2019-04-25-16-53-35](https://user-images.githubusercontent.com/167821/56776923-acdc3480-6783-11e9-86e2-784a060bee63.png)

Then I clicked on the notification:

![Screenshot_2019-04-25-16-54-01](https://user-images.githubusercontent.com/167821/56776937-b8c7f680-6783-11e9-8992-85c0053dcf37.png)

and e

[2019-04-26 13:52] srirambv opened #1508 "Brave Rewards notification even though my Android phone is not eligible"
I got a notification to enable Brave Rewards after a fresh install of Brave on my Android phone (running an old unsupported version of Cyanogen Mod):

![Screenshot_2019-04-25-16-54-01](https://user-images.githubusercontent.com/167821/56776851-4820da00-6783-11e9-85e8-91b51c56c903.png)

However, when I try to enable it, I get this error message:

![Screenshot_2019-04-25-16-53-35](https://user-images

[2019-04-26 15:13] samartnik commented on #1481
@LaurenWags there is no test plan for this. You just shouldn't ever receive `Backup Wallet` notification.