[2019-01-21 02:06] srirambv opened #1001 "Pull down reload reopens add funds modal"
## Description
Pull down reload reopens add funds modal

## Steps to Reproduce

   1. Enable rewards
   2. Open add funds modal
   3. Close the add funds modal and pull down reload the page, modal shows up again

## Actual result:
https://youtu.be/m1eNQMVJttg

## Expected result:
Closing the modal should auto update the url from `chrome://rewards/#add-funds` to `chrome://rewards` so that pull down

[2019-01-21 02:10] srirambv opened #1002 "Disable rewards still shows view details for Ads and A-C"
## Description
Disable rewards still shows view details for Ads and A-C

## Steps to Reproduce

   1. Enable rewards
   2. Enable ads
   3. Disable rewards, Ads and a-c lists shows `View details` which lists sub level details like a-c list and settings

## Actual result:
![screenshot_20190121-073554](https://user-images.githubusercontent.com/17010094/51448898-78ee0f00-1d4f-11e9-85ea-f12f9b1afd92.p

[2019-01-21 02:16] srirambv commented on #998
Verified pub shows up favicon.
![screenshot_20190121-074524](https://user-images.githubusercontent.com/17010094/51449116-996a9900-1d50-11e9-9ef9-f91f82a3ee43.png)

[2019-01-21 02:34] srirambv opened #1003 "Browser closes when using hardware back button on view details page"
## Description
Browser closes when using hardware back button on view details page

## Steps to Reproduce

   1. Enable rewards
   2. Open `View details` for a-c list
   3. Press the hardware back button to go back to rewards page, instead it backgrounds the app

## Actual result:
Browser closes when using hardware back button on view details page

## Expected result:
Should navigate back to rewar

[2019-01-21 02:36] anthonypkeane commented on #998
![screenshot 2](https://user-images.githubusercontent.com/7606853/51449724-3510f080-1ce2-11e9-9527-a794f24f6b96.jpg)

I'm guessing FullyCharged is not verified yet the favicon is displaying.

[2019-01-21 05:35] anthonypkeane commented on #998
Ok

There still is a bug here and we don’t do this consistently

[2019-01-21 06:38] srirambv opened #1004 "Landscape mode modal issues"
## Description
Landscape mode modal issues

## Steps to Reproduce

   1. Enable rewards
   2. Change device orientation to landscape
   3. Struggle to go back when you go into a-c details if the back button is on settings
   4. All popup modals are not visible completely. Usability in landscape is difficult on modals

## Actual result:
![screenshot_20190121-120304](https://user-images.githubuserco

[2019-01-21 07:05] srirambv opened #1005 "[Tab Specific] Rewards page opens in background and most of the times is blank"
## Description
Rewards page opens in background and most of the times is blank

## Steps to Reproduce

   1. Install rewards build on Android Tab and enable it
   2. Keep rewards page open in a tab
   3. Open a new tab and visit a site
   4. Click on the BR panel and click on settings from the tab on step 3
   5. Rewards page opens in background, switch to it 99% the page is blank, pull down reloa

[2019-01-21 07:41] yachtcaptain23 commented on #992
@jenn-rhim what are your thoughts? We currently have set the layout width and height to be 18x16. A 2 pixel radius difference won't matter much, and we're already pushing the limits for button size.

[2019-01-21 07:56] srirambv commented on #996
This happens on swipe navigation as well either via bottom bar or on the urlbar
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/17010094/51459929-17926400-1d80-11e9-992d-e3620c39f3cb.gif)

[2019-01-21 09:47] thanuj10 opened #1006 "Incognito mode/Private Mode UI needs more work on Beta Release(Brave Rewards Release)"
## Description
Incognito mode on Brave rewards release need more work. The URL bar stays white and the text is not visible. New tab button on the bottom is not visible but clickable. Clicking on it, open a new tab but not in incognito mode.

## Steps to Reproduce

   1. Open Brave.
   2. Tap 3 dot menu to open private mode.
   3. See te UI

## Actual result:
Private mode has several mismatches of

[2019-01-21 09:50] srirambv commented on #992
@brave/legacy_qa  to check on smaller screen devices as well. Issue is logged based on a 6.1" screen size. Smaller screen size would have (probably) an even awkward display.

[2019-01-21 09:57] srirambv opened #1007 "BR panel shouldn't be active on Private tabs similar to desktop"
## Description
BR panel shouldn't be active on Private tabs similar to desktop

## Steps to Reproduce

   1. Enable rewards
   2. Open a new private tab
   3. Tap on BR panel shows wallet summary

## Actual result:
![image from ios](https://user-images.githubusercontent.com/17010094/51466710-da829d80-1d90-11e9-972b-96589c15af4f.jpg)

## Expected result:
BR panel shouldn't be shown on private tabs

[2019-01-21 10:04] srirambv opened #1008 "URL not visible on Private tabs"
## Description
URL not visible on Private tabs on 1.0.74 build

## Steps to Reproduce

   1. Install 1.0.74 build
   2. Open a private tab
   3. Visit a site, URL is not visible on private tabs even when in edit mode

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/51467140-cbe8b600-1d91-11e9-86c1-e452ef00aac5.png)

## Expected result:
URL text should be visible

## I

[2019-01-21 10:08] srirambv opened #1009 "[Tab only] Shields has weird white border on private tabs"
## Description
[Tab only] Shields has weird white border on private tabs

## Steps to Reproduce

   1. Install 1.0.74 on an Android Tablet
   2. Open a private tab
   3. Shields has a horrible white border

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/51467356-61844580-1d92-11e9-9a1b-5545a65090a3.png)

## Expected result:
Shouldn't have horrible borders

## Issue r

[2019-01-21 10:12] srirambv commented on #1008
Dupe of #1006

[2019-01-21 10:12] #1008 closed

[2019-01-21 10:14] srirambv commented on #1006
This is a Phone specific issue. Screenshot available in #1008 . Tablets work just fine.

[2019-01-21 10:24] GeetaSarvadnya opened #1010 "`Auto Contribution` panel details are viewable when Rewards is set to OFF"
## Description
`Auto Contribution` panel details are viewable when Rewards is set to OFF

## Steps to Reproduce

   1. Enable Rewards through `Learn More`
   2. Disable Rewards (Turn off the Rewards switch)
   3. Click on `View Details` under Auto Contribution panel
   3. Auto Contribution details are viewable

## Actual result:
`Auto Contribution` panel details are viewable when Rewards is set to

[2019-01-21 10:34] GeetaSarvadnya opened #1011 "Rewards ON/OFF state is not same on multiple Rewards tabs"
## Description
Rewards ON/OFF state is not same on multiple Rewards tabs

## Steps to Reproduce

   1.  Enable Rewards
   2.  Open multiple Rewards tabs
   3.  Set Rewards to OFF state in one tab
   4. Navigate to other opened Rewards tabs are see Rewards state

## Actual result:
Rewards state in other opened tabs is ON
## Expected result:
Rewards OFF state should reflect same (OFF) in all othe op

[2019-01-21 10:37] srirambv commented on #1010
Dupe of https://github.com/brave/browser-android-tabs/issues/1002

[2019-01-21 10:37] #1010 closed

[2019-01-21 10:39] srirambv opened #1012 "Sites visited in Private tabs are added into a-c with attention"
## Description
Sites visited in Private tabs are added into a-c with attention

## Steps to Reproduce

   1. Clean install 1.0.74
   2. Enable rewards
   3. Open a private tab and visit a site and stay on it for 10 secs
   4. Open rewards setting from private tab
   5. Rewards page open in normal tab
   6. Open `View details` for auto-contribute, site visited in private tab is added into a-c list

[2019-01-21 10:59] GeetaSarvadnya opened #1013 "Multiple page reload on Brave Rewards page is Enabling Rewards even though Rewards is set to OFF"
## Description
Multiple page reload on Brave Rewards page is Enabling Rewards even though Rewards is set to OFF

## Steps to Reproduce

   1. Enable Rewards by clicking on `JOIN REWARDS`
   2. Click on `Settings` and open multiple rewards tabs ( for my test 2 rewards tabs were opened)
   3. Open 1st Rewards tab and set Rewards to OFF state
   4. Open 2nd Rewards tab and make sure Rewards is set ON

[2019-01-21 11:16] GeetaSarvadnya opened #1014 "`Claim` button is shown always even after accepting grants"
## Description
`Claim` button is shown always even after accepting grants

## Steps to Reproduce

   1. Enable grants by clicking on `JOIN REWARDS`
   2. Click on `Settings` and accept the grants by clicking on `Claim` button
   3. Reload Brave://rewards page

## Actual result:
`Claim` button is shown even after accepting grants.

## Expected result:
`Claim` button should not be shown to user afte

[2019-01-21 11:36] srirambv commented on #992
This also happens on `Yes I'm Ready` buttons as well
![screenshot_20190121-170516](https://user-images.githubusercontent.com/17010094/51472188-d198c880-1d9e-11e9-9f38-8276a9e13bdd.png)

[2019-01-21 11:47] ryanml commented on #981
Fixed here: ed5b6e33432c63bb2990bcdea09bcdb8fa2ade04

[2019-01-21 11:47] #981 closed

[2019-01-21 11:50] GeetaSarvadnya opened #1016 "Set different `Monthly Budget` value resets to Default value"
## Description
Set different `Monthly Budget` value resets to Default value

## Steps to Reproduce

   1.  Clean profile 1.0.74
   2.  Enable Rewards by clicking `JOIN REWARDS`
   3.  Click on View details in `Auto Contribution` panel
   4.  Observe the `Monthly Payment`  default value is displayed as 20 BAT
   5.  Change `Monthly Payment` value to 100 BAT
   6. Come out of the rewards panel by cl

[2019-01-21 12:19] GeetaSarvadnya opened #1017 "`Monthly Payment` USD conversion name is not shown completely"
## Description
`Monthly Payment` USD  conversion name is not shown completely

## Steps to Reproduce

   1. Enable Rewards
   2. Click on `View Details` in Auto- Contribution rewards panel
   3.  Verify the `Monthly Payment` BAT and USD values

## Actual result:
Only `U` is shown on the UI, `S` and `D` are missing.

Screen Size:
Size | 5.0 inches, 68.9 cm2 (~68.2% screen-to-body ratio)

![screensh

[2019-01-21 12:35] srirambv opened #1018 "[Tab Specific] Monthly budget values flow outside the modal size"
## Description
Monthly budget values flow outside the modal size

## Steps to Reproduce

   1. Install 1.0.74
   2. Enable rewards and change monthly budget values
   3. Modal size is small and value overflows from the modal

## Actual result:
![screenshot_20190119-051421_brave](https://user-images.githubusercontent.com/17010094/51474794-6a7f1200-1da6-11e9-88bb-dc469a7bca97.jpg)

## Expected resul

[2019-01-21 13:04] GeetaSarvadnya opened #1019 "Min time and min page visit settings are not respected"
## Description
Custom min page time and min page visits settings are not adding sites to a-c table even after min page time and visit criteria is met

## Steps to Reproduce

   1. Enable Rewards
   2. Click on `View Details` on Auto-Contribution panel
   3. Click on `Settings`
   4. In `Auto-Contribution Settings` panel, set min page time and visits ( For my test i have set 5secs and
        5 vis

[2019-01-21 13:12] ryanml commented on #1002
Fixed via: https://github.com/brave/browser-android-tabs/commit/b9301ab42400cffc217b3e93b083b4bfe7aaa2fa

[2019-01-21 13:12] #1002 closed

[2019-01-21 15:11] #832 closed

[2019-01-21 15:12] SergeyZhukovsky commented on #834
I checked and it works on latest version

[2019-01-21 15:12] #834 closed

[2019-01-21 15:12] SergeyZhukovsky commented on #865
that's N/A as we switched to native UI.

[2019-01-21 15:12] #865 closed

[2019-01-21 15:15] #881 closed

[2019-01-21 15:15] #898 closed

[2019-01-21 15:17] SergeyZhukovsky commented on #1003
That is a dup of https://github.com/brave/browser-android-tabs/issues/905

[2019-01-21 15:17] #1003 closed

[2019-01-21 15:17] SergeyZhukovsky commented on #906
That is done here https://github.com/brave/browser-android-tabs/issues/966

[2019-01-21 15:17] #906 closed

[2019-01-21 15:19] #969 closed

[2019-01-21 15:21] SergeyZhukovsky commented on #880
@gdregalo is it still a problem? I don't understand is it related to old HTML based UI or should be good with native UI? Could you please re check it?

[2019-01-21 16:20] kkinder commented on #459
I still suggest it's something *in* Chromium that Brave turns on. Chrome doesn't suffer the same issue, but other Chromium-based browsers do.

[2019-01-22 00:52] btlechowski commented on #982
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74
![982](https://user-images.githubusercontent.com/34715963/51505675-4cd29c80-1de8-11e9-8df9-2a97a45280b6.jpg)

[2019-01-22 01:11] btlechowski commented on #985
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74
![985](https://user-images.githubusercontent.com/34715963/51506140-003c9080-1deb-11e9-971a-1ab412f44846.jpg)

[2019-01-22 01:14] btlechowski commented on #986
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74
![986](https://user-images.githubusercontent.com/34715963/51506199-65908180-1deb-11e9-9f51-bf538c3084c6.jpg)

[2019-01-22 01:38] btlechowski commented on #1004
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74

![1004](https://user-images.githubusercontent.com/34715963/51506903-d84f2c00-1dee-11e9-8221-4002ac52c179.jpg)

[2019-01-22 01:46] btlechowski commented on #1012
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74

The pages opened in private tabs are added to a-c table.

[2019-01-22 01:50] btlechowski commented on #1017
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74
![1017](https://user-images.githubusercontent.com/34715963/51507283-83acb080-1df0-11e9-8f82-f064c40e22dc.jpg)

[2019-01-22 01:53] btlechowski commented on #1016
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74

The monthly budget was reset after reentering a-c settings.

[2019-01-22 01:57] btlechowski commented on #1013
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74

Reproduced on the first try. After reload the rewards was switched on.

[2019-01-22 02:15] srirambv commented on #1019
I think there is a delay in adding sites to the a-c list in general. Sometimes you have to close the rewards page and reopen for the site to list or need to pull-down reload couple of times for it to show up.

[2019-01-22 08:02] kjozwiak commented on #1006
Reproducible the issue mentioned above on the Pixel 1 running `android 9`. Entering a URL into the field is also difficult to see as the background is also white.

[2019-01-22 17:31] ryanml commented on #992
@jamesmudgett I am not sure, this is more of a question for @SergeyZhukovsky

[2019-01-22 17:40] jamesmudgett commented on #992
Does the css for those buttons contain an outline property?

[2019-01-22 17:41] jamesmudgett commented on #992
CSS property that could be set here to avoid this type of highlighting?

[2019-01-22 17:42] anthonypkeane opened #1021 "Can we remove :: android:permission="android.permission.INSTALL_PACKAGES"
In line 146, it looks like we are limiting the application to receive the referrer broadcast event only from apps that have the permission INSTALL_PACKAGES granted.

Can this requirement be removed?

Link to Code: https://github.com/brave/browser-android-tabs/blob/8e965e627acf097396ae7e7e270fdbb08b8c56f3/chrome/android/java/AndroidManifest.xml

![Untitled.png](https://images.zenhubusercontent.com/

[2019-01-22 17:45] ryanml commented on #992
@jamesmudgett my mistake, I thought the icon in the nav bar was being referred to. Highlighting on the button can be removed via CSS

[2019-01-22 18:10] samartnik commented on #968
https://github.com/brave/browser-android-tabs/pull/970

[2019-01-22 18:10] #968 closed

[2019-01-22 21:08] beevvy commented on #247
I'm still getting the same behavior in Brave 1.0.72 on Android 9. FWIW, Edge does exactly the same thing. Chrome works correctly with both OTP app (Google Authenticator) and a security key (an NFC one, in my case).

But there is a workaround: if I enable desktop mode, then Brave doesn't get redirected back to the login page and I can enter an OTP code from the app or choose to enter a recovery cod

[2019-01-23 02:18] gdregalo commented on #991
Fixed in
https://github.com/brave/browser-android-tabs/commit/0207803cb08fb12492683b37de95ba2211e45711

[2019-01-23 11:20] GeetaSarvadnya opened #1024 "Tipped site and tip amount is not displayed under Tip panel"
## Description
Tipped site and tip amount is not displayed under Tips panel

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim UGP grants
   4. Tip a verified publisher

## Actual result:
Tipped site and tip amount is not displayed under Tip panel

## Expected result:
Tipped site and tip amount should get displayed under Tips panel

## Issue reproduces how often:
E

[2019-01-23 11:25] GeetaSarvadnya opened #1025 "Recurring monthly tip is not displayed under Tips Panel"
## Description
Recurring monthly tip is not displayed under Tips Panel

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim grants
   4. Open a verified publisher and send recurring monthly tip for it

## Actual result:
Recurring monthly tip is not displayed under Tips Panel

## Expected result:
Recurring monthly tip should be displayed under Tips Panel

## Issue rep

[2019-01-23 11:44] GeetaSarvadnya opened #1026 "Incorrect sites count displayed in the Auto- Contribution notification message"
## Description
Incorrect sites count displayed in the Auto- Contribution notification message
## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim UGP grants (Currently, we cannot claim grants. But, after clicking on BAT logo notification
      shows up 30 BAT total balance in wallet)
   4. Open a verified publisher and stay on site for min page time ( 8sec)
   5. Mak

[2019-01-23 12:09] GeetaSarvadnya opened #1027 "Auto-contribution is considering incorrect Monthly payment value."
## Description
Auto-contribution is considering incorrect Monthly payment value.

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim UGP grants (Currently, we cannot claim grants. But, after clicking on BAT logo notification
    shows up 30 BAT total balance in wallet)
   4. Click on `View Details` in Auto contribution panel
   5. Verify `Monthly Payment` is display

[2019-01-23 12:33] GeetaSarvadnya opened #1028 "Unable to tip a site even though wallet has sufficient funds"
## Description
Unable to tip a site even though wallet has sufficient funds

## Steps to Reproduce

  1. Clean profile 1.0.74
  2. Enable Rewards
  3. Claim UGP grants (Currently, we cannot claim grants. But, after clicking on BAT logo notification
    shows up 30 BAT total balance in wallet)
  4. Add a verified publisher to a-c table ( I have added DDG)
  5. Wait for auto-contribution ( after aut

[2019-01-23 13:11] GeetaSarvadnya opened #1029 "BR panel doesn't show 'SEND A TIP` option always."
## Description
BR panel doesn't show 'SEND A TIP` option for sites, need to open BR panel multiple times inorder to tip a site.

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim UGP grants (Currently, we cannot claim grants. But, after clicking on BAT logo notification
    shows up 30 BAT total balance in wallet)
   4. Open a site and click on BR panel

## Actual

[2019-01-23 13:37] GeetaSarvadnya opened #1030 "Recurring monthly tip is not shown in Rewards summary"
## Description
Recurring monthly tip is not shown in Rewards summary

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim UGP grants (Currently, we cannot claim grants. But, after clicking on BAT logo notification
    shows up 30 BAT total balance in wallet)
   4. Open a verified publisher
   5. Send a monthly recurring tip 5 BAT
   6. Open Rewards summary

## Actual

[2019-01-23 15:18] GeetaSarvadnya opened #1031 "Auto-Contribution is successful even though Rewards is off"
## Description
Auto-Contribution is successful even though Rewards is off

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim grants (Click on notification on BAT logo shows up 30 BAT in wallet)
   4. Verify `Monthly Payment` is displayed as 10 BAT
   5. Add a verified publisher to a-c table
   6. Turn off the Rewards

## Actual result:
After sometimes, auto contrib

[2019-01-23 15:43] stevepereira commented on #81
+1 From a new user and committed chrome switcher

[2019-01-23 16:30] #966 closed

[2019-01-23 16:31] #959 closed

[2019-01-23 16:32] samartnik commented on #700
We removed that screen

[2019-01-23 16:32] #700 closed

[2019-01-23 16:50] AlexeyBarabash commented on #1021
Hey, @anthonypkeane , Brave browser for Android does not have INSTALL_PACKAGES permission.
The thing you have pointed means:
Brave wants to receive the notification of type `com.android.vending.INSTALL_REFERRER` only from those apps who have `android.permission.INSTALL_PACKAGES` permission, including Google Play app.

Maybe we will change that to `android.permission.CLEAR_APP_CACHE`.

[2019-01-23 17:28] AlexeyBarabash opened #1032 "Sync: handle bookmarks ids reassigned situation"
## Description
While trying to reproduce https://github.com/brave/brave-browser/issues/2798 , had a weird situation, when Android sends a bookmark which has parentObjectId corresponds to a bookmark (not a folder) on a desktop. Desktop gets crashed because it is impossible to make bookmark to be a child of another bookmark (not a folder).

By indirect signs it turns that Android app was force close

[2019-01-23 19:53] jamesmudgett commented on #997
Fallback favicon should be used for these cases
[Favicon Spec.pdf](https://github.com/brave/browser-android-tabs/files/2788920/Favicon.Spec.pdf)

[2019-01-23 19:54] jamesmudgett commented on #998
Fallback favicon should be used for cases where icon is pixelated or missing. Also, all BR related panels will display favicon displayed as a circle.
[Favicon Spec.pdf](https://github.com/brave/browser-android-tabs/files/2788924/Favicon.Spec.pdf)

[2019-01-23 19:55] jamesmudgett commented on #988
Use BAT icon.

[2019-01-23 19:57] jamesmudgett commented on #988
@ryanml page title for Brave Rewards screen should be "Brave Rewards" not just "Rewards", we should also add the TM character as well.

[2019-01-24 01:02] btlechowski commented on #1026
Reproduced on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74
a-c table was showing 1 site.

![screenshot_20190124-020030_brave 1](https://user-images.githubusercontent.com/34715963/51647197-162d8b00-1f7c-11e9-958b-38267e59d0b7.jpg)

[2019-01-24 01:05] btlechowski commented on #1027
I set 15 BAT and the contribution was made for 15 BAT.
After contribution I checked Monthly payment and it was shown 10 BAT.

Tested on Samsung s7 (ARM, Android 8.0.0), Brave v1.0.74

[2019-01-24 04:38] kjozwiak commented on #979
Nope, in this particular case, I left the device running for ~1hr and it was still stuck in that stage. I've had this happen to be twice so it's not super common. I believe @srirambv mentioned that he's run into the above once before as well.

Agreed 👍 Sounds like a fair solution.

[2019-01-24 04:46] ryanml commented on #1001
Fixed via https://github.com/brave/browser-android-tabs/commit/f6bfc54fa8e9deec1346b2b1739c925971dcaa37

cc: @anthonypkeane @SergeyZhukovsky

[2019-01-24 04:46] #1001 closed

[2019-01-24 04:51] ryanml commented on #1016
Closed via: https://github.com/brave/browser-android-tabs/commit/af966213488d414c190f34ec75ef3e0afe9785c2

cc: @anthonypkeane @SergeyZhukovsky

[2019-01-24 04:52] Rafi993 opened #1034 "Suggested sites show in Braves new tab after installation"
## Description
  When Brave is installed first time and I open it list of suggested sites appear in Brave

## Steps to Reproduce

   1. Install Brave
   2. Open new tab

## Actual result:
![screenshot_2019-01-23-23-18-54-850_com brave browser](https://user-images.githubusercontent.com/8092120/51655155-595e1d00-1fc1-11e9-897a-c0cd964bdaeb.png)

## Expected result:
It should be empty

## Issue happe

[2019-01-24 04:52] ryanml commented on #1031
@SergeyZhukovsky I fixed this one upstream, added label

[2019-01-24 04:55] ryanml commented on #1027
Closed via: https://github.com/brave/browser-android-tabs/commit/60817dc62380296ca89a0c947782aa74c9324c4a

cc: @anthonypkeane @SergeyZhukovsky

[2019-01-24 04:55] #1027 closed

[2019-01-24 04:56] Rafi993 commented on #1034
Is this done by phone manufacturers or by Brave ? Is there a way to prevent this?

[2019-01-24 05:13] srirambv commented on #1034
That is default top sites shortcut that gets pre-populated based on region. Not the same set of top tiles for all regions. I don't believe its possible to disable top tiles using flags. Has to be done via code

cc: @SergeyZhukovsky @samartnik

[2019-01-24 05:33] Rafi993 commented on #1034
Since brave is privacy focused browser features likes this should be disabled by default and enabled only if the user manually opts in for it.

[2019-01-24 13:21] GeetaSarvadnya opened #1035 "For non verified pubs Reserved BAT message is not shown in Rewards summary"
## Description
For non verified pubs Reserved BAT message is not shown in Rewards summary

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewrads
   3.  Claim grants
   4.  Add few non verified pubs to a-c table
   5. Wait for auto-contribution

## Actual result:
Auto-contribution is successful. Total a-c balance gone down. There is no reserved BAT message displayed in Rewards summ

[2019-01-24 13:28] GeetaSarvadnya opened #1036 "Tipping non-verified pubs go through and wallet balance reduces"
## Description
Tipping non-verified pubs go through and wallet balance reduces

## Steps to Reproduce

   1. Clean profile 1.0.74
   2. Enable Rewards
   3. Claim grants
   4. Tip non verified pubs

## Actual result:
Tipping non-verified pubs go through and wallet balance reduces

## Expected result:
Should be same as desktop

## Issue reproduces how often:
Easy
## Issue happens on:
   - Current P

[2019-01-24 15:39] gdregalo commented on #1012
Fixed in:
https://github.com/brave/browser-android-tabs/commit/60b8769277a8cb50bb4dd14019692098cc2d0788

[2019-01-24 16:36] Techguyprivate opened #1037 "Integrating Patches of the AndroidHardening project"
## Description
Patches for building hardened production releases of Chromium for integration into the OS builds as the WebView implementation and default browser.

https://github.com/AndroidHardening/chromium_patches

[2019-01-24 17:21] gdregalo commented on #880
Yes, it is still not fixed.
![screenshot_2019-01-24-12-16-02](https://user-images.githubusercontent.com/37560650/51696032-7e0ec080-1fd2-11e9-951a-cc50aae75164.jpg)
![screenshot_2019-01-24-12-16-07](https://user-images.githubusercontent.com/37560650/51696037-82d37480-1fd2-11e9-8ab9-723ee91734de.jpg)

[2019-01-24 17:23] ryanml commented on #880
@gdregalo @SergeyZhukovsky I thought this issue had to do with the panel at the time.

We already had two issues open for the problem in George's screenshot, both were closed last evening by a fix I pushed, thanks!

[2019-01-24 17:23] #880 closed

[2019-01-24 17:24] gdregalo commented on #880
Updated screenshots:
![screenshot_2019-01-24-12-16-02](https://user-images.githubusercontent.com/37560650/51696131-c0d09880-1fd2-11e9-9983-1fbf73017d43.jpg)
![screenshot_2019-01-24-12-16-07](https://user-images.githubusercontent.com/37560650/51696132-c1692f00-1fd2-11e9-8903-51b8bdc4d174.jpg)

[2019-01-24 17:38] Mikko031014 commented on #880
On Jan 25, 2019 1:23 AM, Ryan Lanese <notifications@github.com> wrote:Closed #880.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-24 17:48] gdregalo opened #1038 "YT icon is shown in AC list instead of the icon belonging to a particular YT channel"
The channel's icon is correctly stored in publisher_info_db but not used on `chrome://rewards` page.
Example:
YT channel icon URL: `https://yt3.ggpht.com/a-/AAuE7mBGZC0kVSlri1k0A03mT4VFSDNjOiazkc7o5g=s288-mo-c-c0xffffffff-rj-k-no.`
The icon URL on AC list: `chrome://favicon/size/48@1x/https://www.youtube.com/user/xfactorglobal/videos`

## Description

## Steps to Reproduce

   1.
   2.
   3.

## A

[2019-01-24 18:08] gdregalo opened #1039 "AC list is not populated on first time when `chrome://rewards` page is opened"
A user can browse a lot before she decided to look into  AC list in `chrome://rewards` page.
The AC list is not populated on first time it is opened. The browsing history is properly stored in `publisher_info_db` though. So that the AC list is loaded, a user has to open it second time.

## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue repro

[2019-01-24 23:00] AlexeyBarabash commented on #979
Created PR for this issue https://github.com/brave/browser-android-tabs/pull/1040 .

[2019-01-24 23:36] AlexeyBarabash opened #1042 "Sync: devices are duplicated when app is swiped out from carousel"
## Description
Devices are duplicated in sync chain list when app is swiped out from application carousel.

## Steps to Reproduce

   1. Get clean profile on brave-core
   2. Create sync chain on brave-core
   3. Connect Android device to the sync chain with QR
   4. Wait for sync chain established
   (pt 5-6 are just to show the normal flow)
   5. Exit browser with back button
   6. Launch browse

[2019-01-25 00:09] tomlowenthal commented on #975
Closing as noted in brave/brave-browser#2988

[2019-01-25 00:09] #975 closed

[2019-01-25 00:12] ryanml commented on #1039
@gdregalo fixed via: https://github.com/brave/browser-android-tabs/commit/99edd5ed5d86ef11b86cf6edb676e0d8ede670f9

[2019-01-25 00:12] #1039 closed

[2019-01-25 02:05] gdregalo opened #1043 "Closing "Add funds" dialog still leaves a user at `chrome://rewards/#add-funds` page."
Closing `Add funds` dialog  still leaves a user at `chrome://rewards/#add-funds` page.  Which is not correct. The user is supposed to find herself at Settings `chrome://rewards` url instead.
We are trying not to keep opened several `settings ` (at `chrome://rewards`) and `Add funds` (chrome://rewards/#add-funds) pages simultaneously. The above issue makes it difficult to find `who is who` here.

#

[2019-01-25 02:12] ryanml commented on #1043
Duplicate of: https://github.com/brave/browser-android-tabs/issues/1001

[2019-01-25 02:12] #1043 closed

[2019-01-25 02:57] srirambv commented on #1038
@gdregalo I think for non-verified pubs its required to just show the YT icon. Only for verified pubs the actual channel favicon is shown. This is the current behaviour on desktop.

cc: @NejcZdovc

[2019-01-25 16:08] gdregalo commented on #1038
@srirambv Is above statement correct also for Rewards panel icon?

[2019-01-25 16:24] NejcZdovc commented on #1038
@gdregalo we shouldn't be storing YT image link, but download it and save it and use that link

[2019-01-25 17:18] anthonypkeane opened #1044 "Add "Beta" label to Sync"
See:
https://github.com/brave/brave-ios/pull/799#issuecomment-457622459
https://github.com/brave/brave-browser/issues/3079

[2019-01-25 17:24] vorticalbox opened #1045 "Searching for URL bar fails"
## Description

When searching for a term in the URL box it doesnt search.

## Steps to Reproduce

   1. Type something in URL box
   2. Press return

## Actual result:

Brave tries to connect as a URL

https://imgur.com/a/u7oEW1R

## Expected result:

Google results for search

## Issue reproduces how often:

100%

## Issue happens on:
   - Current Playstore version? No
   - Beta build? Yes

## D

[2019-01-26 14:05] ishitatsuyuki opened #1047 "Instart Logic bypasses content blocker"
## Description

The infamous Instart Logic powered websites bypasses the content blocker. [uBO Extra] maintains a description and countermeasure for this.

## Steps to Reproduce

One example of such site is https://minecraft.gamepedia.com/Minecraft_Wiki.

## Actual result:

Google Ads are loaded.

## Expected result:
Google Ads should be blocked.

## Reproduces how often:
Easily reproduced

## Iss

[2019-01-27 04:10] liamaharon commented on #302
@samartnik how can we use this feature? I can't find any sync option in Brave for Android v1.0.72. Do we need to use a beta build?

[2019-01-27 21:12] gcasanache commented on #81
Bump.

[2019-01-28 05:44] ryanml commented on #1011
This should be fixed with the recent upstream pulldown

cc: @SergeyZhukovsky

[2019-01-28 05:44] #1011 closed

[2019-01-28 07:19] srirambv opened #1048 "[Intermittent Issue] Incorrect favicons shown in BR panel"
## Description
Incorrect favicons shown in BR panel

## Steps to Reproduce

   1. Enable rewards
   2. Visit google.com and keep that as active tab
   3. Remove app from memory and relaunch and open BR panel, might show incorrect favicon

Note: Steps may not be accurate. I encountered issue with that but there might be some specific steps missing there

## Actual result:
![screenshot_20190128-1245

[2019-01-28 07:21] ryanml commented on #1048
Assigned @gdregalo as this is a panel issue cc: @srirambv

[2019-01-28 09:20] srirambv commented on #81
+1 from https://community.brave.com/t/android-update-when-it-may-come/43441

[2019-01-28 12:47] srirambv opened #1049 "Claim grant notification shows 0BAT but wallet updates with grant value"
## Description
Claim grant notification shows 0BAT but wallet updates with grant value

## Steps to Reproduce

   1. Clean install rewards build
   2. Enable rewards from BR panel
   3. Open rewards settings via BR panel
   4. Claim grant, notification shows 0BAT, close notification and wait for 2 secs wallet updates to 30BAT

## Actual result:
Claim grant notification shows 0BAT but wallet update

[2019-01-28 12:51] srirambv opened #1050 "Page scroll doesn't load articles"
## Description
Reported via community. https://community.brave.com/t/instapundit-blog-on-mobile-cant-see-older-posts-by-scrolling-with-mobile-experience/43479
Page scroll doesn't load articles

## Steps to Reproduce

   1. Visit instapundit.com
   2. Scroll down, wait for the page to dynamically load once
   3. Scroll down further, keep waiting as dynamic page load fails

## Actual result:
Page sc

[2019-01-28 15:11] samartnik commented on #302
Sync hasn't been released yet. We expect to have Sync-beta in official release soon.

[2019-01-28 15:12] #1012 closed

[2019-01-28 15:15] #990 closed

[2019-01-28 18:12] ryanml commented on #1019
@SergeyZhukovsky this one should have been fixed with your recent upstream update

[2019-01-28 18:12] #1019 closed

[2019-01-28 18:13] ryanml commented on #1013
This one should be fixed with recently merged upstream changes

cc: @SergeyZhukovsky

[2019-01-28 18:13] #1013 closed

[2019-01-28 18:15] ryanml commented on #982
Strings recently merged in, should be good to go:

cc: @SergeyZhukovsky

[2019-01-28 18:15] #982 closed

[2019-01-28 20:47] AlexeyBarabash commented on #1044
Modified in https://github.com/brave/browser-android-tabs/commit/df9a404e0c41f28c6e415365973e055060f020d3 .
![screenshot_20190128-223957](https://user-images.githubusercontent.com/24739341/51865310-9114ee00-234e-11e9-8a2b-b7aefe0bad29.png)
![screenshot_20190128-223952](https://user-images.githubusercontent.com/24739341/51865311-9114ee00-234e-11e9-9c63-95be7cea1254.png)

Will close this issue once

[2019-01-28 21:20] jonathansampson opened #1052 "Feature Request: Block Sites Entirely"
## Description
A user has requested the ability to block all requests (including first-party and navigation) to any particular domain. Think of it like adding the site to your hosts file and pointing it to 127.0.0.1.

Source: https://twitter.com/gauiis/status/1089990362679177223

![image](https://user-images.githubusercontent.com/815158/51867046-280e8580-2310-11e9-9391-03e8729ed0c4.png)

[2019-01-29 09:02] jonathansampson opened #1054 "Auto-Deny Notification Requests"
## Description
Feature Request: Automatically deny notification requests.

![image](https://user-images.githubusercontent.com/815158/51896500-3b523d00-2372-11e9-9d02-296c835b7fc1.png)

### Additional Information
Some users wish to not be faced with frequent requests to accept or deny notifications. Instead, they would prefer to automatically reject all notifications requests (with the option of al

[2019-01-29 15:27] #962 closed

[2019-01-29 15:56] srirambv opened #1056 "Manual test run on Android ARM for 1.0.75"
## Per release specialty tests
 - [x] Clicking Add another device doesn't list device after sync. ([#778](https://github.com/brave/browser-android-tabs/issues/778))
 - [x] Bookmark is not put into previously synced folder. ([#783](https://github.com/brave/browser-android-tabs/issues/783))
 - [x] Credential 400 error while trying to enable sync. ([#788](https://github.com/brave/browser-android-tabs

[2019-01-29 15:56] srirambv opened #1057 "Manual test run on Android x86 for 1.0.75"
## Per release specialty tests
 - [ ] Clicking Add another device doesn't list device after sync. ([#778](https://github.com/brave/browser-android-tabs/issues/778))
 - [ ] Bookmark is not put into previously synced folder. ([#783](https://github.com/brave/browser-android-tabs/issues/783))
 - [ ] Credential 400 error while trying to enable sync. ([#788](https://github.com/brave/browser-android-tabs

[2019-01-29 15:56] srirambv opened #1058 "Manual test run on Android Tab for 1.0.75"
## Per release specialty tests
 - [x] Clicking Add another device doesn't list device after sync. ([#778](https://github.com/brave/browser-android-tabs/issues/778))
 - [x] Bookmark is not put into previously synced folder. ([#783](https://github.com/brave/browser-android-tabs/issues/783))
 - [x] Credential 400 error while trying to enable sync. ([#788](https://github.com/brave/browser-android-tabs

[2019-01-29 18:40] SergeyZhukovsky commented on #1029
@GeetaSarvadnya do you have any website example for that?

[2019-01-29 19:19] SergeyZhukovsky commented on #907
That is done in a context of switching to utility process.

[2019-01-29 19:19] #907 closed

[2019-01-29 20:00] dlenkes commented on #134
Please fix it! This is a vital feature while living in a country and not speaking the local language (and most websites don't offer English).

[2019-01-29 20:54] rebron commented on #978
cc: me @rebron

[2019-01-30 00:08] anthonypkeane opened #1061 "Logging issues"
We need the ability to allow a user log issues and enable the user to email a log of those issues to support.

@jamesmudgett could you please design a flow for this?

edit bbondy: I removed BR specific from this because this is in general useful.

[2019-01-30 00:11] anthonypkeane opened #1062 "Hide BR UI for failed SafetyNet Check"
If a users device fails the SafetyNet check, we should hide certain parts of the BR UI.

The areas to be hidden are: (any area where a user can earn BAT)

Grants
Ads

Full spec TDB

[2019-01-30 02:37] holyavengerone commented on #81
+1 from reddit. Go go dark mode!

[2019-01-30 06:45] srirambv commented on #137
![image](https://user-images.githubusercontent.com/17010094/51963166-b3ab2200-2488-11e9-8c4b-c502928ee1fa.png)

[2019-01-30 07:37] srirambv commented on #960
Verification passed on Android Tab
![20190130_023359](https://user-images.githubusercontent.com/17010094/51965556-ec9ac500-248f-11e9-8034-60663912f4a5.jpg)

[2019-01-30 10:33] srirambv opened #1064 "Custom tabs not working on Tablet"
## Description
Custom tabs not working on Tablet

## Steps to Reproduce

   1. Clean install 1.0.75
   2. Open a link in an external app
   3. Option shows up to open in Brave/Chrome
   4. Tap on Brave, opens browser window instead of opening custom tab
   5. Disable and enable `Open tabs in custom tab` option under accesibilty
   6. Repeat steps 2-4, same result

## Actual result:
Custom tabs not

[2019-01-30 11:05] srirambv commented on #1058
Looks good on Tablet. Logged issues
- https://github.com/brave/browser-android-tabs/issues/1063 (Sync related)
- https://github.com/brave/browser-android-tabs/issues/1064 (Custom tabs)

[2019-01-30 11:31] GeetaSarvadnya commented on #960
Verification passed on ARM - Android Samsung Galaxy J3
![screenshot_2019-01-30-17-01-01](https://user-images.githubusercontent.com/38657976/51978640-b0c42780-24b0-11e9-9869-bb6e03dafed5.png)

[2019-01-30 11:44] alsyundawy commented on #601
Any updates on this?

[2019-01-30 15:27] srirambv commented on #1056
Looks good on Pixel 3XL

[2019-01-30 15:50] srirambv commented on #1056
Reopened and added Sync test cases to be verified

[2019-01-30 21:34] btlechowski commented on #778
Verified on Samsung s7, Brave 1.0.75.

[2019-01-30 22:02] btlechowski commented on #790
Verified on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 22:04] btlechowski commented on #791
Verified on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 22:06] SergeyZhukovsky commented on #1026
The message has been changed in upstream sources. We don't show websites count anymore.

[2019-01-30 22:06] #1026 closed

[2019-01-30 22:08] SergeyZhukovsky commented on #1036
Fixed in upstream changes.

[2019-01-30 22:08] #1036 closed

[2019-01-30 22:20] btlechowski commented on #796
Verified on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 22:24] SergeyZhukovsky commented on #1014
@ryanml I verified everything on c++ side. There are two calls. So that one is done from HTML when the page is appeared
`web_ui()->RegisterMessageCallback("brave_rewards.getGrant",
                                    base::BindRepeating(&RewardsDOMHandler::GetGrant,
                                                        base::Unretained(this)));`
After that we call a callback `void RewardsDOMHand

[2019-01-30 22:33] SergeyZhukovsky commented on #1014
I guess you need to look on that place in `grant_reducer.ts`:
`case types.ON_GRANT:
      state = { ...state }
      // TODO NZ check why enum can't be used inside Rewards namespace
      if (action.payload.properties.status === 1) {
        state.grant = undefined
        break
      }

      state.grant = {
        promotionId: action.payload.properties.promotionId,
        expiryTime: 0,

[2019-01-30 22:36] ryanml commented on #1014
@SergeyZhukovsky thanks for investigating, looks like then that the status code `13` just needed handling. We don't check for this particular status code in Desktop, so explains why this wasn't picked in.

https://github.com/brave/browser-android-tabs/commit/6116d67f6b13a4b2e11b6db0dd82d4cf58048c7c

This commit should resolve the issue, I am unable to do a full build at the moment but the web-ui b

[2019-01-30 22:48] btlechowski opened #1065 "Device is listed twice after closing Brave during sync chain creation"
Follow up from https://github.com/brave/browser-android-tabs/issues/854

## Steps to Reproduce

   1. Start `Start a new sync chain` on Android device
   2. Set a name for the device
   3. Tap `Add a Computer`
4. Copy the code words
5. Force close Brave
6. Sync a Desktop device using the codes from 4.
7. Open Brave on Android device
8. Check Sync

## Actual result:
The android device is listed twi

[2019-01-30 22:49] btlechowski commented on #854
Verified on Samsung s7 (ARM), Brave 1.0.75.

I found a case in which the issue still reproduces. Logged: https://github.com/brave/browser-android-tabs/issues/1065

[2019-01-30 22:53] btlechowski commented on #913
Verification passed on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 22:56] btlechowski commented on #924
Verification passed on Samsung s7 (ARM), Brave 1.0.75.

Initial sync of Android device and desktop(sync chain creator) took 7 seconds.

[2019-01-30 23:02] btlechowski commented on #933
Verification passed on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 23:43] btlechowski commented on #919
Verification passed on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-30 23:54] btlechowski commented on #792
Verification passed on Samsung s7 (ARM), Brave 1.0.75.

[2019-01-31 02:52] SergeyZhukovsky commented on #1014
It works as expected. Thanks @ryanml!

[2019-01-31 02:52] #1014 closed

[2019-01-31 11:50] srirambv commented on #1065
I think there is a delay in removing the device from sync chain. While verifying #864 encountered this issue. But removing the app from memory a second time and loading sync shows its reset. So this might not be an issue but just a delay in removing the device from chain.

cc: @AlexeyBarabash @darkdh

[2019-01-31 12:14] srirambv commented on #798
- Verification passed on Samsung Tab (ARM) using 1.0.75
- Verification passed with sync with b-c and iOS using the issue description

[2019-01-31 12:58] srirambv commented on #1056
@btlechowski looks good with closed items?

[2019-01-31 14:03] srirambv commented on #795
Verification passed on Samsung Tab(ARM) running 1.0.75

[2019-01-31 14:33] AlexeyBarabash commented on #1065
This is quire similar to  https://github.com/brave/browser-android-tabs/issues/1042 .
For now I know that last_fetch_time is not saved right after initial fetch, so after force close and restart the browser acts like on the first fetch: sends add itself with a new object_id, which causes duplication in devices list and resends all bookmarks.

[2019-01-31 14:35] AlexeyBarabash commented on #979
Fixed with https://github.com/brave/browser-android-tabs/pull/1040 PR.

[2019-01-31 14:35] #979 closed

[2019-01-31 14:44] srirambv commented on #788
- Verification passed on Samsung Tab(ARM) running 1.0.75

[2019-01-31 14:45] srirambv commented on #1058
Looks good to release

[2019-01-31 14:45] #1058 closed

[2019-01-31 14:45] #1056 closed

[2019-01-31 16:15] SergeyZhukovsky commented on #1024
I verified that. There is a section in `chrome://rewards` called Tips. We don't have the current tip and website in the list there. But we have the amount of tips in the panel, we don't show website name in the panel though. @ryanml could you take a look what is missed in HTML page. We do that call in the panel to retrieve that info `GetCurrentBalanceReport`, however I don't see it in brave_reward

[2019-01-31 16:35] SergeyZhukovsky commented on #1025
It's the same problem as in that issue https://github.com/brave/browser-android-tabs/issues/1024

[2019-01-31 17:41] SergeyZhukovsky commented on #1028
Done https://github.com/brave/browser-android-tabs/commit/5400f4505a4b53e35021d6ded9c0baebf59d7840

[2019-01-31 17:41] #1028 closed

[2019-01-31 18:05] SergeyZhukovsky commented on #1030
@GeetaSarvadnya did it appear in a minute or so? Their is a random delay on tipping from 1 to 60 seconds. I cannot reproduce that.

[2019-01-31 19:10] SergeyZhukovsky commented on #1030
Sorry @GeetaSarvadnya  I checked not a recurring tip. However when I did with a monthly tip, I saw that we process recurring tips on a contribution date, and they appear in the summary after that.

[2019-01-31 19:10] #1030 closed

[2019-01-31 19:31] SergeyZhukovsky commented on #1031
Thanks @ryanml! I checked it and we don't do contributions currently when the switch is off.

[2019-01-31 19:31] #1031 closed

[2019-01-31 21:33] diracdeltas commented on #1021
Note: this issue is currently not approved by security team. Please do not change the permissions without getting approval from me, thanks. Feel free to DM me for more info

[2019-02-01 05:35] jumde opened #1068 "Ads not blocked on yahoo.com"
## Description
Ads are displayed when browsing yahoo.com

## Steps to Reproduce

   1. Navigate to yahoo.com
   2. Scroll
   3. You can see the ads

## Actual result:
![image](https://user-images.githubusercontent.com/1903815/52104526-e562dc80-259f-11e9-988f-9dc873f02f74.png)

## Expected result:
No ads (ads are not visible on the desktop browser)

## Issue reproduces how often:
Easily

## Issue h

[2019-02-01 12:14] AlexeyBarabash opened #1069 "Sync: crash when switching languages"
## Description
Brave browser crashes when sync is enabled and do switching of languages in Android system settings.

## Steps to Reproduce

   1. Connect browser to the sync chain. I used brave-core as the first device, but it should not be a matter.  Wait for sync to complete.
   2. Go to the system settings => Languages , switch to another language.
   3. Switch to Brave browser.

## Actual resu

[2019-02-01 12:42] AlexeyBarabash opened #1070 "Update sync_transifex_to_translations.py tool for nested strings from Transifex"
## Description
While importing back translated xmls from Transifex, on strings like
`<string name="brave_sync_delete_device">क्या आप वाकई डिवाइस \'<ph name=\"DEVICE_NAME\">%1$s</ph>\' को हटाना चाहते हैं?</string> ` sync_transifex_to_translations.py fails with error
[code]
which points to `=\"`

Some parsers treat such xmls as valid and some not.

Workaround is to make replaces:
`<ph name=\"DEVICE_

[2019-02-01 15:10] GeetaSarvadnya opened #1071 "Desktop is not removed from sync chain , when sync is reset on sync chain creator device"
## Description
Desktop is not removed from sync chain , when sync is reset on sync chain creator device

##Devices
Device1: Desktop windows 10 (Brave 0.59.34) - Sync chain creator
Device2: Linux Mint (VM) Brave 0.59.34
Device3: Android Samsung Galaxy J3 - 1.0.76

## Steps to Reproduce

   1. Setup sync chain between Windows and Linux
   2. Open QR code on windows and add Android to sync chain by s

[2019-02-01 21:00] SergeyZhukovsky commented on #1035
Done https://github.com/brave/browser-android-tabs/commit/a2fc4fde6d772a101de349dbd7dd6fe47bb02ce3

[2019-02-01 21:00] #1035 closed

[2019-02-01 22:05] anthonypkeane opened #1073 "Enable the `Autoplay` setting to stop animated Gifs"
Can we enable the `Autoplay` setting on Android - to stop gifs from autoplaying?

[2019-02-02 04:13] nivinj commented on #81
+1 - need this for Android. Desktop dark theme is looking great.

[2019-02-02 15:15] btlechowski opened #1074 "Context menu is missing crucial items on new install"
IMPORTANT: issue only reproduces on new/clean install. Does NOT reproduce on update.

## Steps to Reproduce
   1. Uninstall Brave
   2. Install Brave
   3. Go to youtube.com
4. Long tap to show context menu

## Actual result:
Context menu is missing crucial items, like `Open In a new Tab`

![screenshot_20190202-160746_brave](https://user-images.githubusercontent.com/34715963/52165788-612a6980-2705

[2019-02-03 00:38] KBeDeveloper commented on #137
Still waiting here 😢

[2019-02-03 01:11] SergeyZhukovsky commented on #137
@KBeDeveloper 1.0.76 version which we are releasing now, has it.

[2019-02-03 02:32] stodge commented on #137
Where will the synced data be stored?

[2019-02-03 06:55] #137 closed

[2019-02-03 06:55] #1057 closed

[2019-02-03 13:37] SergeyZhukovsky commented on #137
The encrypted data is stored on Amazon S3. Here is a technical overview https://github.com/brave/sync/wiki/Design

[2019-02-03 14:15] Rouzax commented on #137
Not to sound ungrateful 😀 but is there an ETA for password sync?

[2019-02-04 05:14] srirambv opened #1075 "(This device) listed on both entries when sync chain is created"
## Description
(This device) listed on both entries when sync chain is created

## Devices
Device 1: Samsung Tab, upgrade from 1.0.76- > 1.0.77, no prior sync chain
Device 2: Pixel 3XL, upgrade from 1.0.76 -> 1.0.77, Sync reset on 1.0.76

## Steps to Reproduce (Not reliable)

   1. Upgrade both devices from  1.0.76 to 1.0.77
   2. Reset sync on device 2
   3. Create sync chain on device 1
   4. Sc

[2019-02-04 10:58] mithodin opened #1076 "sync - Desktop bookmarks do not show up on mobile and vice-versa"
## Description
I have multiple desktop instances in a sync chain. When I add a mobile device (release 1.0.77) to the sync chain, no desktop bookmarks ever show up on the mobile device and no mobile bookmarks show up on the desktop devices

## Steps to Reproduce
   1.  Create a sync chain on desktop, add a few bookmarks
   2. Add mobile device to the sync chain
   3. Check bookmarks on mobile devic

[2019-02-04 11:39] srirambv commented on #1076
Following the steps from issue I can't reproduce the issue. Bookmarks from desktop sync to Mobile but bookmarks from Android doesnt propagate to desktop which should be fixed as part of brave/sync#277. When Android device is sync'd there is a delay in getting bookmarks. It took me about 5 mins post joining sync chain for the mobile to receive bookmarks. Adding a second Android device syncs bookmar

[2019-02-04 12:13] mithodin commented on #1076
It is definitely not a time issue, since I've waited a few hours for the bookmarks to show up and there is nothing.
I had tried to sync the android device once before with an earlier build, I can't remember which one, though. I removed it from the sync chain then.

[2019-02-04 12:15] srirambv commented on #1076
Just a note adding a new bookmark on desktop propagates to Android devices. Existing ones don't propagate from Android-Desktop. Might be related to #1063 as well

[2019-02-04 14:48] SergeyZhukovsky commented on #1076
@mithodin just to clarify. Do you see bookmarks on Android device if you create them on desktops? I'm confused as in the original description you said you don't, but at the latter message you said you do.

[2019-02-04 14:49] mithodin commented on #1076
I do not see any bookmarks that were created before the device joined the sync chain. If I create new bookmarks, those seem to show up after a while.

[2019-02-04 16:45] SergeyZhukovsky commented on #1049
![screenshot_20190204-114206](https://user-images.githubusercontent.com/12011303/52222686-1843f380-2872-11e9-9bc2-72800c27bc36.png)
@ryanml it is on that screen ^ inside settings. There is a delay of couple seconds till the grants appear. It's expected as there is a network call. Could we do a kind of endless spinner there till the grant appears or what else could be done @srirambv ?

[2019-02-04 16:47] SergeyZhukovsky commented on #852
It's fixed by @gdregalo

[2019-02-04 16:47] #852 closed

[2019-02-04 16:52] SergeyZhukovsky commented on #977
@jamesmudgett @anthonypkeane any update on that?

[2019-02-04 16:53] SergeyZhukovsky commented on #978
@anthonypkeane where should it be placed on Android?

[2019-02-04 17:05] anthonypkeane commented on #977
Hi @SergeyZhukovsky

Please place a Brave Rewards menu item above settings

![menu-br](https://user-images.githubusercontent.com/7606853/52224064-f2abef80-285b-11e9-980b-d0c2b7e8cdaf.jpg)

[2019-02-04 19:13] SergeyZhukovsky commented on #977
It's done here https://github.com/brave/browser-android-tabs/commit/9e08a8d653c65395d21db81d6d9703fd66b89410

[2019-02-04 19:14] #977 closed

[2019-02-05 00:16] Brave-Matt opened #1077 "Unable to authenticate into Amazon or view certain pages on mobile"
## Description
Logging into Amazon using standard login function works fine. However, once logged in, if you attempt to view certain screens - "Orders" is an easy to produce one - you'll be asked to authenticate again. After doing so, instead of being directed to the page in question, you remain on the Amazon auth page as if you'd just arrived there.

## Steps to Reproduce

   1. Visit and login t

[2019-02-05 05:39] ryanml commented on #1025
Logic for this added here: https://github.com/brave/browser-android-tabs/commit/96d8224fceae8b07e414c55f3e90b3b24f28d6fd

cc: @SergeyZhukovsky

[2019-02-05 05:39] #1025 closed

[2019-02-05 05:40] ryanml commented on #1024
@SergeyZhukovsky missing client side logic added here: https://github.com/brave/browser-android-tabs/commit/96d8224fceae8b07e414c55f3e90b3b24f28d6fd

[2019-02-05 05:40] #1024 closed

[2019-02-05 11:32] ali-idrizi opened #1078 "Cannot generate gradle"
## Description
I am trying to follow the guide on [how to debug Java code in Android Studio ](https://github.com/brave/browser-android-tabs/wiki/How-to-debug-Java-code-with-Android-Studio), but the second step which is generating the gradle, fails.

## Steps to Reproduce

   1. Build the apk `ninja -C out/Default chrome_public_apk`
   2. Run `build/android/gradle/generate_gradle.py --output-direct

[2019-02-05 15:10] samartnik commented on #976
Fixed here https://github.com/brave/browser-android-tabs/commit/efb69bb27cef97848c3cbd6ccfb6253e790a7e74
Thanks @bbondy

[2019-02-05 15:10] #976 closed

[2019-02-05 15:39] PunnyBoi commented on #1076
So is there no way I can migrate existing bookmarks to other synced devices?

[2019-02-05 15:50] srirambv commented on #1076
This issue is fixed and should be available in the next update for both desktop and Android.

[2019-02-05 15:50] #1076 closed

[2019-02-05 16:03] ryanml commented on #984
So as it is, the modal window is responsive and says within the document viewport height. The issue seems to be the bottom Android toolbar covers the bottom of the modal. cc: @petemill if you have any ideas. cc: @SergeyZhukovsky

[2019-02-05 16:20] ryanml commented on #985
Fixed via upstream changes

[2019-02-05 16:20] #985 closed

[2019-02-05 16:20] ryanml commented on #986
Fixed via upstream changes

[2019-02-05 16:20] #986 closed

[2019-02-06 04:12] bluz71 commented on #556
Just installed Brave on Android since sync has now landed (thanks Brave team). Now starting my full migration to Brave away from Chrome.

But, the non-adaptive Brave icon is not nice to look at on my Google Pixel device. It is the Brave Lion inside a white circle as seen in this picture:

https://ibb.co/iAu5Ln

It is the amount of white that is not nice, especially compared to the Chrome icon whic

[2019-02-06 04:18] bluz71 commented on #556
Here is the Twitter Android adaptive icon (white bird on blue background):

![twitter](https://user-images.githubusercontent.com/11382509/52320171-ec677000-2a21-11e9-960e-5b2cf639d6da.png)

Compared with the usual Twitter logo which is just a blue bird.

Maybe the Brave Android team could do the same thing to enable [Android Adaptive Icons](https://developer.android.com/guide/practices/ui_guidelin

[2019-02-06 04:55] bluz71 commented on #519
Hello Brave team,

This request and [#556](https://github.com/brave/browser-android-tabs/issues/556) should be merged, they are effectively the same issue.

Cheers.

[2019-02-06 10:47] #1017 closed

[2019-02-06 10:57] ryanml commented on #1017
Closed via: https://github.com/brave/browser-android-tabs/commit/43a533b951fdc142fec32be71bd7d2698e522a8c

[2019-02-06 10:57] ryanml commented on #984
Closed via: https://github.com/brave/browser-android-tabs/commit/43a533b951fdc142fec32be71bd7d2698e522a8c

[2019-02-06 10:57] #984 closed

[2019-02-06 12:21] IOI-655321 opened #1079 "Sync failing after setup"
I setup sync (with some difficulties) and it eventually synced my bookmarks from my two desktops which are working fine.  I went into Brave after a while and it gave me an error and showed no sync chain setup.  I re-setup the link and then it did the same sometime later.

## Steps to Reproduce

   1. Add mobile device to sync chain (via QR or code both had issue)
   2. Wait
   3. Get error in sync

[2019-02-06 14:52] LaurenWags commented on #1075
I reproduced this using a clean install from desktop (0.60.19) and clean install of Android (1.0.77) - https://github.com/brave/brave-browser/issues/3234

[2019-02-06 15:00] IzzySoft commented on #92
Did the future start meanwhile? I think someone mentioned it starts today … 😃

[2019-02-06 18:14] danuker commented on #92
If you go to the issues index, and sort by :+1: reactions, then this is the first ticket.
Would Brave reconsider this ticket's priority?

[2019-02-06 18:20] AlexeyBarabash opened #1080 "Sync stuck on 'LOADING DEVICES'"
Yes there are some similar, but details are different:
https://github.com/brave/browser-android-tabs/issues/924
https://github.com/brave/browser-android-tabs/issues/979

## Description
There is a way to make sync prefs page stuck on `LOADING DEVICES` phase even when device is actually in sync chain already.

## Steps to Reproduce

1) Connect Android device the existing sync chain which already has

[2019-02-06 18:57] SergeyZhukovsky commented on #998
The original issue with general YT icon for non verified creators is done. The pixelated icon issue will be addressed here https://github.com/brave/browser-android-tabs/issues/997

[2019-02-06 18:57] #998 closed

[2019-02-06 20:19] tomlowenthal commented on #859
+1 from Twitter. https://twitter.com/eljuno_/status/1092970445291192320

[2019-02-06 20:58] samartnik commented on #1069
Fixed here https://github.com/brave/browser-android-tabs/commit/ef9068bea43a92df180c8bdde43550c36a72b32e

[2019-02-06 20:58] #1069 closed

[2019-02-07 08:23] BlackRabbit22 opened #1082 "Long press not working, open in new tab not working"
When long pressing on an image or file, the option for saving the file or image doesn't appear.

When long pressing on a hyperlink, it doesn't display "open in new tab". It only displays copy link/copy text.

[2019-02-07 11:02] srirambv commented on #1082
Context menu open in new tab is fixed as part of #1074. Should be available in the next build.

Closing the issue for now. Lets reopen if the issue still persist for images in the new build

[2019-02-07 11:02] #1082 closed

[2019-02-07 11:36] srirambv opened #1083 "Imported bookmark without a title doesn't get sync'd with Android device"
## Description
Imported bookmark without a title doesn't get sync'd with Android device

## Devices
Device 1: Brave-core profile 1 on Linux
Device 2: Pixel 3XL running playstore build 1.0.77
Device 3: Brave-core profile 2 on Linux

## Steps to Reproduce

   1. Create sync chain on device 1
   2. Add device 2 to sync chain with QR code
   3. Add a bookmark on device without any title, bookmark sync

[2019-02-07 17:20] mKoonrad opened #1084 "U2F NFC keys not working on Android"
Description:
I can't use U2F NFC keys (like YubiKey NEO) with Brave on Android. There is missing any FIDO U2F code/library in the Brave Android browser.

Steps to Reproduce:
1. Open Brave Android browser
2. Log in to any service with U2F support as 2 factor authentication like Google, GitHub etc.
3. Try to tap to phone NFC U2F key

Actual result:
Nothing. Page/service is waiting to use U2F key.

E

[2019-02-07 18:11] leobel96 opened #1085 "Reorder bookmarks"
I'm trying to find a way to reorder bookmarks inside a folder with no solution. Is there a way to rearrange bookmarks order on android?

[2019-02-07 18:19] Brave-Matt commented on #939
+1 from Community:
https://community.brave.com/t/beave-isnt-saving-google-com-site-settings/44349/2

[2019-02-07 18:47] leobel96 opened #1086 "Duplicated bookmarks"
## Description
When I add new bookmarks on my android devices, when bookmark appears on PC it also appears duplicated on android device. It seems like android--->PC and then PC--->android.

## Steps to Reproduce

   1. Add a bookmark on android device
   2. Wait a while until bookmark appears on PC

## Actual result:
Bookmark appears duplicated on android device

![photo5974295794045530378](https:

[2019-02-07 20:38] jonathansampson opened #1087 "Delay Camera Access Request"
## Description
Brave on Android presently requests camera permissions too early in the Sync process. Instead the permission request should be made when the user has expressed an interest in scanning a QR code. As it currently stands, the request may confuse the user (it confused me).

## Expected result:
Request camera permissions only after the user has indicated they would like to scan a QR code

[2019-02-07 20:45] SergeyZhukovsky commented on #1085
No, there is no way to sort on Android. Perhaps in the future.

[2019-02-07 20:45] #1085 closed

[2019-02-08 10:00] GeetaSarvadnya opened #1089 "Rewards panel content message is not same as Brave core"
## Description
Rewards panel content message is not same as Brave core

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:
![screenshot_2019-02-08-15-18-41](https://user-images.githubusercontent.com/38657976/52471113-15206e80-2bb6-11e9-80a3-729b2b1a36b3.png)

## Expected result:
![image](https://user-images.githubusercontent.com/38657976/52471132-21a4c700-2bb6-11e9-88af-292cecccb10e.png)

[2019-02-08 10:15] GeetaSarvadnya opened #1090 "Back arrow is not aligned with `Auto-Contribute` and `Tips` panels texts"
## Description
Back arrow is not aligned with `Auto-Contribute` and `Tips` panels texts

## Steps to Reproduce

   1. Open Brave 1.0.78
   2. Enable Rewards
   3. Click on `View Details` for Auto-Contribute and Tips panels

## Actual result:
![image](https://user-images.githubusercontent.com/38657976/52471867-ec997400-2bb7-11e9-979c-a4e3b0744ff9.png)
![image](https://user-images.githubusercontent.

[2019-02-08 11:14] GeetaSarvadnya opened #1091 "Translations missing and instead placeholder text is shown"
## Description
Translations missing and instead placeholder text is shown

## Steps to Reproduce

   1. Open brave 1.0.78
   2. Enable Rewards
   3. Accept the grants, click on your wallet
   4. Observe UI issues

## Actual result:
1. `Missing` placeholder is shown
2. `tokenGrantClaimed ` is displayed instead of  `Token Grants Claimed`- there is no space between texts and also `s` is missing after

[2019-02-08 11:36] GeetaSarvadnya opened #1092 "Insufficient funds notification is shown as soon as we enable rewards on clean install"
## Description
Insufficient funds notification is shown as soon as we enable rewards on clean install

## Steps to Reproduce

   1. Clean install 1.0.78
   2. Click on `JOIN REWARDS`
   3. Insufficient funds notification is shown

## Actual result:
Insufficient funds notification is shown on each clean install
![screenshot_2019-02-08-17-00-12](https://user-images.githubusercontent.com/38657976/524

[2019-02-08 12:11] GeetaSarvadnya opened #1093 "min page time and visit settings are missing from `Auto-Contribution` panel"
## Description
min page time and visit settings are missing from `Auto-Contribution` panel

## Steps to Reproduce

   1. Clean install 1.0.78
   2.  Enable rewards
   3. Click on `View Details` in Auto-Contribution panel
   4. Click on `Settings` under view details section

## Actual result:
1. min page time and visit settings are missing from `Auto-Contribution` panel
2. what should be allowed ch

[2019-02-08 12:23] ryanml commented on #1093
@GeetaSarvadnya can you post a screenshot of this?

[2019-02-08 12:25] ryanml commented on #1091
We have this translation in brave-core, so maybe just need a resync

[2019-02-08 12:35] ryanml commented on #988
Favicon added to `chrome://rewards` here: https://github.com/brave/browser-android-tabs/commit/676244778dd647c59b6a3474e48a556392274585

(Note that new tab is not being updated for this issue)

@jamesmudgett title updated: https://github.com/brave/browser-android-tabs/commit/2f15f65430070fbb9b1076f4fcf0addec168f1ff

[2019-02-08 12:35] #988 closed

[2019-02-08 12:38] GeetaSarvadnya commented on #1093
@ryanml Here is the screen shot - Auto- Contribution settings missing in 1.0.78
![screenshot_2019-02-08-18-06-24](https://user-images.githubusercontent.com/38657976/52478832-8c60fd00-2bcc-11e9-8364-4948c77d3371.png)

[2019-02-08 12:59] GeetaSarvadnya opened #1094 "content message cuts off the screen when we expand Auto-Contribution and Tips panels"
## Description
content message cuts off the screen when we expand Auto-Contribution and Tips panels

## Steps to Reproduce

   1. Clean install 1.0.78
   2. Enable Rewards
   3. Click on `View Details` for Tips and Auto-Contribution panel
   4. Verify that the content message is not displayed completely, even after scroll up/down the content is not shown completely

## Actual result:
![image](http

[2019-02-08 13:05] srirambv commented on #1094
Not reproducible on Pixel 3xl. Issue on smaller screen size only.

[2019-02-08 13:16] GeetaSarvadnya opened #1095 "Alignmnet issue in Rewards Summary"
## Description
Alignmnet issue in Rewards Summary

## Steps to Reproduce

   1. Clean install `1.0.78`
   2. Enable Rewards
   3.  Claim grants
   4. Add few sites to a-c table ( verified + non verified)
   5. Tip a verified pubs
   6. Send a recurring monthly tip to a pubs
   7. Wait for auto-contribution

## Actual result:
Auto cotribution, Monthly recurring tip, One time tip amount is not align

[2019-02-08 13:18] ryanml commented on #1094
Thanks guys, will be fixed with: https://github.com/brave/brave-ui/pull/371

[2019-02-08 13:21] srirambv commented on #1095
Not an issue on pixel 3xl. Issue with smaller screensize

[2019-02-08 13:31] GeetaSarvadnya opened #1096 "Auto-Contribution amount displayed is Rewards Summary is not same on all the pages"
## Description
 Auto-Contribution amount displayed is Rewards Summary is not same on all the pages

## Steps to Reproduce

   1. Clean install 1.0.78
   2. Enable REwards and claim the grants
   3. Add few sites to a-c table (verified + non verified)
   4. Send a tip to verified pubs ( for my test i have tipped 1 BAT)
   5. Send a monthly recurring tip to verified pubs ( for my test i have tipped

[2019-02-08 13:35] thanuj10 commented on #1095
Yes, Phone specific as it is not repo on Nokia 6.1 Plus (19:9, 2280x1080) Screen Resolution,

[2019-02-08 13:57] GeetaSarvadnya opened #1097 "Can't remove monthly recurring tip from Tips panel"
## Description

Can't remove monthly recurring tip from Tips panel
## Steps to Reproduce

   1. Clean profile 1.0.78
   2. Enable rewards and claim grants
   3. Send a recurring tip to verified pubs
   4. Verify that recuring monthly tip got added in Tips panel
   5. Remove recurring tip from Tips panel

## Actual result:
Can't remove monthly recurring tip

## Expected result:
Should be able to re

[2019-02-08 14:13] GeetaSarvadnya opened #1098 "`Monthly Payment` USD conversion name is missing in Auto-Contribution Settings->`Settings` page"
## Description

Follow up of #1017

`Monthly Payment` USD conversion name is missing in Auto-Contribution Settings->`Settings` page

## Steps to Reproduce

   1. Clean profile 1.0.78
   2. Enable Rewards
   3. Click on `View Details` in auto-contribution panel
   4. Click on `Settings`
   5. Verify USD conversion name

## Actual result:

Pixel 3xl - `Auto-Contribution Settings`->`Settings` page
![

[2019-02-08 18:50] GeetaSarvadnya opened #1099 "Rewards summary cuts off the screen, reserved BAT message is not displayed in rewards summary"
## Description
Rewards summary cuts off the screen, reserved BAT message is not displayed in rewards summary

## Steps to Reproduce

1. Clean install 1.0.78
2. Enable REwards and claim the grants
3. Add few sites to a-c table (verified + non verified)
4. Send a tip to verified pubs ( for my test i have tipped 1 BAT)
5. Send a tip to non verified pubs
6.  Send a monthly recurring tip to verified pu

[2019-02-08 19:12] SergeyZhukovsky commented on #1089
@jamesmudgett @anthonypkeane what should we use?

[2019-02-08 19:12] SergeyZhukovsky commented on #1091
yup, I'm going to work on that next week.

[2019-02-08 19:13] GeetaSarvadnya opened #1100 "Alignment issues in Tips settings page"
## Description
Alignment issues in Tips settings page

## Steps to Reproduce

   1.  Clean profile 1.0.78
   2.  Enable rewards and claim grants
   3.  Send a tip to a verified pubs
   4. Send a monthly recurring tip to a verified pubs
   5. Click on `View Details` in Tips panel
   6. Click on `Settings` in view details section

## Actual result:

![screenshot_2019-02-08-20-03-03](https://user-ima

[2019-02-08 19:14] SergeyZhukovsky commented on #1092
@NejcZdovc how does it work on desktop? We have it right away after enabling rewards first time. Do you disable it very first time?

[2019-02-08 19:33] NejcZdovc commented on #1092
we show this notification 3 days before your reconcile date is up and you don't enough funds for it

[2019-02-08 20:50] samartnik opened #1101 "Upgrade to Chromium 72.0.3626.96"

[2019-02-08 20:50] samartnik commented on #1101
https://github.com/brave/browser-android-tabs/tree/base-72.0.3626.96

[2019-02-08 20:50] #1101 closed

[2019-02-08 20:52] samartnik commented on #1077
Seems to be fixed in 1.0.79

[2019-02-08 20:52] #1077 closed

[2019-02-08 21:44] leobel96 opened #1102 "Add search for X on default search engine"
When I select a text, no option to search for it on the deafult search engine appears. It would be a very useful feature and it is present in all the browsers.

[2019-02-08 21:52] leobel96 commented on #1102
Possible duplicate of https://github.com/brave/browser-android-tabs/issues/1074#issue-405991538. The search option should be present but it is not present.

[2019-02-08 21:52] #1102 closed

[2019-02-08 22:15] samartnik commented on #1007
https://github.com/brave/browser-android-tabs/pull/1033

[2019-02-08 22:15] #1007 closed

[2019-02-08 22:16] Brave-Matt commented on #939
+1 from Twitter:
https://twitter.com/celamanca/status/1091556028209029120

[2019-02-09 06:22] NejcZdovc commented on #1092
https://github.com/brave/brave-browser/issues/1479

[2019-02-09 13:55] leobel96 opened #1103 "Italian translation error"
## Description
In new tab, it should be "pubblicità bloccate" and not "pubblicità bloccati" in italian

## Steps to Reproduce

   1. Open new tab with italian language set

## Actual result:

![photo5978925730135912346 1](https://user-images.githubusercontent.com/19806799/52521613-e23fae80-2c79-11e9-821d-63d3cf61744f.jpg)

## Expected result:

![photo5978925730135912347](https://user-images.github

[2019-02-09 19:46] ndngo commented on #30
I could not reproduce this bug either. Upon closing the last tab, the browser closes. When opening the browser again the shield icon is greyed out.

[2019-02-10 14:28] zeffii commented on #1073
yes please!

[2019-02-10 22:06] JoeBloggs2345 commented on #93
Hello please can this be implemented? It will hopefully take a slight amount of your time but benefit many people.
For example you could poach a lot of users from Firefox Focus is this is implemented.
Cheers.

[2019-02-11 04:49] jumde opened #1104 "Validate custom-headers for partner programs"
Custom headers fetched from the server should only be accepted if the header name is `X-Brave-Partner`; otherwise log/throw an error. This prevents an attacker who controls the Brave endpoint from being able to set any headers other than `X-Brave-Partner`.

https://github.com/brave/browser-android-tabs/blob/f72b4156345b6f7a0df6840441905584677068b5/chrome/android/java/src/org/chromium/chrome/browse

[2019-02-11 07:07] simonsmith commented on #1082
Which build should we see the fix applied? It's still present for me in 1.0.77

[2019-02-11 08:26] srirambv commented on #1074
@SergeyZhukovsky @samartnik moving this into 1.0.79 as the fix is already part of it.

cc: @kjozwiak

[2019-02-11 08:29] srirambv opened #1105 "Manual test run on Android ARM for 1.0.80"
## Per release specialty tests
 - [x] Context menu is missing crucial items on new install. ([#1074](https://github.com/brave/browser-android-tabs/issues/1074))
 - [x] Unable to authenticate into Amazon or view certain pages on mobile. ([#1077](https://github.com/brave/browser-android-tabs/issues/1077))
 - [x] Upgrade to Chromium 72.0.3626.96. ([#1101](https://github.com/brave/browser-android-tabs

[2019-02-11 08:29] srirambv opened #1106 "Manual test run on Android x86 for 1.0.80"
## Per release specialty tests
 - [x] Context menu is missing crucial items on new install. ([#1074](https://github.com/brave/browser-android-tabs/issues/1074))
 - [x] Unable to authenticate into Amazon or view certain pages on mobile. ([#1077](https://github.com/brave/browser-android-tabs/issues/1077))
 - [x] Upgrade to Chromium 72.0.3626.96. ([#1101](https://github.com/brave/browser-android-tabs

[2019-02-11 08:29] srirambv opened #1107 "Manual test run on Android Tab for 1.0.80"
## Per release specialty tests
 - [x] Context menu is missing crucial items on new install. ([#1074](https://github.com/brave/browser-android-tabs/issues/1074))
 - [x] Unable to authenticate into Amazon or view certain pages on mobile. ([#1077](https://github.com/brave/browser-android-tabs/issues/1077))
 - [x] Upgrade to Chromium 72.0.3626.96. ([#1101](https://github.com/brave/browser-android-tabs

[2019-02-11 09:51] srirambv commented on #1074
Verification passed on Android Phone (ARM)
![screenshot_20190211-152034](https://user-images.githubusercontent.com/17010094/52555801-be62a100-2e10-11e9-9cff-d6fac8e6d2a0.png)

[2019-02-11 09:53] srirambv commented on #1101
Verification passed on Android ARM Phone
![screenshot_20190211-152231](https://user-images.githubusercontent.com/17010094/52555885-f4078a00-2e10-11e9-9b65-ccb995263285.png)

[2019-02-11 10:30] srirambv opened #1108 "Android generic icon shows up on private tab on force touch"
## Description
Android generic icon shows up on private tab on force touch

## Steps to Reproduce

   1. Clean install 1.0.79
   2. Long press(force touch) on icon
   3. Context menu shows generic Android icon for Private tab

## Actual result:
![screenshot_20190211-154203](https://user-images.githubusercontent.com/17010094/52557347-24512780-2e15-11e9-9f55-43d9ce3abc31.png)

## Expected result:
![

[2019-02-11 10:38] srirambv commented on #1108
Tab shows no private icon
![image](https://user-images.githubusercontent.com/17010094/52557972-0c7aa300-2e17-11e9-81e2-7a3bbdfc8aa9.png)

[2019-02-11 11:00] srirambv commented on #1108
Added intermittent label. I am unable to reproduce this consistently every single time

[2019-02-11 11:07] srirambv opened #1109 "CR upgrade shows Google Assistant options in settings"
## Description
CR upgrade shows Google Assistant options in settings

## Steps to Reproduce

   1. Install/upgrade to 1.0.79
   2. Open settings page
   3. Shows `Google Assistant in Brave` option which needs to be removed

## Actual result:
![screenshot_20190211-163246](https://user-images.githubusercontent.com/17010094/52559382-261de980-2e1b-11e9-8c2b-2102246656a8.png)

## Expected result:
No un

[2019-02-11 11:46] srirambv commented on #1077
Verification passed Android ARM. Followed the steps from original issue description.

[2019-02-11 13:07] sangeet commented on #900
I am still facing this issue on Brave 1.0.77 Chromium 71.0.3578.99.

I am also unable to open links in New tab in the same version for which I've logged a community ticket at https://community.brave.com/t/unable-to-open-any-link-in-a-new-tab-in-brave-for-android/44711

[2019-02-11 15:07] ryanml commented on #1100
This one will be fixed along with: https://github.com/brave/browser-android-tabs/issues/1093

[2019-02-11 18:17] ryanml commented on #1090
Fixed via: https://github.com/brave/browser-android-tabs/commit/08353cd068335b537ae3345cadcd27cc16b4cb01

[2019-02-11 18:17] #1090 closed

[2019-02-11 18:17] ryanml commented on #1093
Fixed via: https://github.com/brave/browser-android-tabs/commit/08353cd068335b537ae3345cadcd27cc16b4cb01

[2019-02-11 18:17] #1093 closed

[2019-02-11 18:17] ryanml commented on #1094
Fixed via: https://github.com/brave/browser-android-tabs/commit/08353cd068335b537ae3345cadcd27cc16b4cb01

[2019-02-11 18:17] #1094 closed

[2019-02-11 18:17] ryanml commented on #1098
Fixed via: https://github.com/brave/browser-android-tabs/commit/08353cd068335b537ae3345cadcd27cc16b4cb01

[2019-02-11 18:17] #1098 closed

[2019-02-11 18:17] ryanml commented on #1100
Fixed via: https://github.com/brave/browser-android-tabs/commit/08353cd068335b537ae3345cadcd27cc16b4cb01

[2019-02-11 18:17] #1100 closed

[2019-02-11 19:56] LaurenWags commented on #1106
Per discussion with @srirambv the following areas were checked on x86:
- `Per release specialty tests`
- `Fingerprinting tests`
- `Custom tabs`
- Media settings (verified Background video playback and Video playback in Brave settings functioned as expected)
- sync testing (did macOS <-> Android sync)

[2019-02-11 20:53] #1104 closed

[2019-02-11 20:54] #1109 closed

[2019-02-11 21:42] samartnik commented on #1108
https://github.com/brave/browser-android-tabs/commit/db3a5f7ecc5e0ad2535af9d58604e2158cd7c7a0

[2019-02-12 01:00] btlechowski commented on #1105
Tested on Samsung s7 (ARM), Brave 1.0.80.

[2019-02-12 01:00] #1105 closed

[2019-02-12 01:23] kjozwiak commented on #1108
@samartnik I'm still seeing the original issue with `1.0.80 CR: 72.0.3626.96`. Example:

![screenshot_20190211-201732](https://user-images.githubusercontent.com/2602313/52604835-83756300-2e3a-11e9-9033-454f8e8c4007.png)

Should this have been fixed in `1.0.80 CR: 72.0.3626.96`? Looks like it was included in https://github.com/brave/browser-android-tabs/commits/base-72.0.3626.96. Was `1.0.80 CR: 72

[2019-02-12 01:27] kjozwiak commented on #1109
Verification **PASSED** on `Pixel XL` using `1.0.80 CR: 72.0.3626.96`. I don't see the `Google Assistant in Brave` menu under settings anymore. Example:

![screenshot_20190211-202451](https://user-images.githubusercontent.com/2602313/52605112-75741200-2e3b-11e9-8ecb-91d06dc22237.png)

[2019-02-12 01:30] kjozwiak commented on #1107
@sri this run is for an android tablet? Was going to jump on this and help but I only have android phones :(

[2019-02-12 02:08] btlechowski opened #1112 "Unable to resume twitch stream through background play"
## Steps to Reproduce

   1. Play a twitch stream
   2. Open background play
   3. Pause the twitch stream through background play
4. Play the twitch stream through background play

## Actual result:
The twitch stream is not played
![screenshot_20190212-030130_brave](https://user-images.githubusercontent.com/34715963/52606497-18944e00-2e73-11e9-9fb7-139448e5ac54.jpg)

## Expected result:
The twitc

[2019-02-12 02:09] srirambv commented on #1107
No worries. I'll run through the issue on my device with the new build

[2019-02-12 02:16] btlechowski commented on #1108
There is no icon at all on my Samsung s7, Brave 1.0.80
![screenshot_20190212-031530_samsung experience home](https://user-images.githubusercontent.com/34715963/52606919-9ad14200-2e74-11e9-9efa-0c4dab511270.jpg)

[2019-02-12 02:45] srirambv opened #1113 "Learn more on private tabs opens community page on normal tab"
## Description
Learn more on private tabs opens community page on normal tab

## Steps to Reproduce

   1. Open a private tab
   2. Click on `Learn more`
   3. Opens community home page on normal tab

## Actual result:
Learn more on private tabs opens community page on normal tab

## Expected result:
Clicking learn more should expand into text area with details similar to how iOS works. This would

[2019-02-12 04:38] kjozwiak commented on #1080
I've actually ran into this several times before as well. When I initially joined the Sync Chain, the devices appeared after an X amount of time without any issues. However, when re-launching the browser and going directly to `Sync Beta` via `Settings`, it would just display "Loading Devices". Sometimes it would recover after X amount of time and at times, would display "Loading Devices" in perpet

[2019-02-12 04:41] kjozwiak commented on #1077
@samartnik just curious, what was the original issue? Was this Brave related or something that we got upstream from the CR bump and was fixed after another minor CR72 bump?

[2019-02-12 04:47] srirambv commented on #1108
@samartnik @SergeyZhukovsky issue definitely not fixed.
https://youtu.be/mBqhsKjsMnU

[2019-02-12 05:29] Dho100 commented on #81
+1 this is a high priority for me. More so than the mentioned sync features currently being slated for development next. Thank you!

[2019-02-12 06:10] kjozwiak commented on #1071
@GeetaSarvadnya can you reproduce this every single time or is this intermittent? I tried reproducing the above five times but couldn't reproduce the issue. I went through the following:

* started a sync chain on Win 10 x64 (using `0.60.26 Chromium: 72.0.3626.96`)
* added a Mint 19.1 x64 VM desktop to the sync chain (using `0.60.26 Chromium: 72.0.3626.96`)
* added a Pixel XL (using `1.0.80 CR: 72

[2019-02-12 06:24] srirambv opened #1114 "Ghost bookmark remains on device after sync"
## Description
Ghost bookmark remains on device after sync

## Steps to Reproduce
1. Create Sync chain on Android device 1
2. Add bookmarks and folders on device 1
3. Add second Android device 2 to the sync chain
4. Wait till its sync'd bookmarks
5. Move a couple of bookmarks on device 1 to a new folder
6. Visit espn.com on device 2 and immediately bookmark it and delete before it redirects to geo

[2019-02-12 08:04] #948 closed

[2019-02-12 08:04] #949 closed

[2019-02-12 08:04] srirambv commented on #1107
Custom tabs doesn't work, known issue on Tab (#1064).
Sync works fine found #1114 while going over tests

[2019-02-12 08:04] #1107 closed

[2019-02-12 08:05] #1106 closed

[2019-02-12 08:06] srirambv commented on #1104
@samartnik @jumde  does this require any QA testing? If so please update the test plan in the PR so that it can be verified on the next build

[2019-02-12 11:00] srirambv commented on #1065
I was able to reproduce this issue with the following steps
1. Create sync chain on device 1 (Pixel 3XL)
2. Join device 2(Samsung tab) using QR code
3. Leave sync chain on device 2 by remove this device
4. Leave sync chain on device 1 by remove this device
5. Create a new sync chain on device 2, scan device 1 to join sync chain
6. Device 2 lists the name of the device twice as this device, device

[2019-02-12 13:30] samartnik commented on #1077
@kjozwiak I'm not sure. It just hasn't reproduced with new build. We didn't research it deeply.

[2019-02-12 15:46] LaurenWags commented on #1106
Additionally, the following 'upgrade sync' scenario was completed:
1. Installed 1.0.77 on android and 0.59.35 on mac.
2. Had bookmarks set up on each device.
3. Created sync chain on mac and joined on Android. Verified initial sync completed as expected.
4. Updated 1.0.77 to 1.0.80. Verified sync chain was maintained.
5. Added bookmark/folder on each device, verified it was synced to the other dev

[2019-02-12 19:50] eljuno commented on #900
+1 from Community https://community.brave.com/t/brave-shields-icon-not-working-with-duet-enabled/44845?u=eljuno

[2019-02-12 19:51] SergeyZhukovsky opened #1115 "Clean up Default search engines settings"
Description is inside desktop browser repo https://github.com/brave/brave-browser/issues/3316

[2019-02-12 19:51] eljuno commented on #813
Duplicate of #900

[2019-02-12 19:59] eljuno commented on #461
+1 from Community for "Block all cookies" https://community.brave.com/t/add-block-all-cookies-shield-to-mobile-brave-app-same-as-on-desktop/44736?u=eljuno

[2019-02-12 21:11] IvanStanul commented on #939
Same problem for me.
Cookies are enabled under Settings -> Site settings -> Cookies but issue persists for over a month.
Android P .

[2019-02-13 00:44] jumde commented on #1104
@srirambv - Testing would be great for this issue. But, I'm not sure if there is a good way to do it short of setting up a proxy rule to serve `X-Brave-Header` for the current partners. @SergeyZhukovsky - Do you have any ideas?

[2019-02-13 00:53] samartnik opened #1117 "Upgrade to Chromium 72.0.3626.105"

[2019-02-13 00:54] samartnik commented on #1117
https://github.com/brave/browser-android-tabs/tree/base-72.0.3626.105

[2019-02-13 00:54] #1117 closed

[2019-02-13 03:52] #813 closed

[2019-02-13 03:53] srirambv commented on #900
+1 from @MisterGlasses via #813

[2019-02-13 05:24] srirambv commented on #1117
Verification passed on Pixel 3XL
![screenshot_20190213-104158](https://user-images.githubusercontent.com/17010094/52688726-980e4400-2f7d-11e9-826e-6fa931e37515.png)

Verification passed on Samsung Tab
![screenshot_20190213-002153_brave](https://user-images.githubusercontent.com/17010094/52688737-a4929c80-2f7d-11e9-9346-fb41c657753c.jpg)

[2019-02-13 10:50] Revanth-Kausikan commented on #952
Got the same exact error. I'm not able to turn off the shields when I want to.

Brave Version: 1.0.77

Reason:
Flags enabled:
1. Chrome Duet

Please do fix this ASAP

[2019-02-13 12:39] srirambv opened #1118 "Removing other device and adding back to sync chain doesn't continue sync anymore"
## Description
Removing other device and adding back to sync chain doesn't continue sync anymore

## Steps to Reproduce
1. Create sync chain on device 1 (Pixel 3xl)
2. Add bookmarks on device 1
3. Join sync chain on device 2 (Samsung Tab)
4. Add bookmarks on device 2, ensure both devices sync the bookmarks
5. On device 2 delete device 1 from devices list
6. Join device 1 again to the same sync cha

[2019-02-13 15:56] LaurenWags opened #1119 "usually Brave crashes when selecting 'Open in Brave' from custom tab"
## Description
I'm seeing a fairly consistent crash when selecting 'Open in Brave' from a custom tab.

## Steps to Reproduce

   1. Clean install of 1.0.80RC2 or upgrade to 1.0.80RC2 from 1.0.77.
   2. Close Brave.
   3. Open Slack app.
   4. Go to a channel with a lot of links.
   5. Tap on a link. Link opens in Custom tab.
   6. Tap on 3 dots.
   7. Select Open in Brave.

## Actual result:
Usual

[2019-02-13 16:38] srirambv commented on #1119
On ARM it usually doesn't crash when opening via custom links. But once it crashes its pretty intermittent crashing going forward.

[2019-02-13 16:50] marioszou commented on #939
I have the same problem!! Tried to with signed out google account. Also tried with signed in google account!! Tried to clear cookies. Tried to remove all languages from search, except English. The problem still persists.

[2019-02-13 16:57] ryanml commented on #1097
Fixed via: https://github.com/brave/browser-android-tabs/commit/bfe43aee792b12ec1d46cac6f6272ccf01cc6e9b

[2019-02-13 16:57] #1097 closed

[2019-02-13 17:10] ryanml commented on #1049
Fixed via: https://github.com/brave/browser-android-tabs/commit/9983768dea04fe5b70f8653e58821e395147b359

cc: @SergeyZhukovsky

[2019-02-13 17:10] #1049 closed

[2019-02-13 19:56] samartnik commented on #1119
Issue related to sync instance being stopped in CustomTabActivity and tried to be used in ChromeTabActivity after that
https://github.com/brave/browser-android-tabs/commit/2e1e386d43903db76967797bf90fc3a4bf5b2d92

[2019-02-13 19:57] #1042 closed

[2019-02-13 19:57] #1065 closed

[2019-02-13 22:23] gdregalo commented on #1048
Fixed in:
https://github.com/brave/browser-android-tabs/commit/23175f66aed1bd9fed68b5e8746d10555247b0b0

[2019-02-13 22:23] #1048 closed

[2019-02-13 23:09] hbsmith commented on #972
This bug is so annoying if you're in another country, and at first I thought it was a bug with google and tried messing around with all my google settings. @Brave-Matt is anyone working on this? No one is assigned to it in either this thread or #939

[2019-02-13 23:42] jonathansampson commented on #490
This issue recently surfaced again. If you close all tabs in 1.0.77, the app itself will close.

[2019-02-13 23:52] Brave-Matt commented on #490
Going further, all tabs can be close by any method as well. Meaning that it's not restricted to the `Close all tabs` option. If you only have one tab open in tab view and you swipe or 'x' out of it, this also forces Brave to close. Just in case there was any confusion.

I've got about 1000 +1's on Zendesk from Android users requesting this behavior either be reverted or to add option for either (I

[2019-02-14 00:23] kjozwiak commented on #490
Reproduced this several times which is a bit annoying. @SergeyZhukovsky @srirambv should we get this into `1.0.80` as we're getting a decent amount of complaints from the community?

[2019-02-14 00:36] Brave-Matt commented on #490
Just a handful for emphasis:
![image](https://user-images.githubusercontent.com/3299098/52753810-04546c00-2fad-11e9-904a-e04b7f31e89e.png)
![image](https://user-images.githubusercontent.com/3299098/52753839-2817b200-2fad-11e9-8988-861f5e890b44.png)
(☝️ translated)
![image](https://user-images.githubusercontent.com/3299098/52753862-3cf44580-2fad-11e9-9788-de9d1bd4a26c.png)

[2019-02-14 01:42] SergeyZhukovsky commented on #490
Turning off Home Page option in Settings prevents from closing the browser when close all tabs.

[2019-02-14 02:11] kjozwiak commented on #490
I guess there's at least a work around, but we should fix this sooner than later as we're getting tons of complaints which is also affecting our reviews on GPS as @Brave-Matt demonstrated above.

[2019-02-14 03:12] kjozwiak commented on #490
Quickly talked to @SergeyZhukovsky. Seems like Chrome doesn't have the `Home Page` setting under their `Basic` settings. As @SergeyZhukovsky mentioned above, disabling the `Home Page` options fixes the above. We'll need to investigate to figure out why we're showing the setting and Chrome isn't which will require some work. Will get fixed on the next release 👍

[2019-02-14 03:17] thanuj10 commented on #490
Or just make chrome://newtab as the default homepage and see. Brave will not close when all tabs are closed.
iirc, Brave already had chrome://newtab as the dafault homepage, but changed to google.com in the recent builds.

[2019-02-14 03:57] Brave-Matt commented on #490
@kjozwiak @SergeyZhukovsky, note that many users are still affected by #766 so even this workaround wouldn't help because they're unable to access the Homepage button/setting.

[2019-02-14 04:27] srirambv commented on #490
@kjozwiak @SergeyZhukovsky I suggest we disable Home button by default. I don't think the feature is being used widely (may be @Brave-Matt could confirm via support tickets if its being reported) and it just uses unnecessary space on the URL bar.

This is a problem on Samsung devices. It sets Google as home page by default with their own query parameters on any browser that runs on the device.

[2019-02-14 04:27] srirambv commented on #490
Moving the issue to 1.0.81.

[2019-02-14 04:30] kjozwiak commented on #490
Yup, definitely not seeing it on any of my Pixel devices.

[2019-02-14 04:30] Brave-Matt commented on #490
@srirambv, can confirm user want home button option _available_, not necessarily by default. But option to enable it for sure.

[2019-02-14 04:35] srirambv commented on #490
For now could you please respond to the queries to disable Home button. We can have this fixed with showing home button and push it in 1.0.81

[2019-02-14 05:17] srirambv opened #1120 "\Enter a Sync Chain Code\ instead of "Enter a Sync Chain Code" on code words screen"
## Description
\Enter a Sync Chain Code\ instead of "Enter a Sync Chain Code" on code words screen

## Actual result:
![screenshot_20190214-101417](https://user-images.githubusercontent.com/17010094/52764262-4d57ff00-3045-11e9-98fc-e23a8ef65702.png)

## Expected result:
Playstore build (1.0.77)
![screenshot_20190214-103700](https://user-images.githubusercontent.com/17010094/52764260-4a5d0e80-3045-

[2019-02-14 05:31] srirambv commented on #1119
Still not fixed. Can consistently reproduce with the following steps
1. Install 1.0.77
2. Enable Sync on the device
3. Upgrade to 1.0.80
4. Check sync is enabled or not
5. Open link from slack, opens in custom tab
6. Open in brave, browser crashes after a couple of seconds

[2019-02-14 06:39] srirambv commented on #1119
Able to reproduce the issue on clean install of 1.0.80 (RC3) as well.
1. Clean install 1.0.80 (RC3)
2. Start sync chain, add device name, tap on mobile/computer
3. Navigate back before the code words/qr code shows up
4. Loading devices is shown, go out of sync screen
5. Open Slack and open a link in custom tab
6. Open in Brave from hamburger menu, wait for 2 seconds, browser crashes
7. Relaunch Br

[2019-02-14 11:29] AlexeyBarabash commented on #490
I have Samsung phone (Android 8.0.0), but don't see the issue.

[2019-02-14 18:56] zorbakus opened #1121 "[Important] Even with Tor, Brave has a unique fingerprint"
Version 0.59.35 Chromium: 72.0.3626.81 (Official Build) (64-bit)
Windows 10 Pro 64-bit
Settings: HTTPS Everywhere, block ads, no script blocking, block 3-rd party cookies, resist all fingerprinting, shields up

I tested on panopticlick.eff.org with Tor window and... I have a unique fingerprint, with 17 bits of indentifying information. Like, what the hell? Why should I use windows with Tor at all

[2019-02-14 20:13] samartnik commented on #1119
https://github.com/brave/browser-android-tabs/commit/8cdf75a9cd158ef09eceeb5218d29d7abf2ed815

[2019-02-14 20:13] #1119 closed

[2019-02-14 20:20] #1096 closed

[2019-02-14 20:34] gdregalo commented on #997
Fixed in:
https://github.com/brave/browser-android-tabs/commit/23175f66aed1bd9fed68b5e8746d10555247b0b0

[2019-02-14 20:34] #997 closed

[2019-02-15 00:50] tomlowenthal commented on #1121
Looks like you're talking about Brave's desktop browser — this is the repo for the Android version.

Two comments though. Tor hides your browsing from your ISP, and your IP address from the site. It doesn't guarantee any other anonymity properties. Panopticlick also doesn't quite rate Brave as expected due to some limitations what's possible when building a site like that.

[2019-02-15 00:50] #1121 closed

[2019-02-15 14:49] LaurenWags commented on #1119
Tested the following on x86:
Scenario 1
enable sync on 1.0.77
upgrade to 1.0.80 rc4
open link in custom tab from slack
open in browser, no crash (tried several links)
quick check of sync - verified able to send/receive bookmarks
- ran this scenario 2x
Scenario 2
install 1.0.80
open link in custom tab from slack
open in browser, no crash (tried several links)
enable sync
quick check of sync - verif

[2019-02-15 14:53] srirambv commented on #1119
Forgot to add verification notes. Basically checked the same [test scenarios ](https://github.com/brave/browser-android-tabs/issues/1119#issuecomment-464076336)on ARM as well

[2019-02-15 15:12] AlexDochioiu commented on #601
Any updates on this?
P.S. This seems to me like an incredibly important feature from the privacy perspective. As websites like facebook and google collect data through other websites (using things like facebook pixel), I would like to have brave block all connections to facebook/google servers (on all devices, not only mobile).

[2019-02-15 16:18] #1089 closed

[2019-02-15 19:10] jonathansampson opened #1122 "Ticket Master Detects Blocking"
## Description
Ticket Master detects script-blocking.

## Steps to Reproduce
TBD

## Actual result:
![image](https://user-images.githubusercontent.com/815158/52878507-6bdff800-3122-11e9-97b4-b6576bd1dc25.png)

## Expected result:
Users should not be interrupted by script-blocking messages.

## Issue reproduces how often:
TBD

## Issue happens on:
   - Current Playstore version? Yes
   - Beta build

[2019-02-15 19:42] vinniejames commented on #1122
# Steps to Reproduce

Visit Ticketmaster, search for event, select event from search result list

Unblock request page appears

# Issue reproduces how often:
Consistent

# Device Details:
1. Install Type(ARM, x86): snapdragon 835
1. Device(Phone, Tablet, Phablet): Phone One Plus 5t
1. Android Version: 9

# Brave version
1.0.77 Android

Chrome 71.0.3578.99

## Website problems only:

1. Does the is

[2019-02-15 19:46] GeetaSarvadnya commented on #1029
@SergeyZhukovsky @gdregalo : I am able to reproduce the issue in one instace, where i have DDG site opened and i have sent tips (1 BAT, 5 BAT) to it. After sending tips, if i click on BR Panel (BAT logo) for DDG, I am seeing summary page, it doesn't shows up `Send a Tip` option untill i reload the DDG page.

Recorded file is uploaded here.
https://drive.google.com/open?id=1ptcGjEGokRB0qCfp72Rwb9Ge

[2019-02-15 20:05] GeetaSarvadnya commented on #1071
@kjozwiak Looks like issue is fixed. I am not able to reproduce the issue now.

[2019-02-16 01:12] vinniejames commented on #1122
The URL getting blocked appears to be https://www1.ticketmaster.com/

[2019-02-16 18:15] jtj9817 commented on #1120
Mind if I take a look of this Issue?

[2019-02-18 05:21] srirambv commented on #939
+1 from https://community.brave.com/t/annoying-change-language-banner/45260. @SergeyZhukovsky bumping the issue to 1.0.81 as there is a lot of +1's and community reports for this

[2019-02-19 07:37] NejcZdovc opened #1123 "Shouldn't be toggable"
When you are on system page (when we don't display publisher info) we shouldn't display summary toggle.

![screenshot_20190219-082931](https://user-images.githubusercontent.com/9574457/52997999-66d0c080-3422-11e9-81a7-6b7ade6b0ced.png)

[2019-02-19 07:42] NejcZdovc opened #1124 "We should display disabled state when rewards are off"
Android when rewards are disabled
![screenshot_20190219-082915](https://user-images.githubusercontent.com/9574457/52997926-2a04c980-3422-11e9-9c7e-3dbe0ead9abf.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52997955-44d73e00-3422-11e9-9c21-b596338b8af6.png)

[2019-02-19 07:45] NejcZdovc opened #1125 "Spacing should be bigger"
![screenshot_20190219-082940](https://user-images.githubusercontent.com/9574457/52998048-88ca4300-3422-11e9-8549-de1dde0cbe79.png)

Spacing between Grants button and date should be bigger.

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52998084-a0a1c700-3422-11e9-9401-197ac98c7b32.png)

[2019-02-19 07:47] NejcZdovc opened #1126 "Publisher spacing in the panel"
- there should be more space between image and text on the right
- more space between verified icon and `Brave verified publisher`
- verified icon has wrong color

![screenshot_20190219-083051](https://user-images.githubusercontent.com/9574457/52998151-d2b32900-3422-11e9-9753-9e548658cbc8.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52998185-ed859d80-3422-11e9-84f8-a50

[2019-02-19 07:49] NejcZdovc opened #1127 "Publisher banner"
1. no close button
2. logo is not position correctly
3. shadow is missing
4. image is missing

![screenshot_20190219-083143](https://user-images.githubusercontent.com/9574457/52998280-32a9cf80-3423-11e9-9534-dacb9964a5ab.png)

Expected:
![image](https://user-images.githubusercontent.com/9574457/52998297-3dfcfb00-3423-11e9-8fd7-ea7e77496b2f.png)

[2019-02-19 07:50] NejcZdovc opened #1128 "Toggle for monthly is lagging"
When I try to toggle `Make this monthly` nothing happens. I need to switch amount and then sometimes it works.

![screenshot_20190219-083143](https://user-images.githubusercontent.com/9574457/52998358-6553c800-3423-11e9-89d4-4900983c9534.png)

[2019-02-19 07:51] NejcZdovc opened #1129 "Toggle should change button"
When you toggle `Make this monthly` button at the bottom should change.

![screenshot_20190219-083143](https://user-images.githubusercontent.com/9574457/52998400-85838700-3423-11e9-8f1f-d96f799f9e78.png)

Desktop:

![image](https://user-images.githubusercontent.com/9574457/52998427-9207df80-3423-11e9-86d4-abb61ba081b7.png)

![image](https://user-images.githubusercontent.com/9574457/52998432-9502d0

[2019-02-19 07:53] NejcZdovc opened #1130 "Tip sent transition"
We display tip sent transition which should be speed up.
![screenshot_20190219-083334](https://user-images.githubusercontent.com/9574457/52998506-bf548d80-3423-11e9-805e-7e949bde8bd4.png)

[2019-02-19 07:56] NejcZdovc opened #1131 "Thank you page (publisher banner)"
When you tip a publisher we should display thank you message after tip sent transition. Currently we just close it.

Desktop
for one time tip
![image](https://user-images.githubusercontent.com/9574457/52998685-325e0400-3424-11e9-8eae-269509ff17c5.png)

for recurring
![image](https://user-images.githubusercontent.com/9574457/52998697-3be76c00-3424-11e9-9a51-ac75c33e32c6.png)

[2019-02-19 07:59] NejcZdovc opened #1132 "Restore publisher in ac table is missing"
When you toggle off publisher in the panel we should show restore option in the settings.

![screenshot_20190219-083408](https://user-images.githubusercontent.com/9574457/52998810-79e49000-3424-11e9-8d04-ec901519171d.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52998867-997bb880-3424-11e9-8d6f-94a5277bf9fe.png)

[2019-02-19 08:04] NejcZdovc opened #1133 "Amount selection spacing"
Box selection should have the same spacing at the top as it has at the bottom. Now you don't have any at the bottom.

![screenshot_20190219-090055](https://user-images.githubusercontent.com/9574457/52999156-566e1500-3425-11e9-8e0b-1ee4aa07b173.png)

[2019-02-19 08:05] NejcZdovc opened #1134 "Hide settings in tips"
We need to hide settings option in tips box

![screenshot_20190219-090135](https://user-images.githubusercontent.com/9574457/52999215-7dc4e200-3425-11e9-9a6b-754dc62af485.png)

[2019-02-19 08:07] NejcZdovc opened #1135 "Translation is missing"
![screenshot_20190219-090620](https://user-images.githubusercontent.com/9574457/52999307-b664bb80-3425-11e9-88bb-43944f4d860c.png)

[2019-02-19 08:08] NejcZdovc opened #1136 "Spacing at the bottom of the dialog"
Spacing at the bottom of the dialog should be the same at the top. Black space around the dialog should be the same as well.

![screenshot_20190219-090728](https://user-images.githubusercontent.com/9574457/52999418-f75cd000-3425-11e9-8c72-ae5c969ce7e7.png)

[2019-02-19 08:10] NejcZdovc opened #1137 "Background for the line in ac box"
I think we should remove background for supported site. It looks like disabled now. I know this was by design.

![screenshot_20190219-090923](https://user-images.githubusercontent.com/9574457/52999482-3be86b80-3426-11e9-99bc-945eb2333ea0.png)

cc @jenn-rhim

[2019-02-19 08:13] NejcZdovc opened #1138 "Hide ac options when ac is off"
When ac is off we should hide attention and include in ac in the panel

![screenshot_20190219-091202](https://user-images.githubusercontent.com/9574457/52999590-79e58f80-3426-11e9-9ec0-83af70d4b208.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52999639-9681c780-3426-11e9-957d-20556248c771.png)

[2019-02-19 08:15] NejcZdovc opened #1139 "Wallet heigh is too big"
Height of that purple area should be reduced.

![screenshot_20190219-091202](https://user-images.githubusercontent.com/9574457/52999726-d0eb6480-3426-11e9-9677-43cc59c44ae5.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/52999733-d779dc00-3426-11e9-9a46-3c5b07c00b30.png)

[2019-02-19 08:17] NejcZdovc opened #1140 "Titles are not aligned"
Titles should be aligned.

![screenshot_20190219-091544](https://user-images.githubusercontent.com/9574457/52999821-1314a600-3427-11e9-90da-8df680d8f8ea.png)

Expected:
![image](https://user-images.githubusercontent.com/9574457/52999835-1c9e0e00-3427-11e9-8e01-7d506d8928b6.png)

[2019-02-19 08:21] NejcZdovc opened #1141 "Monthly payment not reflected"
Go to ac settings and try to select monthly payment. You can select it but amount is always 10 BAT. If you close ac settings you can see that monthly was saved. So I think problem is with UI not displaying correct amount.

![screenshot_20190219-092050](https://user-images.githubusercontent.com/9574457/53000049-b4036100-3427-11e9-9000-2926efec5599.png)

[2019-02-19 08:25] NejcZdovc opened #1142 "Tips box next date is off"
Should be aligned with total tips.
![screenshot_20190219-092454](https://user-images.githubusercontent.com/9574457/53000294-53285880-3428-11e9-970a-7811fdb37334.png)

[2019-02-19 08:28] NejcZdovc opened #1143 "Remove change ac settings from the panel"
Change ac settings should be removed. Also text needs to be updated to match desktop version.

![screenshot_20190219-092706](https://user-images.githubusercontent.com/9574457/53000435-abf7f100-3428-11e9-84fc-24d71542f2eb.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/53000446-b4502c00-3428-11e9-9be3-630b12b6e02f.png)

[2019-02-19 08:31] NejcZdovc opened #1144 "Pending contributions are not shown on settings wallet"
We need to display pending contributions like we display it in the panel.

In the panel (which is ok):
![screenshot_20190219-093035](https://user-images.githubusercontent.com/9574457/53000623-1b6de080-3429-11e9-8e7a-c1c6bcc27172.png)

In the settings page (is missing):
![screenshot_20190219-093028](https://user-images.githubusercontent.com/9574457/53000665-2fb1dd80-3429-11e9-8bca-e9c309734eda.png)

[2019-02-19 08:33] NejcZdovc opened #1145 "Alert close is not working"
If I try to close this alert nothing happens
![screenshot_20190219-093246](https://user-images.githubusercontent.com/9574457/53000784-6daf0180-3429-11e9-8f7c-2b69fd78f840.png)

[2019-02-19 08:38] NejcZdovc opened #1146 "Page favicon is missing"
We should display bat logo for rewards page

![screenshot_20190219-093806](https://user-images.githubusercontent.com/9574457/53001078-1fe6c900-342a-11e9-9d71-3e584040816c.png)

Desktop
![image](https://user-images.githubusercontent.com/9574457/53001085-26754080-342a-11e9-8494-4f5d4548af30.png)

[2019-02-19 08:40] NejcZdovc opened #1147 "Button has strange border around it"
Yes I am ready on rewards page has strange border around it
![screenshot_20190219-093701](https://user-images.githubusercontent.com/9574457/53001146-43117880-342a-11e9-98bf-72ab70e765c7.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/53001167-5290c180-342a-11e9-97fb-5b4523401f3f.png)

[2019-02-19 08:43] NejcZdovc commented on #1135
dupe of https://github.com/brave/browser-android-tabs/issues/1091

[2019-02-19 08:43] #1135 closed

[2019-02-19 08:44] NejcZdovc commented on #1092
this is expected, because afaik you hardcode 10min reconcile interval for testing purposes. And because that is 3 days or less we show this notification. Same things happens on desktop.

[2019-02-19 08:47] NejcZdovc opened #1148 "Claim process (Settings Page)"
When I click on claim button in settings page nothing happens for a 5-15s then I get success message. I think we need to show overlay saying we are checking if you are human, please wait. Currently it seams that click was not recorded and users will probably click on it multiple times

cc @jenn-rhim

[2019-02-19 08:52] NejcZdovc opened #1149 "Thank you screen missing in panel grant"
If I try to claim grant from the panel there is no thank you step it just shows updated balance. We should display the same thank you page as we show it if you claim it from the settings page.

Desktop:
![image](https://user-images.githubusercontent.com/9574457/53002048-15c5ca00-342c-11e9-86ea-2de0676204a1.png)

[2019-02-19 09:00] NejcZdovc opened #1150 "Text shouldn't be capitalised"
![screenshot_20190219-095948](https://user-images.githubusercontent.com/9574457/53002531-2b87bf00-342d-11e9-9365-67df5f71e02e.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/53002548-33476380-342d-11e9-837a-db78f6da4358.png)

[2019-02-19 09:01] NejcZdovc opened #1151 "Color of USD should be lighter"
Color for USD amount should match desktop
![screenshot_20190219-095948](https://user-images.githubusercontent.com/9574457/53002603-55d97c80-342d-11e9-80ec-e79667ac5ac8.png)

Desktop
![image](https://user-images.githubusercontent.com/9574457/53002626-5ffb7b00-342d-11e9-946c-fdc5540586ac.png)

[2019-02-19 09:13] NejcZdovc opened #1152 "We should only show amount > then 0"
We currently show all items in the summary, where we should only show ones that are higher then 0.
![screenshot_20190219-101052](https://user-images.githubusercontent.com/9574457/53003260-dfd61500-342e-11e9-919a-6fc1efd703cc.png)

Desktop:
![image](https://user-images.githubusercontent.com/9574457/53003218-c3d27380-342e-11e9-8abc-4cd6cbbe6f42.png)

[2019-02-19 09:14] NejcZdovc opened #1153 "Line is missing after successful ac"
Line is missing in rewards summary

![screenshot_20190219-101052](https://user-images.githubusercontent.com/9574457/53003359-1744c180-342f-11e9-88b0-706673130920.png)

[2019-02-19 09:20] NejcZdovc opened #1154 "Elements are not aligned to the middle"
- BAT amount
- USD amount
- grant button

are not aligned to the middle of the box

![screenshot_20190219-095948](https://user-images.githubusercontent.com/9574457/53003727-eca73880-342f-11e9-8d0e-cbec7055c0aa.png)

Desktop
![image](https://user-images.githubusercontent.com/9574457/53003752-fb8deb00-342f-11e9-8f8c-6404e75badfe.png)

[2019-02-19 09:29] NejcZdovc opened #1155 "BAT logo underlined"
Currently we always show rewards logo underlined. As far as I remember that should be only underlined in some particular scenario, otherwise it should be without line at the bottom. @jenn-rhim which scenario was that?

As first step I think we just need to remove that line and add it back when we define that scenario.

![screenshot_20190219-095948](https://user-images.githubusercontent.com/9574457

[2019-02-19 09:43] NejcZdovc opened #1156 "White space at the bottom of the page"
White space marked on the image should be removed

![screenshot_20190219-104138](https://user-images.githubusercontent.com/9574457/53005248-23cb1900-3433-11e9-880e-113c5f33b1d0.png)

[2019-02-19 10:57] srirambv opened #1157 "Deleted publisher doesn't add again after revisiting"
## Description
Deleted publisher doesn't add again after revisiting

## Steps to Reproduce

   1. Enable rewards
   2. Visit a site to add to a-c list
   3. Delete the site from a-c list
   4. Revisit the site in a new tab, never gets added to the list

## Actual result:
Deleted publisher doesn't add again after revisiting

## Expected result:
Should re-add the site once its visited again

## Issu

[2019-02-19 11:05] srirambv commented on #1145
The tap radius is at the very top of the `X` button. It doesn't always close if the tap radius is a little off

[2019-02-19 17:16] jonathansampson opened #1158 "Name-less Bookmarks Don't Sync"
## Description
[A user on Twitter](https://twitter.com/mrbilltran/status/1097717382909284352) has found that bookmark items lacking a name will not sync to Android from Desktop. Temporarily adding a name to these items resulted in them syncing as expected.

## Steps to Reproduce
1. Bookmark an item on desktop, and edit to remove the text name.
2. Sync devices.

## Actual result:
Items without name

[2019-02-19 17:22] srirambv commented on #1158
Dupe of #1083

[2019-02-19 17:22] #1158 closed

[2019-02-19 18:21] GeetaSarvadnya opened #1159 "After sending a recurring monthly tip to verified pubs, Make this monthly checkbox is still available in BR panel for the same pubs"
## Description
After sending a recurring monthly tip to verified pubs, Make this monthly checkbox is still available in BR panel for the same pubs

## Steps to Reproduce

   1. Open brave 1.0.81
   2. Enable rewards and claim grants
   3. Open DDG verified pub
   4. Send a monthly recurring tip to verified pub DDG
   5. Verify monthly recurring tip is displayed in Tips section
   6. Click on Send

[2019-02-19 18:36] GeetaSarvadnya opened #1160 "BR panel doesn't show pubs info always instead it shows up `JOIN REWARDS`BR panel even though rewards is enabled"
## Description
BR panel doesn't show pubs info always instead it shows up `JOIN REWARDS`BR panel even after enabling rewards

## Steps to Reproduce

STR 1:
   1. Open brave 1.0.81
   2. Enable rewards and claim grants
   3. Open DDG
   4. Click on BAT Logo/ BR panel
   5. Incorrect popup displayed

STR 2:
   1. Open brave 1.0.81
   2. Enable rewards and claim grants
   3. Open DDG and add it to a-

[2019-02-19 18:52] GeetaSarvadnya opened #1161 "Default `Monthly Payment` is different in `Auto-Contribute` and `Auto-Contribute Settings` panel"
## Description
Default `Monthly Payment` is different in `Auto-Contribute` and `Auto-Contribute Settings` panel

## Steps to Reproduce

   1. Cleam profile 1.0.81
   2. Enable rewards
   3.  Verify the Default `Monthly payment` in `Auto-Contribute` and `Auto-Contribute Settings` page

## Actual result:
By default monthly payment is displayed as 20 BAT in `Auto-Contribute` panel and 10 BAT in `Auto

[2019-02-19 19:20] NejcZdovc commented on #1161
closing as dupe of https://github.com/brave/browser-android-tabs/issues/1141

[2019-02-19 19:20] #1161 closed

[2019-02-19 19:23] GeetaSarvadnya opened #1163 "When Rewards is OFF, Tips panel should be hidden and it should not be accessible"
## Description
When Rewards is OFF, Tips panel should be hidden and it should not be accessible

## Steps to Reproduce

   1. Open brave 1.0.81
   2. Enable rewards
   3. Turn off `Auto-Contribute`
   4. Verify auto contribute details are hidden
   5. Verify Tips panel

## Actual result:
Tips panel is still accessible, user can click on `View Deatils` in Tips section

https://drive.google.com/open

[2019-02-19 19:45] SergeyZhukovsky commented on #1155
@jamesmudgett @anthonypkeane how should it look like?

[2019-02-19 19:52] SergeyZhukovsky commented on #1154
@NejcZdovc I don't see what's not aligned here.

[2019-02-19 19:56] SergeyZhukovsky commented on #1150
Any button in Chromium on Android has capitalised style. I don't think rewards panel should be an exception.

[2019-02-19 19:56] #1150 closed

[2019-02-19 19:57] SergeyZhukovsky commented on #1149
@jamesmudgett @anthonypkeane could we have a design for that and where to show it? I don't see it in our layout.

[2019-02-19 19:58] NejcZdovc commented on #1154
You can see on the image that all items has more spacing on the left then on the right
![53003727-eca73880-342f-11e9-8d0e-cbec7055c0aa](https://user-images.githubusercontent.com/9574457/53043589-16d91480-3489-11e9-9afb-bf55115d197f.png)

[2019-02-19 19:59] SergeyZhukovsky commented on #1148
We have the same situation in panel as well btw. cc @mandar-brave @jamesmudgett @anthonypkeane

[2019-02-19 20:02] SergeyZhukovsky commented on #1145
We will add a bigger tap radius.

[2019-02-19 20:06] SergeyZhukovsky commented on #1139
It looks ok when we have Grants button as well. The header is static. Perhaps we need to have different pngs for that @jamesmudgett? We can try to scale also.

[2019-02-19 20:10] SergeyZhukovsky commented on #1157
Shouldn't it be deleted forever unless we restore it via option that missed and described in https://github.com/brave/browser-android-tabs/issues/1132? cc @NejcZdovc

[2019-02-19 20:11] SergeyZhukovsky commented on #1131
@jamesmudgett @anthonypkeane do we have to do that on Android? I don't see it in our layout.

[2019-02-19 20:12] SergeyZhukovsky commented on #1130
Should it be? cc @jamesmudgett @anthonypkeane @srirambv

[2019-02-19 20:14] SergeyZhukovsky commented on #1129
I don't think that should be so according to material design. @jamesmudgett correct me if I'm wrong.

[2019-02-19 20:15] SergeyZhukovsky commented on #1128
We need to increase a tap radius there.

[2019-02-19 20:17] SergeyZhukovsky commented on #1127
@jamesmudgett @anthonypkeane should be there a close button #1? I don't see it in our layout.

[2019-02-19 20:18] NejcZdovc commented on #1127
how ca user close it?

[2019-02-19 20:19] SergeyZhukovsky commented on #995
Padding issue is addressed here https://github.com/brave/browser-android-tabs/issues/1126

[2019-02-19 20:19] #995 closed

[2019-02-19 20:20] NejcZdovc commented on #1129
@SergeyZhukovsky we need to change text when you toggle `Make this monthly` as action is different

[2019-02-19 20:20] SergeyZhukovsky commented on #1126
@jamesmudgett could you please provide the correct icon?

[2019-02-19 20:21] NejcZdovc commented on #1157
@srirambv site should be deleted for ever until user restore it

[2019-02-19 20:21] SergeyZhukovsky commented on #1127
@NejcZdovc device's back button is a common way on Android to close any window.

[2019-02-19 20:23] SergeyZhukovsky commented on #1129
@NejcZdovc ah I got it. I thought you are talking that we should remove a square when the button is checked off.

[2019-02-19 20:27] SergeyZhukovsky commented on #1124
We haven't implemented that yet. But that how it should be following a design layout we have for Android
<img width="364" alt="screen shot 2019-02-19 at 3 26 07 pm" src="https://user-images.githubusercontent.com/12011303/53045144-dfec0a00-345a-11e9-98e0-217bb5256c9f.png">
@jamesmudgett @anthonypkeane please comment which one is correct.

[2019-02-19 20:29] NejcZdovc commented on #1124
cc @jenn-rhim as well

[2019-02-19 20:32] SergeyZhukovsky commented on #1092
Closing it as not an issue. I verified that we don't have it if contribution date is set on default value.

[2019-02-19 20:32] #1092 closed

[2019-02-19 20:49] SergeyZhukovsky commented on #1157
We will handle it here https://github.com/brave/browser-android-tabs/issues/1132

[2019-02-19 20:49] #1157 closed

[2019-02-20 03:22] srirambv commented on #1163
Don't think this is a valid bug. Tips panel is still shown on desktop when a-c is disabled. You should still be able to tip and see the one time/recurring tips when a-c is disabled.
![screenshot_20190220-084711](https://user-images.githubusercontent.com/17010094/53064115-9ba94a00-34ec-11e9-9a73-1e7acdf8c8d1.png)

But the title says `Rewards is OFF` which is confusing from the actual steps. If rewa

[2019-02-20 03:22] #1163 closed

[2019-02-20 03:33] srirambv commented on #1130
@SergeyZhukovsky yes this was also brought up long back itself https://bravesoftware.slack.com/archives/C0816QH3R/p1548662189118900

This is what @jamesmudgett  mentioned in the thread

[2019-02-20 03:43] srirambv commented on #1127
I don't think we need a close button like @SergeyZhukovsky mentioned device back button is used for navigating back.

But this might change once [Android Q](https://www.neowin.net/news/google-might-be-getting-rid-of-the-back-button-in-android-q) comes up as there is rumour that Google might drop back button https://www.youtube.com/watch?v=PCM2SR5pDn4

[2019-02-20 03:48] ryanml commented on #1142
Fixed via: https://github.com/brave/browser-android-tabs/commit/2d2377919d07df66b0cc5e9f6b44267c165f8827

[2019-02-20 03:48] #1142 closed

[2019-02-20 03:55] ryanml commented on #1137
Fixed via: https://github.com/brave/browser-android-tabs/commit/04d9a09f5952b3dc9bd797411601447055909db9

[2019-02-20 03:56] #1137 closed

[2019-02-20 04:50] SergeyZhukovsky commented on #1130
Ok, we will speed it up a bit.

[2019-02-20 05:03] GeetaSarvadnya commented on #1163
@srirambv Updated the steps and subject. Thanks for correcting!

[2019-02-20 08:50] #1071 closed

[2019-02-20 12:03] ryscar13 commented on #619
Autofill still not working for me on Brave 1.0.77 and android 8.0.

Hope a fix is around the corner as it's my only (small) gripe with Brave! Thanks!

[2019-02-20 14:19] samartnik commented on #1120
@jtj9817 even though it is problem only on en-GB localization, it requires revising of our translation process. So I would rather do it myself.

[2019-02-20 15:18] SergeyZhukovsky commented on #1005
@srirambv could you please verify that?

[2019-02-20 15:19] #1005 closed

[2019-02-20 16:12] SergeyZhukovsky commented on #1146
Check a tab title to be consistent with desktop!

[2019-02-20 16:24] SergeyZhukovsky commented on #1155
Just make it without underline for now.

[2019-02-20 16:25] srirambv commented on #1146
#988 was closed as fixed which was same issue. @SergeyZhukovsky was the commit https://github.com/brave/browser-android-tabs/commit/676244778dd647c59b6a3474e48a556392274585 part of the last build??

[2019-02-20 16:36] SergeyZhukovsky commented on #937
@jamesmudgett could you please update the flow with welcome screen included?

[2019-02-20 16:38] SergeyZhukovsky commented on #930
Please reopen an other issue if you problems in  new design.

[2019-02-20 16:38] #930 closed

[2019-02-20 16:39] SergeyZhukovsky commented on #826
N/A. We never disable it on desktop as well.

[2019-02-20 16:39] #826 closed

[2019-02-20 16:56] SergeyZhukovsky commented on #1146
@srirambv yes it was. It's still not there.

[2019-02-20 18:32] #1091 closed

[2019-02-20 18:56] tomlowenthal opened #1165 "Change fingerprinting-protection description text"
Current text reads:

We should update this with something more descriptive.

[2019-02-20 23:04] tomlowenthal commented on #1165
First pass idea from me:

[2019-02-21 06:31] mandar-brave opened #1167 "Onboarding flow"
On-boarding flow for existing and new users needs to be defined.

- Existing users can discover BR via the bat logo and settings. The experience should drive the user through a small tour of a-c and tips (very much like the desktop page) before user opting in
- New user should get a welcome screen as part of the on-boarding experience or some guide to turn Brave Rewards ON. This experience should

[2019-02-21 06:35] mandar-brave opened #1168 "Support desktop wallet recovery (tracking for launch)"
Adding this for tracking purposes.

We should allow desktop users to be able to restore their desktop wallets here allowing them to have a cross device view for Brave Rewards.

@NejcZdovc @SergeyZhukovsky

[2019-02-21 06:43] mandar-brave opened #1169 "Turn off BR for non safetynet users; mask Add Funds link"
For the March 13th launch, if users do not clear safetynet, do not let them turn on Brave Rewards.
Add funds needs to be masked out as well.

Since there is no way for the user to get funds and/or add funds, it is not clear what value Brave Rewards brings to such users.

Till we get to parity for supporting user wallets, we should keep BR functionality off for non safetynet users.

cc @anthonypkea

[2019-02-21 09:50] ryanml commented on #1141
Fixed via: https://github.com/brave/browser-android-tabs/commit/0ed43295738dda5643594cb1f4cdefe468177c5b

[2019-02-21 09:50] #1141 closed

[2019-02-21 10:14] ryanml commented on #1144
Fixed via: https://github.com/brave/browser-android-tabs/commit/a619d79ce950c2a0703680f920320e9f1bb59bc5

[2019-02-21 10:14] #1144 closed

[2019-02-21 10:14] ryanml commented on #1099
Fixed via: https://github.com/brave/browser-android-tabs/commit/a619d79ce950c2a0703680f920320e9f1bb59bc5

[2019-02-21 10:14] #1099 closed

[2019-02-21 10:21] ryanml commented on #1132
Fixed via: https://github.com/brave/browser-android-tabs/commit/47a72d1b2e3201629d582639487b9e62e631dd32

[2019-02-21 10:28] ryanml commented on #1136
@NejcZdovc this one is tricky, as the android navigation clips over the bottom of the web page, there's not really a way for modal to be aware of that. Best we can do for small devices is to just scale back the height of the modal.

[2019-02-21 10:38] anthonypkeane commented on #1167
James

I think this onboarding should be one and the same as the overall Android onboarding

Having two will be confusing.

Lmk what you think?

[2019-02-21 11:02] NejcZdovc commented on #1136
that sounds good

[2019-02-21 12:41] xsahil03x opened #1170 "Youtube player not taking full space in desktop mode (Android X86)"
![screenshot_20190221-143615](https://user-images.githubusercontent.com/25670178/53169726-11540980-3604-11e9-9424-d77873a18093.png)

## Device Details:
   - Install Type : x86
   - Device : Any Laptop
   - Android Version: Nougat

## Brave version:
   - 1.0.77

[2019-02-21 12:47] srirambv commented on #1170
Can't reproduce on Samsung Tab running 1.0.77.
* Does this happen for all videos?
* Does this happen only when on landscape mode?
* Does this happen only when you enable Desktop mode from hamburger menu?

[2019-02-21 13:13] xsahil03x commented on #1170
@srirambv this happen on desktops and laptops.
- Happens on all videos.
- Only in desktop mode.

[2019-02-21 17:06] tomlowenthal opened #1171 "Ads not blocked on WebMD [hackerone #498087]"
https://hackerone.com/reports/498087

A HackerOne researcher reports that they see ads on WebMD. I was able to reproduce easily, with Shields up. Shields shows a huge number of ads and trackers blocked, but all ads on the page still seem to be visible.

[2019-02-21 17:57] tomlowenthal opened #1172 "Use `IME_FLAG_NO_PERSONALIZED_LEARNING API` to put keyboards in "incognito" mode when private browsing"
Android API level 26 adds `IME_FLAG_NO_PERSONALIZED_LEARNING API` to let apps indicate that keyboards &c. shouldn't remember what's going on. We should use it whenever private browsing is enabled, and in password fields.

[2019-02-21 18:35] jamesmudgett commented on #1167
Entry points:

- BAT logo
- "Brave Rewards" menu item.

I agree that it would be a good idea to introduce BR to new users in a more obvious way. Let's plan on having a popup callout Brave Rewards on first-run. I'll work on a design to add here.

[2019-02-21 18:38] jamesmudgett commented on #1167
@anthonypkeane full on-boarding would be great to explore as we are doing on iOS. This could be part of the Android design refresh.

[2019-02-21 20:48] SergeyZhukovsky commented on #1154
Fixed https://github.com/brave/browser-android-tabs/commit/5757cb99f3329813507845a7ce48e67c87b3a10f

[2019-02-21 20:48] #1154 closed

[2019-02-21 22:15] Lvcvi commented on #601
10 months silence for a feature that would effectively add a tiny hosts edit, the incompetence is staggering.

[2019-02-22 00:56] iButane commented on #81
+1 for dark/night mode

[2019-02-22 01:01] Hamburger6 commented on #81
Seriously. Very blinding.

[2019-02-22 01:42] SergeyZhukovsky commented on #1155
Fixed https://github.com/brave/browser-android-tabs/commit/ed2e849e2eecdd4b68cb87668a898ec161bcb249

[2019-02-22 01:42] #1155 closed

[2019-02-22 03:00] SergeyZhukovsky commented on #1145
Fixed https://github.com/brave/browser-android-tabs/commit/944419d345f05d71c45b5f4a3a209af2f5e62d44

[2019-02-22 03:00] #1145 closed

[2019-02-22 03:27] SergeyZhukovsky commented on #1143
Done https://github.com/brave/browser-android-tabs/commit/6342fc8a3df84032af56871de1d428cdbb1f1f6c

[2019-02-22 03:27] #1143 closed

[2019-02-22 03:45] SergeyZhukovsky commented on #1123
Fixed https://github.com/brave/browser-android-tabs/commit/05b83f2126600d19507a8d20f68ac75a1e39ebd5

[2019-02-22 03:45] #1123 closed

[2019-02-22 09:04] ryanml commented on #1134
Fixed via: https://github.com/brave/browser-android-tabs/commit/ffa6ce86d27d42313ff017acc0d07fa631355841

[2019-02-22 09:04] #1134 closed

[2019-02-22 09:04] ryanml commented on #1140
Fixed via: https://github.com/brave/browser-android-tabs/commit/ffa6ce86d27d42313ff017acc0d07fa631355841

[2019-02-22 09:04] #1140 closed

[2019-02-22 09:04] ryanml commented on #1095
Fixed via: https://github.com/brave/browser-android-tabs/commit/ffa6ce86d27d42313ff017acc0d07fa631355841

[2019-02-22 09:04] #1095 closed

[2019-02-22 13:48] AlexeyBarabash opened #1173 "Sync bookmarks tops on long bookmark"
## Description
There is a kind of long url with special symbols which causes stop of bookmarks sync.

## Steps to Reproduce

   1. Run brave-core with a clean profile
   2. Go to brave://bookmarks
   3. Right click => Add new bookmark
   4. Name = `Storybook`
        URL=`https://brave.github.io/brave-ui/?knob-Label%20Color=%23303030&knob-Title=Bart%20Baker&knob-Content=empty&knob-Button%20Types=d

[2019-02-22 18:43] kjozwiak commented on #1065
Went through both https://github.com/brave/browser-android-tabs/issues/1065#issue-405000192 and https://github.com/brave/browser-android-tabs/issues/1065#issuecomment-462715441 several times and couldn't reproduce the issue using `1.0.82, CR: 72.0.3626.105`.

[2019-02-22 18:50] kjozwiak commented on #1042
Went through the test case outlined under https://github.com/brave/browser-android-tabs/issues/1042#issue-402942913 several times and couldn't reproduce the issue using `1.0.82, CR: 72.0.3626.105`.

[2019-02-22 19:31] kjozwiak commented on #1104
@aekeus added a `brave.com` custom header on staging [1] that we used for https://github.com/brave/brave-browser/issues/3301#issue-408638670. However, we'll need a new `apk` that's pointing to staging to go through the same case. Unfortunately it takes a bit of time to get new builds and we want to release this today. Talked to @SergeyZhukovsky and we decided that going to the different partners a

[2019-02-22 22:45] tomlowenthal opened #1176 ""Insufficient Funds" immediately on first open"
Using [this test build](https://github.com/brave/browser-android-tabs/releases/tag/1.0.81(BR_3)), as soon as I enable Brave Rewards, I'm notified that I have insufficient funds.
![screenshot_20190222-143747](https://user-images.githubusercontent.com/639937/53275588-76fdcf80-36b0-11e9-822d-00e56cbe9a31.png)

[2019-02-22 22:46] tomlowenthal opened #1177 "Black/grey border around Rewards panel"
Using [this test build](https://github.com/brave/browser-android-tabs/releases/tag/1.0.81(BR_3)).
![screenshot_20190222-143747](https://user-images.githubusercontent.com/639937/53275622-97c62500-36b0-11e9-928c-614beaa8d52a.png)

[2019-02-22 22:47] tomlowenthal commented on #1176
Tapping "OK" on this shows me a grant notification, but the "Insufficient Funds" notice is on top.

[2019-02-22 22:49] tomlowenthal opened #1178 "No status indicator on Ads"
The ads section at the top of the Brave Rewards settings page doesn't have any controls or an indicator whether it's on or off. If it's on, there needs to be a control to turn it off. If it's disabled and not actually available, that needs to be clearly-communicated.

Using [this test build](https://github.com/brave/browser-android-tabs/releases/tag/1.0.81(BR_3)).

![screenshot_20190222-144809](ht

[2019-02-22 22:52] tomlowenthal opened #1179 "Review Android default top sites"
On first run, the Android app seems to automatically have shortcuts to Facebook, Amazon, Wikipedia, ESPN, Yahoo, and eBay. We should review this list and either ship top sites we want to endorse, or not ship defaults and allow this area to automatically be populated based on usage.

[2019-02-22 22:57] Brave-Matt opened #1180 "Request/Suggestion: Implement toggle for "when last tab is closed" behavior on Android"
## Description
As it is, when closing the last tab on Android :

1. If `Home Button` option is enabled, Brave will close immediately after last tab is closed.
2. If `Home Button` option is disabled, Brave will  remains open and blank (0 tabs).
_☝️ Note that option 1 is the _default_ behavior as `Home button` is disabled by default._

I have received an **overwhelming** number of complaints regardi

[2019-02-22 23:10] tomlowenthal opened #1181 "Ship current publisher list in binary"
On first run, Brave seems to check to see whether a publisher is verified, and then erroneously discover that they are not. Instead, the binary should include a snapshot of the publishers list so that no additional network activity is required to determine if a publisher is verified.
![screenshot_20190222-145344](https://user-images.githubusercontent.com/639937/53276372-a06c2a80-36b3-11e9-98fe-06e

[2019-02-23 02:03] SergeyZhukovsky commented on #1176
We show that notification in 3 days before an auto contribution process that is once in 30 days. The test build that is pointing on staging is set to every 10 minutes auto contributions just to test how does the process go. We have that message in 3 days before on a real build.

[2019-02-23 02:03] #1176 closed

[2019-02-23 02:05] SergeyZhukovsky commented on #1177
What colour should it be?

[2019-02-23 04:36] AlexeyBarabash commented on #1115
@samartnik
Also need to check the situation when user before update was with the search engine removed after update. The user should still have the old search engine. cc @kjozwiak

[2019-02-24 16:39] eljuno commented on #1180
+1 from Community https://community.brave.com/t/browser-closing-with-last-tab-closed/44178?u=eljuno

[2019-02-25 04:11] GeetaSarvadnya opened #1182 "When n/w is disconnected `Rewards server is not responding` message will not be shown until you click on `Your wallet`"
## Description
When n/w is disconnected `Uh oh! The Brave Rewards server is not responding ` message will not be shown until you click on `Your wallet` in Brave rewards page.

## Steps to Reproduce

   1. Clean profile 1.0.81
   2. Enable rewards by clicking on `JOIN REWARDS`
   3. Disconnect VPN/wifi
   4. Click on `claim`
   5. Close the claim popup by clicking on `x`
   6. Click on `Settings`

[2019-02-25 04:31] srirambv commented on #1182
Also if you try to join rewards when device is offline it goes into an infinite loop of `Creating Wallet` on the active rewards page. Pull reload brings it back to `Yes, I'm in!` message

[2019-02-25 04:43] GeetaSarvadnya opened #1183 "unable to claim grants when the network is re-enabled"
## Description
unable to claim grants when the network is re-enabled

## Steps to Reproduce

   1. Clean profile 1.0.81
   2. Enable rewards by clicking on `JOIN REWARDS`
   3. Disconnect the VPN/wifi
   4. Click on `claim`
   5. Click on `Settings`
   6. Turn ON VPN/wifi
   7. Reload rewards page
   8. Click on `Claim` on the rewards page - can't claim grants
   9. Click on `claim` on rewards pan

[2019-02-25 04:58] GeetaSarvadnya commented on #1182
@srirambv Yes, even I observed that better log a separate issue for it.

[2019-02-25 07:18] srirambv commented on #1182
I think we can just this one tracking issue for all network related errors. I just saw the recording and here's my observations

This behaviour seems correct to me. Its a little different than desktop because desktop shows wallet summary on rewards page and immediately shows the error message shown when device is offline. Don't think this is possible on Mobile
cc: @NejcZdovc

This is not a problem

[2019-02-25 07:25] NejcZdovc commented on #1182
@srirambv that is correct for the first one

[2019-02-25 07:25] srirambv opened #1184 "Claim button isn't removed even after grant is claimed"
## Description
Claim button isn't removed even after grant is claimed

## Steps to Reproduce

   1. Enable rewards
   2. Disconnect device from network
   3. Tap on Claim button nothing happens
   4. Connect device to network again and open a new rewards page
   5. Claim grant via rewards page, claim button is still shown on the rewards page

## Actual result:
![screenshot_20190225-124917](https:/

[2019-02-25 08:30] srirambv opened #1185 "Tip for unverified pubs keeps increasing over time"
## Description
Tip for unverified pubs keeps increasing over time

## Steps to Reproduce (Not reliable)

   1. Enable Rewards and claim grant
   2. Visit 3 unverified pubs and tip them 1 BAT each, verify 3 BAT is shown for unverified pubs message
   3. Keep the phone aside and take a nap
   4. Getup after a while and see the tips summary is more than 3 BAT. (I saw it to be 42 BAT)

## Actual resul

[2019-02-25 08:50] NejcZdovc commented on #1177
closing as dupe of https://github.com/brave/browser-android-tabs/issues/928

[2019-02-25 08:50] #1177 closed

[2019-02-25 10:16] srirambv opened #1186 "Tips section is hidden when settings is opened and navigated back"
## Description
Tips section is hidden when settings is opened and navigated back

## Steps to Reproduce

   1. Enable rewards
   2. Open Tips view details section and tap on settings
   3. Navigate back, tips section is hidden, tap back button again shows up

## Actual result:
![2019_02_25_15_37_58](https://user-images.githubusercontent.com/17010094/53330307-2b4b6000-3914-11e9-9923-149dc7b3016f.gi

[2019-02-25 10:22] NejcZdovc commented on #1186
closing as this will not be an issue anymore as we removed settings for tips https://github.com/brave/browser-android-tabs/issues/1134

[2019-02-25 10:22] #1186 closed

[2019-02-25 11:05] srirambv opened #1187 "Page without favicons uses domain letter for favicon"
## Description
Page without favicons uses domain letter for favicon

## Steps to Reproduce

   1. Enable rewards
   2. Visit srirambv.github.io
   3. Open rewards panels, shows favicon of domain name

## Actual result:
![image](https://user-images.githubusercontent.com/17010094/53333129-027a9900-391b-11e9-9887-87cdac507366.png)
![image](https://user-images.githubusercontent.com/17010094/53333150-1

[2019-02-25 11:42] srirambv opened #1188 "Wallet creation goes into infinite loop when device is offline"
## Description
Wallet creation goes into infinite loop when device is offline

## Steps to Reproduce

   1. Put device on offline mode
   2. Enable Rewards from BR panel, shows `Please try again later` message
   3. Try enabling rewards from rewards page, goes into infinite loop, have to restart browser after device goes online for rewards to be enabled

## Actual result:
![ezgif com-video-to-gif

[2019-02-25 18:29] samartnik commented on #1171
This will be fixed when Android is moved on brave-core base

[2019-02-25 21:42] tomlowenthal commented on #1177
@SergeyZhukovsky I know this is a dupe, but I don't think there should be a border at all.

[2019-02-25 22:27] SergeyZhukovsky commented on #1160
That has been fixed https://github.com/brave/browser-android-tabs/commit/1c1b4316328323a0819e6995d3672f9f2e4f5321

[2019-02-25 22:27] #1160 closed

[2019-02-26 04:36] srirambv opened #1190 "Wallet summary says no tokens even when grant is claimed"
## Description
Wallet summary says no tokens even when grant is claimed

## Steps to Reproduce

   1. Clean install new rewards build
   2. Join rewards via BR panel
   3. Claim grants via BR panel
   4. Open rewards page and open wallet details, shows `Sadly no tokens yet`

## Actual result:
![screenshot_20190226-100404](https://user-images.githubusercontent.com/17010094/53387713-1f13e100-39ae-11

[2019-02-26 05:04] GeetaSarvadnya opened #1191 "Translation missing for Contribution date under tips"
## Description
Translation missing for Contribution date under tips

## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards
   3. Claim UGP grants
   4. Open DDG in a new tab
   5. Send a monthly recurring tip to DDG
   6. Verify Tips panel on the Rewards page

## Actual result:
![image 1](https://user-images.githubusercontent.com/38657976/53388596-bfb7d000-39b1-11e9-82f8-141886f9d

[2019-02-26 05:30] GeetaSarvadnya opened #1192 "Tip table header needs to renamed to `TYPE`"
## Description
Tip table header needs to renamed to `TYPE`

## Steps to Reproduce

   1. Open brave 1.0.83
   2. Enable rewards
   3. Click on `View Details` in Tips section
   4. Verify tips table headers

## Actual result:
![image](https://user-images.githubusercontent.com/38657976/53389505-913bf400-39b5-11e9-919a-cf2602d4f11f.png)

## Expected result:

Same as desktop
![image](https://user-imag

[2019-02-26 06:34] GeetaSarvadnya opened #1193 "Rewards summary alignment is not same on all the tabs."
## Description
Rewards summary alignment is not same on all the tabs.
## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable Rewards
   3. Claim UGP grants
   4. Add a few pubs to a-c table (Verified + unverified)
   5. Wait for auto-contribution to complete
   6. After auto-contribution, verify Rewards summary on diff tabs

Note: Sometimes, the page reloads auto-correct the alignment issu

[2019-02-26 07:02] GeetaSarvadnya commented on #1186
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Brave version `1.0.83`
`Settings` is removed from Tips section now
![image](https://user-images.githubusercontent.com/38657976/53393466-7459ed80-39c2-11e9-82aa-3f658c3f096d.png)

[2019-02-26 07:03] GeetaSarvadnya commented on #1134
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Brave version `1.0.83`

`Settings` is removed from Tips section now

![image](https://user-images.githubusercontent.com/38657976/53393587-c733a500-39c2-11e9-993c-87243533950b.png)

[2019-02-26 07:59] GeetaSarvadnya commented on #1155
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Brave version `1.0.83`
![screenshot_2019-02-26-13-29-04](https://user-images.githubusercontent.com/38657976/53396492-92c3e700-39ca-11e9-9a88-1c1945e8e5cc.png)

[2019-02-26 08:19] GeetaSarvadnya commented on #1140
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`
![screenshot_2019-02-26-13-48-12](https://user-images.githubusercontent.com/38657976/53397507-4b8b2580-39cd-11e9-92e2-833f7893150e.png)

[2019-02-26 08:21] srirambv opened #1194 "BR panel doesn't update attention % unless rewards page is opened"
## Description
BR panel doesn't update attention % unless rewards page is opened

## Steps to Reproduce

   1. Enable rewards
   2. Visit a site and spend min time on it
   3. Open rewards panel, attention shows 0%
   4. Open rewards page, site attention shows 100% in a-c list
   5. Switch back to site and open rewards panel, shows 100%
   6. Repeat steps 2-5 on a different site, same behaviour, %

[2019-02-26 08:53] #1173 closed

[2019-02-26 09:05] srirambv opened #1195 "Site already listed gets removed when a new site is added after changing the monthly budget"
## Description
Site already listed gets removed when a new site is added after changing the monthly budget

## Steps to Reproduce

   1. Enable rewards and claim grant
   2. Set monthly budget to 100 BAT
   3. Visit duckduckgo.com and neowin.net and ensure both gets added to the a-c list
   4. Wait for 30 mins, no reconcile happens and no insufficient funds message is shown
   5. Delete duckduckgo

[2019-02-26 09:15] GeetaSarvadnya commented on #1142
Depending on #1191. Will be tested once issue 1191 is fixed.

[2019-02-26 09:41] GeetaSarvadnya opened #1196 "Total tips reset to Zero after browser restart"
## Description
Total tips reset to Zero after browser restart

## Steps to Reproduce

   1.  Clean profile 1.0.83
   2. Enable rewards
   3. Claim UGP grants
   4. Open DDG and send one-time tips to it
   5. Verify total tip is shown as 1 and one-time tip for DDG is displayed under Tips table
   6. Click on `Exit` in the Hamburger menu
   7. Restart the browser

## Actual result:
Total Tips for th

[2019-02-26 09:50] srirambv opened #1197 "Shields and Rewards button show in URL bar when tabs container is opened"
## Description
Shields and Rewards buttion show in URL bar when tabs container is opened

## Actual result:
![screenshot_20190226-145120](https://user-images.githubusercontent.com/17010094/53403558-eb4eb080-39d9-11e9-8adb-5c985a2db456.png)

## Expected result:
Should not have URL bar overlay on Shields and Rewards buttons

## Issue reproduces how often:
Easy
## Issue happens on:
   - Current Plays

[2019-02-26 09:59] GeetaSarvadnya opened #1198 "User can send Zero monthly recurring tips"
## Description
User can send Zero monthly recurring tips

## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards
   3. Claim grants
   4. Open DDG
   5. Open BR panel, by default 5 BAT is selected unselect it by tapping on it
   6. Without selecting any tip amount select `Make this monthly` checkbox
   7. Click on `SEND MY DONATION`

## Actual result:
Without selecting tip amount u

[2019-02-26 10:46] GeetaSarvadnya opened #1199 "Brave Crashes when `JOIN REWARDS` goes into infinite loop"
## Description
Brave Crashes when `JOIN REWARDS` goes into infinite loop. Right now I don't have exact steps to reproduce the issue. I have managed to record the steps partially, which has crash issue recorded. I have seen this issue trice while testing Rewards.

## Steps to Reproduce (  STR may not be Reliable - Just mentioned the steps when I came across with the issue)

   1. Clean profile 1.0.

[2019-02-26 11:57] sviluppoSoftware commented on #571
Hi, anyone know when this issue will be solving? at 26 feb 2019 it's still present.

thank you for answer!

[2019-02-26 12:11] sviluppoSoftware commented on #712
Hi, unfortunately despite the recent update for android (version 1.0.82) the user agent "protection" still does not work, ie through this test https://browserleaks.com/ip are still shown the model of the phone and the browser version ( 72.0 etc. ....)

[2019-02-26 12:18] GeetaSarvadnya opened #1200 "`SEND MY DONATION` button needs to disabled when tip amount is not selected"
## Description
`SEND MY DONATION` button needs to disabled when tip amount is not selected

## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable Rewards
   3. Claim grants
   4. Open DDG, unselect default selection 5 BAT
   5. Click on `SEND MY DONATION` without selecting any tip amount

## Actual result:
`Sent Tip` message is displayed. After clicking on BR panel message displayed as `T

[2019-02-26 14:03] GeetaSarvadnya opened #1201 "Removed site cannot be added to a-c table once the auto-contribution settings are changed"
## Description
The removed site cannot be added to a-c table once the auto-contribution settings are changed

## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards and claim grants
   3. Add DDG to a-c table
   4. Uncheck `Allow contribution to non-verified sites` checkbox in auto-contribution settings
   5. Remove DDG from a-c table
   6. Close all the tabs one by one ( browser g

[2019-02-26 15:16] GeetaSarvadnya commented on #1099
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-11-28-25](https://user-images.githubusercontent.com/38657976/53423455-61b5d780-3a07-11e9-837e-d12e5bb20553.png)

- Logged an alignment issue for rewards summary #1193

[2019-02-26 15:19] SergeyZhukovsky commented on #1187
That's a normal behaviour. We use a common mechanism as Chromium does to shows icons for websites without icons. cc @jamesmudgett

[2019-02-26 15:19] #1187 closed

[2019-02-26 15:21] SergeyZhukovsky commented on #1193
That's a dup of https://github.com/brave/browser-android-tabs/issues/1153

[2019-02-26 15:21] #1193 closed

[2019-02-26 15:22] GeetaSarvadnya commented on #1097
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-26 15:26] GeetaSarvadnya commented on #1143
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-20-54-39](https://user-images.githubusercontent.com/38657976/53424304-fa992280-3a08-11e9-9cfa-1cb28bd7d56a.png)

[2019-02-26 15:27] SergeyZhukovsky commented on #1132
@ryanml I don't think it's done. We should show an option to restore a website for autocontribution.

[2019-02-26 15:28] SergeyZhukovsky commented on #1132
We have it again on a new version https://github.com/brave/browser-android-tabs/issues/1201, I check it myself and don't see any way on how to restore a website.

[2019-02-26 15:28] SergeyZhukovsky commented on #1201
It will be handled here https://github.com/brave/browser-android-tabs/issues/1132

[2019-02-26 15:28] #1201 closed

[2019-02-26 15:45] GeetaSarvadnya commented on #1098
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-21-14-29](https://user-images.githubusercontent.com/38657976/53425751-9d52a080-3a0b-11e9-8872-91e84c678ec7.png)

[2019-02-26 16:08] GeetaSarvadnya opened #1202 "Unable to select `Monthly Payment` options in single click"
## Description
Unable to select `Monthly Payment` options in single click
## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards
   3. Open `Auto-Contribution Settings` page
   4. Select monthly payment options one by one from the drop down

## Actual result:
Single click on radio button will not allow monthly payment selection, needs to click on the radio button twice.

## Expecte

[2019-02-26 16:08] #1115 closed

[2019-02-26 16:09] #1120 closed

[2019-02-26 16:12] GeetaSarvadnya commented on #1095
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-26 16:15] GeetaSarvadnya commented on #1093
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-21-45-22](https://user-images.githubusercontent.com/38657976/53427926-d4c34c00-3a0f-11e9-899e-7418ddb64edf.png)

[2019-02-26 16:17] GeetaSarvadnya commented on #1094
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-26 16:24] GeetaSarvadnya commented on #1090
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-21-53-12](https://user-images.githubusercontent.com/38657976/53428568-08eb3c80-3a11-11e9-95bb-4626d2d6e0d2.png)
![screenshot_2019-02-26-21-53-18](https://user-images.githubusercontent.com/38657976/53428569-08eb3c80-3a11-11e9-8ccc-a8ca526fdddf.png)

[2019-02-26 16:31] GeetaSarvadnya commented on #1089
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-21-59-57](https://user-images.githubusercontent.com/38657976/53429120-03422680-3a12-11e9-8685-b0ca263f3fe0.png)

[2019-02-26 18:25] SergeyZhukovsky commented on #1197
Fixed https://github.com/brave/browser-android-tabs/commit/0222e998fd62bf774719257ded23ac9aafb13af2

[2019-02-26 18:25] #1197 closed

[2019-02-26 18:29] SergeyZhukovsky commented on #1126
Done https://github.com/brave/browser-android-tabs/commit/77e50cff07ea6c35ea92a3bbe0d2e8bdeeb2653b

[2019-02-26 18:29] #1126 closed

[2019-02-26 19:43] anthonypkeane opened #1204 "Add the ability to reset Brave Rewards to pre-opt in state on Android"
Linked to: https://github.com/brave/brave-browser/issues/1192

## Description
For various reasons, users may want to reset Brave Rewards to a pre-opt in state
We need to provide users with a mechanism so they can do this. At the simplest level this may just be a "reset button" with BR Settings.

## ToDo
1) @jamesmudgett and @anthonypkeane to design a flow and UI
The goal for v1 of this is to minim

[2019-02-26 20:26] eljuno opened #1205 "Twitter not load properly with "Ads and Trackers" blocked"
## Description
Originally reported on Twitter
https://twitter.com/trivikram/status/1100459853779152896?s=09

https://twitter.com/samjulien/status/1100443168145723392?s=09

https://twitter.com/BGunner240/status/1100372390012424193?s=09

Similar reports for desktop https://github.com/brave/brave-browser/issues/3495

Recently, users unable to load twitter.com with shields UP. Lowering shields or "All

[2019-02-26 21:47] diracdeltas commented on #1021
I think this is no longer needed as of the updated spec https://docs.google.com/document/d/1hJVuqmrNo7eDoEzCpKS_PXb33n2o6g1JLjUaJTJ-CtU/edit

[2019-02-26 21:47] #1021 closed

[2019-02-26 23:38] kjozwiak commented on #1071
Thanks for double checking @GeetaSarvadnya 👍

[2019-02-27 10:15] GeetaSarvadnya commented on #1180
+1 from community https://community.brave.com/t/closing-a-tab-minimizes-brave-mobile-app/46138/2

[2019-02-27 14:17] GeetaSarvadnya commented on #1036
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 14:20] GeetaSarvadnya commented on #1035
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-26-11-52-29](https://user-images.githubusercontent.com/38657976/53496858-ec124000-3ac8-11e9-83fb-29625711adc9.png)

[2019-02-27 14:28] GeetaSarvadnya commented on #1025
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-19-56-52](https://user-images.githubusercontent.com/38657976/53497343-f719a000-3ac9-11e9-885b-09301790538b.png)

[2019-02-27 14:29] IOI-655321 opened #1206 "Previously synced device not syncing bookmarks"
## Description
Id previously tried syncing my phone and it had repeatadly gone wrong.  Now after the recent update adding to the sync chain now works much better but as id deleted all my old bookmarks that had been synced iprior to re-setting up the sync chain it no longer syncs the bookmarks at all.

## Steps to Reproduce
   1. Add phone to sync chain prior to current release version.  Sync chain

[2019-02-27 14:30] GeetaSarvadnya commented on #1024
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-19-56-52](https://user-images.githubusercontent.com/38657976/53497520-5972a080-3aca-11e9-9201-57f87fc54640.png)

[2019-02-27 14:33] GeetaSarvadnya commented on #1017
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-19-56-52](https://user-images.githubusercontent.com/38657976/53497671-b2423900-3aca-11e9-9867-9d80548502b6.png)

[2019-02-27 14:37] GeetaSarvadnya commented on #1013
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 14:50] GeetaSarvadnya commented on #1030
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-20-17-45](https://user-images.githubusercontent.com/38657976/53498828-2251be80-3acd-11e9-821d-b7bbf8be9cdc.png)

[2019-02-27 14:57] GeetaSarvadnya commented on #1091
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-20-26-22](https://user-images.githubusercontent.com/38657976/53499307-15819a80-3ace-11e9-9a18-6345177cc78d.png)

[2019-02-27 15:19] kjozwiak opened #1207 "twitter feed not loading when "ads & trackers" is enabled in shields"
## Description

When attempting to load Twitter on mobile, you'll get a `Something went wrong.` message in the feed if you have shields enabled, specifically `Ads and Tracking`. If you disable Shields or just disable `Ads and Tracking`, the feed will load as expected.

## Steps to Reproduce

   1. download the latest released version of Brave
   2. attempt load twitter.com

## Actual result:

![sc

[2019-02-27 15:38] GeetaSarvadnya commented on #1027
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`
![screenshot_2019-02-27-21-07-54](https://user-images.githubusercontent.com/38657976/53502326-d9513880-3ad3-11e9-8078-b55e2f75b3a3.png)

[2019-02-27 15:42] kjozwiak commented on #1207
This will be fixed by https://github.com/brave/adblock-lists/pull/49. Closing this off and removing it from the `1.0.81` milestone.

[2019-02-27 15:42] #1207 closed

[2019-02-27 15:47] GeetaSarvadnya commented on #1014
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 15:49] GeetaSarvadnya commented on #1016
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 16:05] GeetaSarvadnya commented on #1012
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 16:07] GeetaSarvadnya commented on #1011
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 16:10] GeetaSarvadnya commented on #1007
The issue is still reproducible with build `1.0.83`

[2019-02-27 16:13] GeetaSarvadnya commented on #1002
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-21-43-06](https://user-images.githubusercontent.com/38657976/53504839-bbd29d80-3ad8-11e9-9b65-74bb79496481.png)

[2019-02-27 16:22] jamesmudgett commented on #937
![screen shot 2019-02-27 at 10 20 25 am](https://user-images.githubusercontent.com/318119/53505517-96fb0d80-3a79-11e9-8758-bc90b407ed94.png)
[br_banner.zip](https://github.com/brave/browser-android-tabs/files/2911222/br_banner.zip)

This should only be shown once.

[2019-02-27 16:52] GeetaSarvadnya commented on #991
Able to tip verified custom banners, After tipping tip banners doesn't display under Tips table
https://srirambv.github.io/  and
https://kjozwiak.github.io/

Custom banners are considered as non-verified

[2019-02-27 17:02] GeetaSarvadnya commented on #981
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`
![screenshot_2019-02-27-22-32-00](https://user-images.githubusercontent.com/38657976/53508350-9301d680-3adf-11e9-975a-b22438b8b0c6.png)

[2019-02-27 17:21] GeetaSarvadnya commented on #986
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`
![screenshot_2019-02-27-22-51-02](https://user-images.githubusercontent.com/38657976/53509649-33f19100-3ae2-11e9-9227-06d431501b40.png)

[2019-02-27 17:22] mandar-brave commented on #1148
@jamesmudgett can we please take up the key network call topics today on Android and get past them using a loading button - this will reduce design overhead. cc @anthonypkeane

[2019-02-27 17:23] jamesmudgett commented on #1148
Let’s replace the  “Claim” text for the indeterminate progress spinner.

[2019-02-27 17:26] GeetaSarvadnya commented on #985
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-22-55-58](https://user-images.githubusercontent.com/38657976/53509990-fa6d5580-3ae2-11e9-9bfc-6ab51e437d83.png)

[2019-02-27 17:28] GeetaSarvadnya commented on #988
The issue is still reproducible on 1.0.83

[2019-02-27 17:36] GeetaSarvadnya commented on #989
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 17:42] GeetaSarvadnya commented on #990
The issue is still reproducible on 1.0.83

[2019-02-27 17:45] GeetaSarvadnya commented on #984
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 18:23] SergeyZhukovsky commented on #1029
That is fixed here https://github.com/brave/browser-android-tabs/commit/1c1b4316328323a0819e6995d3672f9f2e4f5321

[2019-02-27 18:23] #1029 closed

[2019-02-27 18:34] GeetaSarvadnya commented on #983
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-27 18:53] SergeyZhukovsky commented on #1202
I cannot replicate that, @GeetaSarvadnya could you make a video please?

[2019-02-27 22:18] samartnik opened #1208 "Add flag to enable/disable Brave Rewards"

[2019-02-27 23:17] anthonypkeane opened #1209 "Allow users to set Brave as their Default Browser"
Add functionality to allow users to set Brave as the default Browser

Spec: https://docs.google.com/document/d/1QlfBbG4uQXGHOJgI34V6J1ywWfZuXnzOPf2TGCIpC7I/edit?usp=sharing

[2019-02-27 23:21] anthonypkeane opened #1210 "Update Default Browser notification text"
The notification text to alert the user to set Brave as the default browser should be

Make Brave your default web browser
Save battery and load websites faster without ads
Yes | No

Pls see: https://docs.google.com/document/d/1QlfBbG4uQXGHOJgI34V6J1ywWfZuXnzOPf2TGCIpC7I/edit?ts=5c07fb63#

Currently it shows as

![screenshot_20190226-151959](https://user-images.githubusercontent.com/7606853/535299

[2019-02-27 23:27] anthonypkeane opened #1211 "Toolbar and URL bar are white in Private Mode"
## Description
The updated toolbar and URL bar is white in Private Mode

## Expected result:
The updated bars should match the Private Mode design

**Existing Toolbar**
![screenshot from 2019-02-27 09-27-02](https://user-images.githubusercontent.com/7606853/53530177-e8b88d80-3aa3-11e9-9629-06e9b30bf058.png)

**New Toolbar**
![screenshot from 2019-02-27 09-23-54](https://user-images.githubuserconte

[2019-02-28 01:15] fmarier opened #1212 "The Brave SafeBrowsingData.dat list that iOS uses isn't used on Android"
Brave maintains a `SafeBrowsingData.dat` file that is generated based on a few [upstream lists](https://github.com/brave/ad-block/blob/master/lists/malware.h).

Brave iOS blocks sites found on those lists, but not Brave Android.

Until #454 is done, it would be nice to at least block as many sites as on iOS.

## Steps to Reproduce

   1. Open Brave Browser
   2. Open a new Private Window
   3. Ope

[2019-02-28 03:20] gdregalo commented on #1200
There is always a selected button with an amount to tip.
Fixed in:
https://github.com/brave/browser-android-tabs/commit/8f4901e0db8126ab1b226bed9c5a79c04149a37c

[2019-02-28 03:20] #1200 closed

[2019-02-28 05:58] ryanml commented on #1196
Fixed via: https://github.com/brave/browser-android-tabs/commit/77d469d7c55b49e5bb64efb9f975a1497f1eecd0

[2019-02-28 05:58] #1196 closed

[2019-02-28 13:36] DI555 commented on #581
@SergeyZhukovsky ,
please add this issue to New Backlog milestone !
Without it not poosible browsing normally !!!

[2019-02-28 15:47] SergeyZhukovsky commented on #1153
That was fixed in the context of https://github.com/brave/browser-android-tabs/commit/8f4901e0db8126ab1b226bed9c5a79c04149a37c

[2019-02-28 15:47] #1153 closed

[2019-02-28 16:28] SergeyZhukovsky commented on #1198
That is done https://github.com/brave/browser-android-tabs/commit/8f4901e0db8126ab1b226bed9c5a79c04149a37c

[2019-02-28 16:28] #1198 closed

[2019-02-28 17:23] jamesmudgett commented on #1124
Correct

[2019-02-28 17:27] GeetaSarvadnya commented on #1031
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-28 17:43] anthonypkeane commented on #1124
If rewards are disabled we should show the welcome screen
_-> confirmed on Slack with Jenn and James_

[2019-02-28 17:47] jamesmudgett commented on #1127
Close button isn't needed on Android but all other feedback here is valid. cc: @SergeyZhukovsky @anthonypkeane

[2019-02-28 17:48] jamesmudgett commented on #1149
We will need to copy this screen as closely as possible, close button is necessary here as this is an overlay over Rewards panel. @SergeyZhukovsky @anthonypkeane

[2019-02-28 17:55] jamesmudgett commented on #978
See anything wrong with doing it like this?

In settings we will need a top level row for "Brave Rewards"

Sub settings after tapping "Brave Rewards":

1) Settings (opens Brave Rewards settings)
2) Hide Icon when disabled (yes / no)

@SergeyZhukovsky @anthonypkeane

[2019-02-28 17:57] jamesmudgett commented on #1062
@anthonypkeane What do you think about this: disable Brave Rewards and hide icon in address bar?

[2019-02-28 18:01] anthonypkeane commented on #1062
Confirmed @jamesmudgett

Hide the Brave Rewards icon in the address bar
Hide the Brave Rewards menu item

[2019-02-28 18:30] anthonypkeane commented on #978
Below is the design for this.

The user can decide whether or not to have the BR icon on or off, even if Rewards is enabled or not

The default is On (BR icon is shown)

![br settings settings](https://user-images.githubusercontent.com/7606853/53589232-ba8a8a80-3b43-11e9-9986-2584dc065965.jpg)

[2019-02-28 18:38] jamesmudgett commented on #1167
![screen shot 2019-02-27 at 10 20 25 am](https://user-images.githubusercontent.com/318119/53589716-f114d500-3b44-11e9-9c02-a600a0f74f20.png)

[2019-02-28 18:43] GeetaSarvadnya opened #1213 "Rewards Summary is not displayed in `Your Wallet` page"
## Description

Rewards Summary is not displayed in `Your Wallet` page
## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards and claim UGP grants
   3. Add DDG to a-c table
   4. Wait for the auto-contribution process to complete

## Actual result:
After auto-contribution, rewards summary is not displayed in `Your Wallet` page
![screenshot_2019-03-01-00-12-44](https://user-images.

[2019-02-28 18:43] GeetaSarvadnya commented on #1096
Unable to test the issue as Rewards Summary is not displayed in My Wallet page. Depends on #1213

[2019-02-28 18:46] ryanml commented on #1184
@srirambv - by step 5, are two rewards pages open at this point? Is the first one still showing grant claim button while second one is not? Or did I misread and this all happens on the same page

[2019-02-28 18:48] anthonypkeane commented on #1167
pop up should display on first- run

i.e. user upgrades to the version of the app with BR
When they open the browser, the pop up shows

[2019-02-28 18:50] GeetaSarvadnya commented on #1028
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-28 18:52] GeetaSarvadnya commented on #1026
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-02-27-20-17-26](https://user-images.githubusercontent.com/38657976/53590598-2575a900-3bb8-11e9-84f6-0790ff65ae14.png)

[2019-02-28 18:59] samartnik commented on #1210
@anthonypkeane currently we have `Settings` button (instead of `Yes` and `No`) when this condition is true
`supportsDefault() && !isBraveSetAsDefaultBrowser() && hasAlternateDefaultBrowser()`
Should it be the same `Yes` and `No` for buttons?

[2019-02-28 19:20] ryanml commented on #1190
Closing as a dupe of this one: https://github.com/brave/browser-android-tabs/issues/1213

The problem right now is no items will show for the summary not just tokens

[2019-02-28 19:20] #1190 closed

[2019-02-28 19:29] GeetaSarvadnya opened #1214 "Follow up of #1019- Min time and min page visit settings are not respected"
## Description

Found while testing #1019
Min time and min page visit settings are not respected

## Steps to Reproduce

   1. Clean profile 1.0.83
   2. Enable rewards
   3. Change default auto-contribution settings
   4. Set min page time and min visits to 5 seconds 5 visit respectively
   5. Add a or two sites to a-c table
   6. Verify that sites got added to a-c table ( sites added to a-c tabl

[2019-02-28 19:30] GeetaSarvadnya commented on #1019
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

[2019-02-28 19:41] GeetaSarvadnya commented on #1144
Cannot test the issue as Rewards Summary is not displayed in `Your wallet` page currently, Dependant on #1213

[2019-02-28 19:42] anthonypkeane opened #1215 "Notification to alert user to Brave Rewards"
## Description
When BR is launched on Android, we should notify users of the awesome feature

Text etc TBD

[2019-02-28 19:45] GeetaSarvadnya commented on #1141
The issue is still reproducible on 1.0.83

[2019-02-28 19:46] jamesmudgett commented on #1167
[br_banner.zip](https://github.com/brave/browser-android-tabs/files/2916648/br_banner.zip)

[2019-02-28 19:49] ryanml opened #1216 "Claim process (Rewards panel)"
Original issue: https://github.com/brave/browser-android-tabs/issues/1148

Per @jamesmudgett the "claim" text should be replaced with a generic loader spinner

[2019-02-28 19:50] GeetaSarvadnya commented on #1126
The issue is still Reproducible on 1.0.83
![screenshot_2019-03-01-01-17-40](https://user-images.githubusercontent.com/38657976/53594138-31fdff80-3bc0-11e9-99ec-f4238286697c.png)
![screenshot_2019-03-01-01-18-03](https://user-images.githubusercontent.com/38657976/53594144-36c2b380-3bc0-11e9-9729-c0c35665fc69.png)

[2019-02-28 19:51] NejcZdovc commented on #1124
@anthonypkeane what do you mean welcome screen? Can you paste screen of it please?

[2019-02-28 19:51] mandar-brave commented on #1167
Can we do a link to BR FAQ as learn more in the text --> https://brave.com/faq/#what-is-brave-rewards.

@anthonypkeane @jamesmudgett

[2019-02-28 19:53] GeetaSarvadnya commented on #1123
The issue is still reproducible on 1.0.83

[2019-02-28 20:04] GeetaSarvadnya commented on #1049
Verification passed on `Android ARM - Samsung Galaxy J3 - version 5.1` - Tested on Brave version `1.0.83`

![screenshot_2019-03-01-01-34-31](https://user-images.githubusercontent.com/38657976/53595022-34f9ef80-3bc2-11e9-854a-1e3504d423b2.png)

[2019-02-28 20:14] SergeyZhukovsky commented on #1126
@GeetaSarvadnya the issue was fixed two days ago. 1.0.83 was done 3 days ago. It is not in 1.0.83.

[2019-02-28 20:16] SergeyZhukovsky commented on #1124
@NejcZdovc the one that I posted above

[2019-02-28 20:18] SergeyZhukovsky commented on #1123
@GeetaSarvadnya could you please paste an image? I cannot replicate it. Are you sure that you tried it while you are on settings page?

[2019-02-28 21:07] ryanml commented on #1148
Closed via: https://github.com/brave/browser-android-tabs/commit/b36c645578439f51ba3f0363e4978d61c196fbb8

[2019-02-28 21:07] #1148 closed

[2019-02-28 21:27] SergeyZhukovsky commented on #1211
That's what we have now. @anthonypkeane does it look good? Or should it be all grey?
![img_20190228_162432](https://user-images.githubusercontent.com/12011303/53599624-9e074600-3b75-11e9-90d0-1b161477b5ac.jpg)

[2019-02-28 21:33] ryanml commented on #1191
Fixed via: https://github.com/brave/browser-android-tabs/commit/85268b9f82efdeeec177bf1dbca8dfb136993492

[2019-02-28 21:33] #1191 closed

[2019-02-28 21:47] anthonypkeane commented on #1167
@SergeyZhukovsky, from James design, instead of "continue" pls use "Start here"

_some of this copy may change as we get feedback_

[2019-02-28 21:56] anthonypkeane commented on #1211
Actually it looks fine to me
@jamesmudgett can you chip in?

[2019-02-28 22:40] jumde opened #1218 "Disallow data URLs in top level navigation"
## Description
Data URLs can be used for spoofing. Disallow top level navigations to data URLs.

## Steps to Reproduce

   1. Navigate to http://yigittestman.000webhostapp.com/spoof/aaa.html
   2. Open the hyperlink in new tab

## Actual result:
Can navigate to data urls

## Expected result:
Disallow top-level navigations to data URLs.

## Issue reproduces how often:
Easily

## Issue happens on:

[2019-02-28 22:41] jumde opened #1219 "Disable 3p dynamic HSTS | Expect-CT | PKP headers"
More info here: https://github.com/brave/brave-ios/issues/925

[2019-02-28 22:44] SergeyZhukovsky commented on #1159
Fixed https://github.com/brave/browser-android-tabs/commit/d3be2a858b340d9b25a796c992374df3aaabacb7

[2019-02-28 22:44] #1159 closed

[2019-02-28 22:48] jumde opened #1220 "Do not hide address bar on scroll"
## Description
Hiding URL bar on navigation can be used by phishing actors.

See here: https://www.securitee.org/files/hindsight_ccs2017.pdf (ABB 15-16)

## Steps to Reproduce

   1. Navigate to reddit.com
   2. Scroll
   3. Address bar disappears

## Actual result:
Disappears

## Expected result:
Should be visible

## Issue reproduces how often:
Easily

## Issue happens on:
   - Current Playstore

[2019-02-28 22:58] Brave-Matt opened #1221 "Feature Request: Add an option to toggle "open links in their associated apps" function on/off"
## Description
Users often ask or comment that they're unable to open website links in their associated apps (on device) when available. Most notably reported when opening/browsing YouTube and Twitter links.

**Notes/considerations:**
- This functionality **is already present** in Brave, but messaging/available information on this seems to (understandably) cause confusion about the way this featur

[2019-02-28 23:02] jumde opened #1222 "External links should request user confirmation"
## Description
Third party apps can be opened from Brave without user confirmation

## Steps to Reproduce

   1.  Navigate to: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_mailto
   2.  Click Send Mail

## Actual result:
Mail opens without user confirmation

## Expected result:
All URLs opening external apps should request user confirmation

## Issue reproduces how often:
Easily

[2019-02-28 23:33] Brave-Matt opened #1223 "Feature Request: Allow regular Import/Export option for bookmarks outside of Sync"
## Description
_This issue was originally created a couple years ago (#150) but I felt requires a bit of a bump and update given how frequently it's requested._

**Many users are "blocked" from switching over to Brave due to the inability to import their browsing data** (any/call data, but primary concern seems to be bookmarks) **into Brave from another browser.** Many users have several years wor

[2019-03-01 03:06] SergeyZhukovsky commented on #1199
@GeetaSarvadnya I tried it 30 times, I had 30 BAT as grants and made a tip 1 BAT each time and restarted browser and etc. An issue with 0 tips is fixed. The loop you see is because we cannot get any result from ledger till the tips go through fully. The tips are executed on next start in most of times as you exit browser right away. It should go away soon when we fix our internal issue with synchr

[2019-03-01 03:07] SergeyZhukovsky commented on #1185
@srirambv I checked all of that, it's not a bug at all. The thing that happens is auto-contribution that is set to 30 minutes in the test build and it distributes your balance when you hit it, the default value is 20 BAT.

[2019-03-01 03:07] #1185 closed

[2019-03-01 03:12] yrliou commented on #1199
@SergeyZhukovsky https://github.com/brave/brave-browser/issues/3393

[2019-03-01 05:23] jonathansampson commented on #81
Recently requested on Twitter: https://twitter.com/Joeligj12/status/1101350717518987264?s=19

[2019-03-01 05:29] eljuno commented on #1205
![screenshot_2019-03-01-01-54-48-179_com brave browser](https://user-images.githubusercontent.com/25360853/53618339-d09b5800-3be2-11e9-8a0b-e519b7764b6a.png)

It seems twitter.com now loaded properly with "Ads and trackers" blocked. Closed for now.

[2019-03-01 05:29] #1205 closed

[2019-03-01 13:08] srirambv commented on #1202
I have experienced this as well. Havent seen this happen on the last build though but definitely on the older builds.

[2019-03-01 15:14] samartnik commented on #1115
QA steps:

1.1 Install new version, there should be predefined set of search engines in settings.

2.1 Install old version.
2.2 Set some standard search engine other than predefined.
2.3 Install new version.
2.4 Make sure that there are predefined set of search engines + selected in the old version.
2.5 Repeat tests with private search engine and both.

[2019-03-01 19:10] anthonypkeane commented on #978
**Update**: _(and apologies for any confusion)_

The behaviour on desktop is different and we should align.

See: https://github.com/brave/brave-browser/issues/1475

From the above design the text will change as follows:

Display -> Appearance
Show Brave Rewards Icon -> Hide Brave Rewards Icon

Under Hide Brave Rewards Icon add the following sub text
Hides the Brave Rewards Icon when Brave Rewards

[2019-03-01 19:20] theSurgeonoftheNightSky commented on #81
Yes, please.

[2019-03-01 19:21] Hamburger6 commented on #81
NEED NIGHT MODE!

[2019-03-01 19:22] ajhurliman commented on #601
Would really love to see this prioritized, this would be super helpful. Thanks!

[2019-03-01 20:07] anthonypkeane opened #1224 "What's new screen"
### Feature Request:
We should have a "What's new screen" where we can highlight exciting new features to our users.

@jamesmudgett this could tie in with the onboarding screens you are working on

[2019-03-01 21:14] ryanml commented on #1213
Fixed via: https://github.com/brave/browser-android-tabs/commit/77d469d7c55b49e5bb64efb9f975a1497f1eecd0

[2019-03-01 21:21] pdimri commented on #81
They can't provide. The are not capable of.

On Fri, Mar 1, 2019, 1:21 PM Hamburger6 <notifications@github.com> wrote:

[2019-03-01 21:26] ryanml commented on #1192
This one is up to date in core, will be fixed on next translation pull:

https://github.com/brave/brave-core/blob/master/components/resources/brave_components_strings.grd#L436

[2019-03-01 21:26] #1192 closed

[2019-03-01 21:33] aaylnx commented on #81
After having discovered how much battery life it saves, google is making a
big push to make Android much more night mode friendly and this includes
Chrome.  See the following article.

https://www.androidpolice.com/2019/02/27/you-can-now-enable-dark-mode-for-web-pages-and-content-in-chrome-canary/

In so far that Brave can take this from upstream Chrome/Chromium, maybe it
will happen in the not so

[2019-03-01 22:33] jamesmudgett commented on #1211
Looks fine. The issue here will be getting private mode colors in both the url bar and bottom toolbar. We can update later with the more detail url bar changes seen here: (rounded rectangle vs full rounded corners, other details here https://github.com/brave/browser-android-tabs/issues/992)

![home](https://user-images.githubusercontent.com/318119/53670202-b8e9c100-3c2e-11e9-9221-ea19ae188864.png)

[2019-03-01 22:33] #1211 closed

[2019-03-01 22:41] samartnik opened #1225 "Upgrade to Chromium 72.0.3626.121"

[2019-03-01 22:50] ryanml commented on #1136
Fixed via: https://github.com/brave/browser-android-tabs/commit/384ffc25ff73898bc6d62695e043a2e4ea488f12

[2019-03-01 22:50] #1136 closed

[2019-03-01 22:50] ryanml commented on #1018
Fixed via: https://github.com/brave/browser-android-tabs/commit/384ffc25ff73898bc6d62695e043a2e4ea488f12

[2019-03-01 22:50] #1018 closed

[2019-03-01 22:50] ryanml commented on #1004
Fixed via: https://github.com/brave/browser-android-tabs/commit/384ffc25ff73898bc6d62695e043a2e4ea488f12

[2019-03-01 22:50] #1004 closed

[2019-03-01 22:50] ryanml commented on #1147
Fixed via: https://github.com/brave/browser-android-tabs/commit/384ffc25ff73898bc6d62695e043a2e4ea488f12

[2019-03-01 22:50] #1147 closed

[2019-03-01 22:54] SergeyZhukovsky commented on #1124
Done https://github.com/brave/browser-android-tabs/commit/b6f74804598dcd1401bde3959e505e70b67fc0d3

[2019-03-01 22:54] #1124 closed

[2019-03-02 03:33] beattheprose commented on #1047
Reproduced on Brave 1.0.82 using the [https://minecraft.gamepedia.com/Minecraft_Wiki](https://minecraft.gamepedia.com/Minecraft_Wiki) link.

### Device Details:
- Install Type(ARM, x86): ARM
- Device(Phone, Tablet, Phablet): Phone, BBB100-1 (Blackberry KeyOne)
- Android Version: 7.1.1

### Brave version:
1.0.82

[2019-03-02 14:33] Hamburger6 commented on #81
Someone says that brave browser can't do a night mode? Why?

[2019-03-02 22:34] srirambv opened #1226 "Sites added to the a-c list disappear when new tab is opened"
## Description
Sites added to the a-c list disappear when new tab is opened

## Steps to Reproduce

   1. Add a few sites to the a-c list
   2. Open a new tab with rewards page as active tab
   3. Newly added site is removed from the a-c table (UI only)
   4. Open rewards page again site gets added back

## Actual result:
https://youtu.be/R2OPYO2bkwA (play the video is 0.5x mode to see the effect)

[2019-03-02 22:38] srirambv opened #1227 "Verified Twitch account doesn't show verified in BR panel"
## Description
Verified Twitch account doesn't show verified in BR panel

## Steps to Reproduce

   1. Open verified twitch account on staging
   2. Check the BR panel, shows non-verified
   3. Open a-c list, shows as verified

## Actual result:
![screenshot_20190302-165531](https://user-images.githubusercontent.com/17010094/53688423-a6948380-3d11-11e9-9028-b2750ca39076.png)
![screenshot_20190302-

[2019-03-02 22:41] srirambv opened #1228 "Enable rewards via BR panel still retains the rewards welcome message"
## Description
Enable rewards via BR panel still retains the rewards welcome message

## Steps to Reproduce

   1. Enable rewards, ensure welcome message is hidden in rewards page
   2. Open BR panel and Click on `Enable Rewards`
   3. Welcome message is retained until page is reloaded again

## Actual result:
Enable rewards via BR panel still retains the rewards welcome message

## Expected resul

[2019-03-02 22:48] srirambv opened #1229 "Media publishers duplicates the domain name in a-c entry"
## Description
Media publishers duplicates the domain name in a-c entry

## Steps to Reproduce

   1. Enable Rewards
   2. Visit a Media publisher on YouTube or Twitch
   3. `on Youtube` and `on Twitch` is repeated twice (see screenshot)

## Actual result:
![screenshot_20190302-165543 1](https://user-images.githubusercontent.com/17010094/53688480-9335e800-3d12-11e9-8af3-25ddb28e5e11.png)

## Expec

[2019-03-02 22:50] srirambv opened #1230 "BR Panel should show Rewards settings instead of settings"
## Description
BR Panel should show Rewards settings instead of settings

## Actual result:
![screenshot_20190302-165638](https://user-images.githubusercontent.com/17010094/53688541-8fef2c00-3d13-11e9-8a61-29ce07ca8d76.png)

## Expected result:
should be same as desktop

## Issue reproduces how often:
Easy

### Additional Information

[2019-03-02 22:53] srirambv opened #1231 "Reconcile fails even with sufficient funds"
## Description
Reconcile fails even with sufficient funds

## Steps to Reproduce

   1. Enable rewards and claim grant
   2. Add a few verified and non-verified pubs including media pubs to a-c list
   3. Wait for 30 mins, Error shows up saying process failed due to insufficient funds even though wallet has 30 BAT from grant however a-c list is removed completely

## Actual result:
Reconcile fails

[2019-03-02 23:00] srirambv commented on #1202
@SergeyZhukovsky  here's a recording of the issue. Please watch the video in 0.25x speed so that its easy to see the issue happening. Also noticed that even when a value is selected it still defaults to the default 10BAT and then a second selection changes it to the new value

https://youtu.be/c_dK1JGhUcs

[2019-03-02 23:10] srirambv opened #1232 "Enable rewards via BR panel still shows rewards off"
## Description
Enable rewards via BR panel still shows rewards off

## Steps to Reproduce

   1. Enable rewards and disable
   2. Close the rewards page
   3. Enable rewards via BR panel in a new tab
   4. Open settings page from rewards panel
   5. Rewards page shows rewards state as OFF
   6. Pull down reload page, state doesnt change but BR panel shows enabled state
   7. Turn on rewards on rew

[2019-03-02 23:15] srirambv opened #1233 "Tap radius of buttons on wallet restore is outside of the button area"
## Description
Tap radius of buttons on wallet restore is outside of the button area

## Actual result:
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/17010094/53688780-0f322f00-3d17-11e9-8c10-2e490cefc5aa.gif)

## Expected result:
Should not be that awkward

## Issue reproduces how often:
Easy

## Device Details:
   - Install Type(ARM, x86): ARM
   - Device(Phone, Tablet, P

[2019-03-02 23:23] srirambv opened #1234 "Advance settings options go beyond visual elements in landscape mode"
## Description
Advance settings options go beyond visual elements in landscape mode

## Steps to Reproduce

   1. Open a-c advance settings
   2. Change device orientation to landscape
   3. Dropdown items go beyond the element visually (see video for more understanding)

## Actual result:
https://youtu.be/ADFXUcrOcrs. This would probably be even worse on smaller screen devices. This issue is reco

[2019-03-02 23:36] srirambv opened #1235 "Loading site from top tiles clears existing entries in a-c list"
## Description
Loading site from top tiles clears existing entries in a-c list

## Steps to Reproduce

   1. Visit a few sites to ensure all of them are listed in a-c list
   2. Open a new tab and load a top tile site and stay on it for min time
   3. Open rewards page, existing entries from step 1 is lost and only contains the site from step 2

## Actual result:
Loading site from top tiles clears

[2019-03-03 03:59] pdimri commented on #81
Because Night mode had been requested long long time back and brave team
unitl now could not deliver that. I doubt their capability, meantime other
browsers implemented this feature.

On Sat, Mar 2, 2019, 8:33 AM Hamburger6 <notifications@github.com> wrote:

[2019-03-03 18:37] GeetaSarvadnya commented on #1198
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-03 18:41] GeetaSarvadnya commented on #1196
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-03 18:49] GeetaSarvadnya commented on #1191
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-03 18:51] GeetaSarvadnya commented on #1197
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-04 00:34] anthonypkeane opened #1236 "Displaying favicon for non verified Pubs"
## Description
This one came up before, but as I understand, we shouldn't show the favicon of a website, unless that website is verified.

@mandar-brave to confirm?

![Displaying Facicon.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/2b4bd08a-e75c-4f21-a82a-d1a911901f94)

## Steps to Reproduce

   1. Open a non verified website and open the panel

[2019-03-04 02:33] jonathansampson commented on #81
@pdimri Please understand that this has nothing to do with ability, but rather capacity. Our engineers are presently working very hard to deliver other features in the Android build, including Sync and Rewards. We love the idea of Dark Mode, but will need to focus on that a bit later. Please be patient; our goal is to build the most feature-rich and enjoyable experience possible.

[2019-03-04 03:18] Dho100 commented on #81
I'm not interested in sync, or rewards. Highest priority feature and experience for me is night mode.

[2019-03-04 05:32] NejcZdovc commented on #1236
@anthonypkeane favicons for regular sites are ok, we shouldn't show favicon for media publishers that we need to fetch from the page/api.

[2019-03-04 06:38] ekankyesme opened #1237 "metamask.io"
## Description

## Steps to Reproduce

   1.
   2.
   3.

## Actual result:

## Expected result:

## Issue reproduces how often:

## Issue happens on:
   - Current Playstore version?
   - Beta build?

## Device Details:
   - Install Type(ARM, x86):
   - Device(Phone, Tablet, Phablet):
   - Android Version:

## Brave version:

### Website problems only:
- Does the issue resolve itself when disablin

[2019-03-04 14:54] #1237 closed

[2019-03-04 14:54] srirambv commented on #1237
Please add details and reopen the issue

[2019-03-04 16:45] GeetaSarvadnya commented on #1200
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-04 17:00] GeetaSarvadnya opened #1238 "user can send infinite tips to verified pubs"
## Description
The user can send infinite tips to verified pubs

## Steps to Reproduce

   1.  Clean profile 1.0.85
   2.  Enable Rewards and claim UGP grants ( 30 BAT
   3.  Open DDG in a new tab
   4. Open the BR panel and keep sending  10 BAT (one-time tips) one after the other ( don't close BR panel on each tip send)

## Actual result:
After sending tips, the a-c balance did not go down in BR

[2019-03-04 17:08] anthonypkeane commented on #1236
On this site, on Desktop we have a placeholder icon, not the favicon

@mandar-brave what is the correct behaviour? Cheers

<img width="556" alt="screen shot 2019-03-04 at 9 07 17 am" src="https://user-images.githubusercontent.com/7606853/53749748-ee73f180-3e5c-11e9-82b7-55c82f43e193.png">

[2019-03-04 17:09] NejcZdovc commented on #1236
@anthonypkeane we don't have placeholder. You need to wait for site to load until you see favicon. For example if you open panel again you should see favicon

[2019-03-04 17:10] NejcZdovc commented on #1236
Also we have problem if you visit site as www, then we don't show faivcon as url is by default without www

[2019-03-04 17:12] NejcZdovc commented on #1236
![image](https://user-images.githubusercontent.com/9574457/53750010-feb1be00-3ea8-11e9-81bd-eb19b2e9bf5c.png)

[2019-03-04 17:54] GeetaSarvadnya commented on #1159
Verification passed on Android ARM - Samsung Galaxy J3 - version 5.1 - Brave version 1.0.85

[2019-03-04 18:07] GeetaSarvadnya commented on #1160
The issue still persists on 1.0.85

[2019-03-04 18:51] anthonypkeane opened #1239 "Beta Flag for BR"
## Description
To enable BR for Beta, users can enter chrome://flags and enable BR.

**Settings Text**

Header: Brave Rewards (beta)
Text: Enable Brave Rewards (beta) on your device.

Options
Default (which = off)
Enabled
Disabled

Placement
Where ever is easier, perhaps on the top of the chrome://flags page

![Brave Rewards Flag.jpg](https://images.zenhubusercontent.com/5b919b7b7859ca34f6abcb40/b

[2019-03-04 19:32] samartnik commented on #1225
https://github.com/brave/browser-android-tabs/tree/base-72.0.3626.121

[2019-03-04 19:32] #1225 closed

[2019-03-04 19:34] csong95 commented on #88
Today is march 4, 2019. How is this not implemented it been 3 years since this issue was created.

[2019-03-04 20:14] srirambv opened #1240 "Manual test run on Android ARM for 1.0.84"
## Per release specialty tests
 - [x] Clean up Default search engines settings. ([#1115](https://github.com/brave/browser-android-tabs/issues/1115))
 - [x] \Enter a Sync Chain Code\ instead of "Enter a Sync Chain Code" on code words screen. ([#1120](https://github.com/brave/browser-android-tabs/issues/1120))
 - [x] Upgrade to Chromium 72.0.3626.121. ([#1225](https://github.com/brave/browser-androi

[2019-03-04 20:14] srirambv opened #1241 "Manual test run on Android x86 for 1.0.84"
## Per release specialty tests
 - [x] Clean up Default search engines settings. ([#1115](https://github.com/brave/browser-android-tabs/issues/1115))
 - [x] \Enter a Sync Chain Code\ instead of "Enter a Sync Chain Code" on code words screen. ([#1120](https://github.com/brave/browser-android-tabs/issues/1120))
 - [x] Upgrade to Chromium 72.0.3626.121. ([#1225](https://github.com/brave/browser-androi

[2019-03-04 20:14] srirambv opened #1242 "Manual test run on Android Tab for 1.0.84"
## Per release specialty tests
 - [x] Clean up Default search engines settings. ([#1115](https://github.com/brave/browser-android-tabs/issues/1115))
 - [x] \Enter a Sync Chain Code\ instead of "Enter a Sync Chain Code" on code words screen. ([#1120](https://github.com/brave/browser-android-tabs/issues/1120))
 - [x] Upgrade to Chromium 72.0.3626.121. ([#1225](https://github.com/brave/browser-androi

[2019-03-04 21:25] btlechowski commented on #1225
Verification passed on Samsung s7 (ARM), Brave v1.0.84-rc.2.

![screenshot_20190304-222221_brave](https://user-images.githubusercontent.com/34715963/53763961-544b9200-3ecc-11e9-975d-a364569b2bd9.jpg)

[2019-03-04 21:30] srirambv commented on #1115
Verification passed on Samsung tab.
* Verified clean install only has default search engines for Canada, Russia
* Verified search engine not part of default list is retained for both normal and private tabs post upgrade
* Verified search engine list reduced to default list on upgrade, when default was set on previous version

[2019-03-04 21:36] btlechowski commented on #1120
Verification passed on Samsung s7 (ARM), Brave v1.0.84-rc.2.

Tested on locales: en-GB, en-US, PL.
en-GB:
![screenshot_20190304-223320_brave](https://user-images.githubusercontent.com/34715963/53764532-e1431b00-3ecd-11e9-84de-eb802f82dfd8.jpg)

[2019-03-04 22:36] LaurenWags commented on #1184
@ryanml I can reproduce consistently with these steps:
1. Clean install 1.0.85 (BR_5)
2. Tap on BAT logo
3. Tap on Learn More link
4. chrome://rewards opens in a new tab
5. Tap on Yes I'm Ready --> get creating wallet spinner
6. Once wallet is created, tap on 'Claim' on the banner.
7. Close the "overlay" (which displays grant amount, expiration date, etc) via the x in upper right corner.
8. You wi

[2019-03-04 22:40] ryanml commented on #1184
@laurenwags can you try something for me? Can you do all these steps exactly the same, but in Step 7 can you click the orange Ok button at the bottom of the overlay rather than the X, and report your findings?

[2019-03-04 22:42] LaurenWags commented on #1216
This one seems pretty important. When I followed the steps below I completely screwed up my Rewards instance and couldn't use Rewards until I reinstalled:
1. Join Rewards
2. From the panel (accessed via BAT logo), tap on Claim button to claim a grant.
3. No UI change, so tap a couple more times.
4. Navigate to chrome://rewards, page is blank.
5. Tap on BAT logo, you didn't get the grant -> balance

[2019-03-04 22:47] LaurenWags commented on #1184
@ryanml closing via the orange OK button in step 7 makes the claim banner go away for me.

Should I log https://github.com/brave/browser-android-tabs/issues/1184#issuecomment-469450093 as a separate issue?

[2019-03-04 22:55] LaurenWags commented on #1215
+1 for parity with b-c

[2019-03-04 22:59] ryanml commented on #1184
@laurenwags perfect that was my hunch, fix should be easy. Yes plz if you can log and assign it to me, thanks!

[2019-03-04 23:09] LaurenWags opened #1243 "Claim grant banner not removed when closing success overlay via X"
## Description
Logging from https://github.com/brave/browser-android-tabs/issues/1184#issuecomment-469450093

If you claim a grant from chrome://rewards and close the success overlay via the X, the claim grant banner doesn't go away.

## Steps to Reproduce
1. Clean install 1.0.85 (BR_5)
2. Tap on BAT logo
3. Tap on Learn More link
4. chrome://rewards opens in a new tab
5. Tap on Yes I'm Ready -->

[2019-03-04 23:09] LaurenWags commented on #1184
Thanks! logged https://github.com/brave/browser-android-tabs/issues/1243 for my above comment.

[2019-03-04 23:26] LaurenWags commented on #1232
Reproduced on Asus Zenfone with Android 6.0 and 1.0.85 (BR_5)

[2019-03-05 00:33] LaurenWags opened #1244 "line items displayed on BR panel / BR panel parity with b-c"
## Description
After claiming a grant, BR panel shows line items for Auto Contribute, One time tips, monthly tips, etc. However, these items are 0 BAT, in b-c the line items don't display until they are greater than zero.

## Steps to Reproduce

   1. Clean install 1.0.85 (BR_5)
   2. Enable Rewards.
   3. On chrome://rewards tap on wallet balance (it is 0BAT to start). Note that there are no line

[2019-03-05 00:33] LaurenWags commented on #1244
cc @anthonypkeane for guidance on milestone

[2019-03-05 00:37] ryanml commented on #1243
Fixed via: https://github.com/brave/browser-android-tabs/commit/766c85d4fc14091b83569214ac7bd9c79eb4a249

[2019-03-05 00:37] #1243 closed

[2019-03-05 03:21] SergeyZhukovsky commented on #1199
It's done in that update https://github.com/brave/browser-android-tabs/commit/d62da87fd113c1d6afeb87d882c93185cfd626d4

[2019-03-05 03:21] #1199 closed

[2019-03-05 03:51] btlechowski commented on #1240
Verification passed on Samsung s7 (ARM), Brave v1.0.84-rc.2.

[2019-03-05 03:51] #1240 closed

[2019-03-05 03:52] anthonypkeane commented on #1208
Duplicate of https://github.com/brave/browser-android-tabs/issues/1239

[2019-03-05 03:57] SergeyZhukovsky commented on #1238
That is fixed https://github.com/brave/browser-android-tabs/commit/d62da87fd113c1d6afeb87d882c93185cfd626d4

[2019-03-05 03:57] #1238 closed

[2019-03-05 04:03] anthonypkeane opened #1246 "Ads panel will need “coming soon” text"
## Description
Ads won't be live when we launch BR on Android, so please add "coming soon" to that area in Settings

[2019-03-05 09:17] Quazo commented on #81
+1

[2019-03-05 14:39] SergeyZhukovsky commented on #1194
@srirambv it is not a rewards(or settings page) related at all. You should understand how the % counts. There is an event on every single page `onHide` or `onClose`. The % gets recalculated only when we receive that event. That been said, we cannot say and calculate % for you if you stay active on that page, the page should be hidden or closed to be able to recalculate it. It is the same on deskto

[2019-03-05 14:39] #1194 closed

[2019-03-05 14:41] srirambv commented on #1194
Thanks for the explanation @SergeyZhukovsky 👍

[2019-03-05 15:08] srirambv commented on #1242
Verification complete on Samsung tab. Looks good

[2019-03-05 15:08] #1242 closed

[2019-03-05 15:12] LaurenWags commented on #1241
In addition to items checked above:
- verified sync chain was still functional after update
- on updated and new profiles: quick check of shields, media background playback, video playback in Brave
- general sanity check of 1.0.84 rc2

[2019-03-05 15:12] #1241 closed

[2019-03-05 16:38] SergeyZhukovsky commented on #1188
@ryanml could we show `Please try again later` message in that case as well?

[2019-03-05 16:46] SergeyZhukovsky commented on #1184
I have a weird state of settings page after an upstream update of brave-core when I do original steps. After step #3 the whole page becomes white and it doesn't recover even when I turn on the Internet again and even when I restart a browser. @ryanml could you please check that?

[2019-03-05 16:52] SergeyZhukovsky commented on #1183
It is probably related to that issue https://github.com/brave/browser-android-tabs/issues/1184

[2019-03-05 16:53] SergeyZhukovsky commented on #1183
I could not replicate that on a new brave-core version, but the Claim button never appeared to me at all after reenabling network